/******************************************/
/* MSIE SPLASH */
html, body {
  width:100%; height:100%;
}

body   * { display: none; }
body > * { display: none !important; }

body   .msie-splash   { display: block; }
body > .msie-splash   { display: block !important; }
body   .msie-splash * { display: block; }

.msie-splash {
  z-index: 30000;
  top: 0; left: 0;
  position: absolute;
  width: 100%; height:100%;
  background: white;
}

.msie-splash * {
  color: black;
  background: white;
  text-align: center;
}

.msie-splash h1 {
  margin: 0 0 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  text-decoration: none;
  font: normal normal bold 28pt/normal 'Arial', 'Verdana', sans-serif;
  color: #404040;
}

.msie-splash p {
  font: normal normal normal 18pt/normal 'Arial', 'Verdana', sans-serif;
}

.msie-splash .msie-splash-content {
  width: 780px;
  margin: 0 auto; padding: 40px;
  font: normal normal normal 10pt/normal 'Arial', 'Verdana', sans-serif;
}

.msie-splash .msie-splash-browser {
  float: left;
  cursor: pointer;
  display: block;
  width: 130px;
  margin: 0 5px; padding-top: 140px;
  text-decoration: none;
  font: normal normal normal 12pt/normal 'Arial', 'Verdana', sans-serif;
  background: transparent url('../../tsr-components/tsr-msie-splash/tsr-msie-splash.png') no-repeat scroll 0 0;
  filter: expression(document.execCommand('BackgroundImageCache', false, true));
  text-decoration: underline;
  color: #000080;
}
.msie-splash .msie-splash-ch { background-position:    0px 0; }
.msie-splash .msie-splash-fx { background-position: -130px 0; }
.msie-splash .msie-splash-op { background-position: -260px 0; }
.msie-splash .msie-splash-sf { background-position: -390px 0; }
.msie-splash .msie-splash-ie { background-position: -520px 0; }

.msie-splash .msie-splash-cl {
  clear: both;
  float: none;
  height: 0; width: 0;
  margin: 0; padding: 0;
  overflow: hidden;
  visibility: hidden;
}
