/******************************************/
/* river-apple */
#river *,
#river *::before,
#river *::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#river {
  font-family: 'Arial Webfont', 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Frutiger', 'Arial', sans-serif;
  font-size: 16px;
  color: #6d6e71;
}

#river a {
  color: #08c;
}

#river img {
  max-width: 100%;
}

#river p {
  line-height: 1.8em;
}

#river h1,
#river h2,
#river h3 {
  line-height: 1em;
}

#river h3.riverHeadings {
  font-size: 2.6em;
  color: #333;
}
#river h3.river-content-section-heading {
  font-size: 2.2em;
  color: #333;
  font-weight: 300;
  margin: 0;
}
#river h3.riverHeadingPaddingNone {
  margin: 0;
}

#river .riverContentDesktop {
  display: none;
}

#river .riverContentMobile {
  display: block;
}

#river .riverClearBoth {
  clear: both;
}

#river .riverFloatRight {
  float: right;
}

#river .riverFloatLeft {
  float: right;
}

#river .riverTextCenter {
  text-align: center;
}

#river .riverHeaderSection {
  padding: 50px 0 0 0;
  background: #fff;
}

#river .riverHeaderLogo {
  margin: 0 auto;
  text-align: center;
}

#river .riverHeaderLogo .riverLogo {
  margin: 0 auto;
}

#river .riverHeaderCenterSection {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#river .riverTopSectionSubHeading {
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  color: #333;
  margin-top: 10px;
  margin-bottom: 5%;
}

#river .riverHeaderBuyNowLeft,
#river .riverHeaderBuyNowRight,
#river .riverheaderMiddleLogo {
  display: block;
}

#river .riverHeaderBuyNowLeft {
  width: 50%;
  float: left;
  padding: 10px;
}

#river .riverHeaderBuyNowRight {
  width: 50%;
  float: left;
  padding: 10px;
}

#river .riverHeaderBuyNowLink {
  text-align: center;
  text-decoration: none;
  color: #a29e9e;
  border: 1px solid #a29e9e;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 2px 10px 2px 10px;
  display: inline-block;
  font-size: 1em;
  line-height: 1.8;
  margin: 15px 0 0 0;
}

#river .riverHeaderBottomContent {
  padding: 3% 1% 7% 1%;
  font-size: 1em;
}

#river .riverHeaderBottomContentCopy {
  width: 100%;
  margin: 0 auto;
  padding: 1em 0 2em 0;
  font-size: 1em;
}

#river .riverContentContainer {
  width: 100%;
  padding: 2em 0 0 0;
  background: #fff;
}

#river .riverDarkBackground {
  background: #f0f0f0;
}

#river .riverContentHolderSectionRight {
  display: block;
  margin: 0 8%;
}

#river .riverContentHolderSectionLeft {
  display: block;
  margin: 0 8%;
}

#river .riverContentHolderSectionLeftCopy {
  margin: 10% 5% 0 5%;
}

#river .riverContentHolderSectionRightCopy {}


#river .riverNothingLikeSection {
  background: #E7E7E9;
}

#river .river-bau-extra-small-content {
  color: #6d6e71;
  padding: 2em 1em;
  font-size: x-small;
  color: #a2a2a2;
  line-height: 1.5em;
}

#river .riverContentContainerbottomPadding {
  padding-bottom: 50px;
}

#river .riverContentHolderSectionTouchID {
  margin: 0;
}

#river .riverIphone6sBuyNowCTA {
  margin-top: 30px;
}

#river .riverHeaderLogoSection {
  padding: 50px 15px 15px 15px;
}

#river .riverContentHolderSectionRightCopy {
  margin: 10% 5% 0 5%;
}

#river p.river-inside-div-content {
  margin: 5% 0 9% 0;
}

#river .riverNothingLikeSection .riverContentHolderSectionTop {
  margin: 10% 5% 0 5%;
}

#river .riverHeaderLogoiPhone6 {
  padding-bottom: 35px;
}

#river .riverHeaderLogoiPhone6 img.riverContentMobile {
  width: 34%;
}

#river .riverIphone6CompareSectionsMobile {
  width: 45%;
  margin: 0 auto;
}

#river .riverNothingLikeSection .riverContentHolderSectionBottom {
  margin: 0 5% 0 0;
}

#river .riverHeaderSectionIphone5sHeadline a,
#river .riverHeaderSectionComparePhonesHeadline a {
  margin: 20px 0 25px 0;
}

#river .riverContentHolderSectionTouchID .riverContentMobile {
  width: 90%;
}

#river .riverHeaderSectionComparePhonesHeadline h2 {
  border-bottom: none;
  font-size: 2.6em;
}

#river .riveriPhone6BuySection .riverHeaderBuyNowLeft {
  width: 33.3%;
  float: left;
  margin-top: 17%;
}

#river .riveriPhone6BuySection .riverIphone6CompareSectionsMobile {
  width: 33.3%;
  float: left;
}

#river .riveriPhone6BuySection .riverHeaderBuyNowRight {
  width: 33.3%;
  float: left;
  margin-top: 17%;
}

#river .riveriPhone6BuySection .riverHeaderCenterSection {
  width: 100%;
}

#river .riveriPhone6BuySection a {
/*
  padding: 0 8px;
  margin: 0;
  font-size: 0.9em;
*/
}

#river .riverHeaderCenterSection .riverheaderMiddleLogo img.riverContentMobile {
  margin: 0 auto;
}

#river img.riverContentMobile4GLTEContent,
#river img.riverContentMobileBreakThoughDesign,
#river img.riverContentMobileIOS9 {
  margin: 0 auto;
}

#river .riverHeaderCenterSection .riverIphone6sBuyNowCTA .riverHeaderBuyNowRight img.riverContentMobile,
#river .riverHeaderCenterSection .riverIphone6sBuyNowCTA .riverHeaderBuyNowLeft img.riverContentMobile {
  margin: 0 auto;
}

#river .river-content-section-heading-breakThroughDesign {
  line-height: 1.2em;
}

#river .riverHeaderSectionComparePhonesHeading {
  color: #000;
}

#river .riverHeaderSectionComparePhonesSubHeading {
  color: #7a7a7a;
}

@media only screen and (min-width: 800px) {
  #river .riverContentDesktop {
    display: block;
  }

  #river .riverContentMobile {
    display: none;
  }

  #river .riverHeaderBuyNowLeft,
  #river .riverHeaderBuyNowRight {
    1position: relative;
    1top: -20em;
    margin: 0;
    width: 30%;
  }

  #river .riverIphone6sBuyNowCTA {
    1position: relative;
    1bottom: 94px;
  }

  #river .riverHeaderBuyNowLink {
    text-align: center;
    text-decoration: none;
    coalor: #a29e9e;
    border: 1px solid #a29e9e;
    padding: 5px 12px 5px 12px;
    display: inline-block;
    font-size: 1.1em;
    margin: 15px 0 15px 0;
  }

  #river .riverTopSectionSubHeading {
    font-size: 2em;
  }

  #river .riverHeaderBottomContentCopy {
    padding: 3% 14% 3% 14%;
    font-size: 1.2em;
  }

  #river .riverHeaderLogo .riverLogo {
    margin: 0 auto;
  }

  #river h3.river-content-section-heading {
    font-size: 2.3em;
  }

  #river .riverContentHolderSectionLeft {
    float: left;
    display: inline-block;
    width: 43%;
    margin: 0 0 0 2%;
  }

  #river .riverContentHolderSectionRight {
    width: 34%;
    padding-right: 3%;
    display: block;
    float: right;
  }

  #river .riverContentContainer .riverContentHolderSectionRightCopy {
    margin: 0% 8% 0 0;
    width: 41%;
  }

  #river h3.river-content-section-heading {
    font-size: 2.6em;
  }

  #river .riverHeaderLogo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  #river .riverHeaderCenterSection {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }

  #river .riverContentHolderSectionLeft {
    display: inline-block;
    margin: 0 0 0 2%;
  }

  #river .riverContentHolderSectionRight img {
    padding-left: 20px;
  }

  #river p.river-inside-div-content-IOS9 {
    width: 60%;
  }

  #river .riverContentHolderSectionTop p {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 0 0 5% 0;
  }

  #river .riverContentHolderSectionTop h3 {
    text-align: center;
    padding: 23px 0 25px 0;
  }

  #river .riverContentHolderSectionTop p {
    text-align: center;
    margin: 0 auto;
  }

  #river .riverHeaderLogoiPhone6 {
    margin: 2% 0 4% 0;
  }

  #river .riverHeaderLogo {
    margin: 0 auto;
    text-align: center;
  }

  #river .riverIphone6CompareSectionsMobile {
    width: 100%;
  }

  #river .riverNothingLikeSection .riverContentHolderSectionBottom {
    margin: 0;
  }

  #river .riverContentHolderSectionLeft {
    display: inline-block;
    margin: 3% 8%;
    width: 43%;
  }

  #river .riverMainHeaderLogoSection .riverheaderMiddleLogo img.riverContentDesktop {
    margin: 0 auto;
  }

  #river .riverIphone6sBuyNowCTA .riverHeaderBuyNowLeft img.riverContentDesktop,
  #river .riverIphone6sBuyNowCTA .riverHeaderBuyNowRight img.riverContentDesktop {
    margin: 0 auto;
  }

  #river .riverIphone6sBuyNowCTA .riverHeaderBuyNowRight {
    float: right;
  }

  #river .riverContentHolderSectionLeftCopy {
    display: inline-block;
    margin: 8% 0% 2% 8%;
    width: 46%;
  }

  #river .riverContentContainer {
    padding: 3em 0 0 0;
  }

  #river .riverHeaderBottomContentCopy {
    text-align: center;
  }

  #river .riverContentHolderSectionRight {
    margin: 0 6%;
  }

  #river .riverContentHolderSectionRightCopy {
    width: 39%;
  }

  #river .riverContentHolderSectionLeft {
    margin: 2% 0% 0% 8%;
    width: 41%;
  }

  #river .riverContentHolderSectionRightCopy {
    padding: 0;
  }

  #river .riverContentContainer .riverContentHolderSectionRightCopy {
    margin-top: 11%;
  }

  #river .riverContentHolderSectionTouchID {
    margin: 0;
  }

  #river .riverNothingLikeSection .riverContentHolderSectionTop {
    margin: 1% 5% 0 5%;
  }

  #river .riveriPhone6BuySection .riverHeaderBuyNowLeft,
  #river .riveriPhone6BuySection .riverHeaderBuyNowRight {
    position: static;
  }

  #river .riveriPhone6BuySection .riverHeaderBuyNowLeft img.riverContentDesktop,
  #river .riveriPhone6BuySection .riverHeaderBuyNowRight img.riverContentDesktop {
    margin: 0 auto;
  }

  #river .riveriPhone6BuySection .riverHeaderBuyNowLeft,
  #river .riveriPhone6BuySection .riverHeaderBuyNowRight {
    margin-top: 13em;
  }

  #river .riveriPhone6BuySection .riverheaderMiddleLogo img.riverContentDesktop,
  #river .riverHeaderSectionIphone5sHeadline .riverIphone6CompareSectionsMobile img.riverContentDesktop,
  #river .comparePhonesImageRiver {
    margin: 0 auto;
  }

  #river .riveriPhone6BuySection a {
    text-align: center;
    text-decoration: none;
    coalor: #a29e9e;
    border: 1px solid #a29e9e;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 5px 12px 5px 12px;
    display: inline-block;
    font-size: 1.1em;
    margin: 20px 0 0 0px;
  }

  #river .riveriPhone6BuySection .riverHeaderBuyNowLeft {
    padding-left: 12%;
  }

  #river .riveriPhone6BuySection .riverHeaderBuyNowRight {
    padding-right: 12%;
  }

  #river .riverContentContainer.riverContentContainerbottomPadding {
    padding-bottom: 50px;
  }

  #river .riverMainHeaderLogoSection .riverHeaderCenterSection {
    position: relative;
  }

  #river .riverMainHeaderLogoSection .riverHeaderBuyNowLeft {
    position: absolute;
    bottom: 10%;
    left: 1%;
  }

  #river .riverMainHeaderLogoSection .riverHeaderBuyNowRight {
    position: absolute;
    bottom: 10%;
    right: 0%;
  }

  #river .riverIphone6sBuyNowCTA {
    margin-top: 0;
  }

  #river .riverContentContainer .riverContentHolder3DSection {
    margin-top: 9%;
  }

  #river .riverContentContainer .riverContentHolderCameraSection {
    margin-top: 12%;
  }

  #river .riverContentContainer .riverContentHolderArchitectureSection {
    margin-top: 6%;
  }

  #river .riverContentContainer .riverContentHolderDesignSection {
    margin-top: 14%;
  }

  #river .riverContentContainer .riverContentHolderLTEWiFiSection {
    margin-top: 16%;
  }

  #river .riverContentContainer .riverContentHolderIOS9Section {
    margin-top: 12%;
  }

  #river .riverContentContainer .riverContentHolderSectionRightImageContent {
    margin: 0 15% 0 0;
  }
}

@media only screen and (min-width: 1024px) {
  #river .riverMainHeaderLogoSection .riverHeaderBuyNowRight {
    position: absolute;
    bottom: 10%;
    right: 6%;
  }

  #river .riverMainHeaderLogoSection .riverHeaderBuyNowLeft {
    position: absolute;
    bottom: 10%;
    left: 7%;
  }

  #river .riverHeaderBottomContentCopy {
    font-size: 1.4em;
  }

  #river .riverTopSectionSubHeading {
    font-size: 2.4em;
  }
}


#river .riverImageDesktop640 { margin: 0 auto; display: none; }
#river .riverImageMobile640  { margin: 0 auto; display: block; }

@media only screen and (min-width:640px) {
  #river .riverImageDesktop640 { display: block; }
  #river .riverImageMobile640  { display: none; }
}
















/******************************************/
/* river-apple */
#river-7 *,
#river-7 *::before,
#river-7 *::after {
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

#river-7 {
 font-family: 'Arial Webfont', 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', 'Frutiger', 'Arial', sans-serif;
 font-size: 16px;
 color: #6d6e71;
}

#river-7 a {
 color: #08c;
}

#river-7 img {
 max-width: 100%;
}

#river-7 p {
 line-height: 1.8em;
}

#river-7 h1,
#river-7 h2,
#river-7 h3 {
 line-height: 1em;
}

#river-7 .iphone7_river {
 margin: 0 auto;
 max-width: 1100px;
 display: block;
 height: auto;
 overflow: hidden;
}

#river-7 .iphone7_river h2 {
 padding: 0;
 border-bottom: 0;
}

#river-7 .iphone7_river .mobile {
 display: none !important;
}

#river-7 .clearBoth {
 clear: both;
}

#river-7 .featureRow {
 line-height: 0;
}

#river-7 .featureRow, .featureRow img {
 width: 100%;
}

#river-7 .featureRow .iphone7_button,
#river-7 .featureRow .iphone7plus_button {
 width: 50%;
 float: left;
 margin: 0;
}

#river-7 .designFeatures,
#river-7 .cameraFeatures,
#river-7 .plusCameraFeatures,
#river-7 .displayFeatures,
#river-7 .processorFeatures,
#river-7 .audioFeatures,
#river-7 .fourGFeatures,
#river-7 .logoHeader {
 width: 100%;
 height: 92px;
 position: absolute;
 text-align: center;
}

#river-7 .buttonRow {
  margin-top: 60px;
}

#river-7 .logoHeader {
 top: 97px;
}

#river-7 .descRow .designIcon {
 width: 250px;
}

#river-7 .specsHeader {
 width: 100%;
 height: auto;
 position: absolute;
 text-align: center;
}

#river-7 .specsHeader h2,
#river-7 .specsHeader h3 {
 color: #FFF;
 line-height: 1.07724;
 letter-spacing: 0em;
 margin: 0 auto;
 font-family: Frutiger45Light, sans-serif;
 font-weight: 300;
}

#river-7 .specsHeader h2 {
 font-size: 48px;
 color: #f9f9f9;
}

#river-7 .specsHeader h3 {
 font-size: 24px;
 margin-bottom: 18px;
 color: #b7b7b7;
}

#river-7 .designRow .specsHeader {
 top: 113px;
}

#river-7 .cameraRow .specsHeader {
 top: 103px;
}

#river-7 .plusCameraRow .specsHeader {
 top: 113px;
}

#river-7 .displayRow .specsHeader {
 top: 113px;
}

#river-7 .processorRow .specsHeader {
 top: 108px;
}

#river-7 .audioRow .specsHeader {
 top: 113px;
}

#river-7 .fourGRow .specsHeader {
 top: 115px;
}

#river-7 .softwareRow .specsHeader {
 top: 123px;
}

#river-7 .designRow .specsHeader h2 {
 max-width: 370px;
}

#river-7 .cameraRow .specsHeader h2 {
 max-width: 518px;
}

#river-7 .plusCameraRow .specsHeader h2 {
 max-width: 100%;
}

#river-7 .displayRow .specsHeader h2 {
 max-width: 615px;
}

#river-7 .processorRow .specsHeader h2 {
 max-width: 500px;
}

#river-7 .fourGRow .specsHeader h2 {
 max-width: 590px;
}

#river-7 .softwareRow .specsHeader h2 {
 max-width: 570px;
}

#river-7 .fourGRow sup {
 font-size: 22px;
 position: relative;
 top: -19px;
 left: -2px;
}

#river-7 .phoneDesc {
 width: 100%;
 height: auto;
 padding: 0 7%;
 position: absolute;
 text-align: center;
 bottom: 200px;
}

#river-7 .phoneDesc p {
 max-width: 747px;
 color: #cccccc;
 font-size: 24px;
 line-height: 1.33349;
 font-weight: 300;
 letter-spacing: 0em;
 font-synthesis: none;
 text-rendering: optimizeLegibility;
 direction: ltr;
 margin: 0 auto;
}

#river-7 .buttonRow span {
 font-size: 24px;
 color: #cccccc;
 margin-bottom: 10px;
 display: inline-block;
}

#river-7 .buttonRow a img {
 width: auto;
}

#river-7 .designFeatures {
 top: 300px;
}

#river-7 .cameraFeatures, .displayFeatures {
 bottom: 10%;
}

#river-7 .audioFeatures {
 bottom: 9%;
}

#river-7 .plusCameraFeatures {
 top: 21.5%;
}

#river-7 .processorFeatures {
 top: 24%;
}

#river-7 .fourGFeatures {
 bottom: 8%;
}

#river-7 .clickButton, .designIcon {
 display: inline-block;
}

#river-7 .buttonRow .clickButton {
 text-align: center;
 line-height: normal;
 width: 40%;
}

#river-7 .buttonStandard {
 display: inline-block;
 vertical-align: top;
 color: #999999;
 border: 1px solid #999999;
 font-size: 18px;
 text-align: center;
 text-decoration: none;
 border-radius: 100px;
 line-height: 1;
 min-width: 100px;
 padding: 10px 20px;
}

#river-7 .designIcon {
 margin: 0 auto;
}

#river-7 .descRow,
#river-7 .designRow,
#river-7 .cameraRow,
#river-7 .plusCameraRow,
#river-7 .displayRow,
#river-7 .processorRow,
#river-7 .audioRow,
#river-7 .fourGRow,
#river-7 .softwareRow {
 position: relative;
}

#river-7 .compareRow {
 background: #fff;
 height: auto;
 display: inline-block;
 text-align: center;
 width: 100%;
}

#river-7 .compareHeader {
 width: 100%;
 height: auto;
 text-align: center;
 margin-top: 80px;
}

#river-7 .compareHeader h2 {
 font-size: 19px;
 color: #000;
}

#river-7 .compareHeader h3 {
 font-size: 30px;
 margin-bottom: 18px;
 color: #000;
}

#river-7 .compareDevices {
 height: auto;
 padding: 0 4%;
 margin: 85px 0 125px 0;
 display: inline-block;
}

#river-7 .compareDevices .designIcon {
 width: 200px;
 max-width: 100%;
 display: inline-block;
 padding: 10px;
}

#river-7 .legalRow {
 background: #f0f0f0;
 color: #999999;
 width: 100%;
 border-top: 1px solid #999999;
 font-size: 12px;
 padding: 25px;
 width: auto;
}

#river-7 .legalRow ol {
 margin: 0;
 padding: 0 15px;
}

#river-7 .legalRow ol li {
 margin: 5px 0;
}

#river-7 .legalRow .appleLink {
 color: #666;
}



@media screen and (min-width: 575px) and (max-width: 768px) {
#river-7 .logoHeader {
 top: 32px;
}

#river-7 .phoneDesc {
 bottom: 100px;
}

#river-7 .buttonRow {
 margin-top: 60px;
}

#river-7 .designRow
#river-7 .specsHeader,
#river-7 .cameraRow .specsHeader,
#river-7 .plusCameraRow .specsHeader,
#river-7 .displayRow .specsHeader,
#river-7 .processorRow .specsHeader,
#river-7 .audioRow .specsHeader,
#river-7 .fourGRow .specsHeader,
#river-7 .softwareRow .specsHeader {
 top: 4%;
}

#river-7 .specsHeader h2 {
 font-size: 36px;
}

#river-7 .specsHeader h3 {
 font-size: 24px;
}

#river-7 .designIcon {
 width: 76%;
}

#river-7 .designFeatures {}

#river-7 .cameraFeatures,
#river-7 .displayFeatures,
#river-7 .audioFeatures {
 bottom: 10%;
}

#river-7 .plusCameraFeatures {
 top: 21%;
}

#river-7 .processorFeatures {
 top: 24%;
}

#river-7 .fourGFeatures {
 bottom: 8%;
}

#river-7 .designRow .specsHeader h2 {
 max-width: 330px;
}

#river-7 .cameraRow .specsHeader h2 {
 max-width: 440px;
}

#river-7 .plusCameraRow .specsHeader h2 {
 max-width: 100%;
}

#river-7 .displayRow .specsHeader h2 {
 max-width: 488px;
}

#river-7 .processorRow .specsHeader h2 {
 max-width: 395px;
}

#river-7 .fourGRow .specsHeader h2 {
 max-width: 460px;
}

#river-7 .softwareRow .specsHeader h2 {
 max-width: 460px;
};
}

@media screen and (min-width: 768px) and (max-width: 900px) {
#river-7 .processorFeatures {
 top: 28%;
}

#river-7 .plusCameraFeatures {
 top: 23.5%;
};
}

@media only screen and (max-width: 574px) {
#river-7 .section-wrap {
 margin-bottom: 0;
}

#river-7 .logoHeader {
 top: 32px;
}

#river-7 .phoneDesc {
 position: absolute;
 text-align: left;
 bottom: 50px;
}

#river-7 .phoneDesc p {
 font-size: 18px;
 width: auto;
}

#river-7 .buttonRow span {
 font-size: 23px;
}

#river-7 .buttonRow a {
 margin: 0px auto;
}

#river-7 .buttonRow a img {
 width: 100%;
}

#river-7 .buttonRow .clickButton {
 display: block;
 width: 100%;
 margin-top: 30px;
}

#river-7 .designFeatures {
 top: 230px;
}

#river-7 .cameraFeatures {
 bottom: 9%;
}

#river-7 .displayFeatures {
 bottom: 3%;
}

#river-7 .audioFeatures {
 bottom: 8.5%;
}

#river-7 .fourGFeatures {
 bottom: 6%;
}

#river-7 .plusCameraFeatures {
 top: 232px;
}

#river-7 .processorFeatures {
 top: 330px;
}

#river-7 .designRow .specsHeader,
#river-7 .cameraRow .specsHeader,
#river-7 .plusCameraRow .specsHeader,
#river-7 .displayRow .specsHeader,
#river-7 .processorRow .specsHeader,
#river-7 .audioRow .specsHeader,
#river-7 .fourGRow .specsHeader,
#river-7 .softwareRow .specsHeader {
 top: 80px;
}

#river-7 .designRow .specsHeader h2 {
 max-width: 280px;
}

#river-7 .cameraRow .specsHeader h2 {
 max-width: 270px;
}

#river-7 .plusCameraRow .specsHeader h2 {
 max-width: 305px;
}

#river-7 .displayRow .specsHeader h2 {
 max-width: 290px;
}

#river-7 .processorRow .specsHeader h2 {
 max-width: 275px;
}

#river-7 .audioRow .specsHeader h2 {
 max-width: 240px;
}

#river-7 .fourGRow .specsHeader h2 {
 max-width: 313px;
}

#river-7 .softwareRow .specsHeader h2 {
 max-width: 309px;
}

#river-7 .designIcon {
 width: 282px;
}

#river-7 .fourGRow sup {
 font-size: 18px;
 top: -15px;
}

#river-7 .descRow .designIcon {
 width: 43%;
}

#river-7 .iphone7_river .desktop {
 display: none !important;
}

#river-7 .iphone7_river .mobile {
 display: block !important;
}

#river-7 .designFeatures,
#river-7 .cameraFeatures,
#river-7 .plusCameraFeatures,
#river-7 .displayFeatures,
#river-7 .processorFeatures,
#river-7 .audioFeatures,
#river-7 .fourGFeatures,
#river-7 .logoHeader {
 height: auto;
}

#river-7 .specsHeader h2 {
 font-size: 38px;
 color: #f9f9f9;
 line-height: 1.1;
}

#river-7 .specsHeader h3 {
 font-size: 22px;
 margin-bottom: 14px;
 color: #b7b7b7;
}

#river-7 .compareDevices {
 margin: 70px 0 25px 0;
 width: auto;
}

#river-7 .compareHeader {
 margin-top: 80px;
}

#river-7 .compareHeader h2 {
 font-size: 17px;
}

#river-7 .compareHeader h3 {
 font-size: 27px;
};
}
