/********************/
/* MODULE BACKGROUNDS */

.tsr-module-bcombo-a {
  position: relative;
  width: auto; min-height: 850px;
}
.tsr-module-bcombo-a .tsr-module-bcombo-back {
  z-index: 0;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}
.tsr-module-bcombo-a .tsr-module-bcombo-fore,
.tsr-module-bcombo-a .tsr-module-bcombo-fore .tsr-container {
  z-index: 1;
  position: relative;
}
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 {
  z-index: 0;
  position: absolute;
  left: 50%; top: 0;
  width: 50%; height: 100%;
  background: #f6f6f6 url('../../tsr-modules/tsr-backgrounds/tsr-background-a.png') no-repeat left bottom;
}
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { position: absolute; left:  0; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { position: absolute; right: 0; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { position: absolute; left:  0; }

.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding-left: 400px; margin-left: -400px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { width: 700px; top:  70px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { width: 430px; top: 340px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { width: 700px; top: 580px; }

/********************/
@media screen and (min-width: 1900px) {
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding-left: 600px; margin-left: -600px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { width: 700px; top:  70px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { width: 700px; top: 350px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { width: 700px; top: 580px; }
}
/********************/
@media screen and (max-width: 1900px) {
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding-left: 600px; margin-left: -600px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { width: 700px; top:  70px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { width: 700px; top: 350px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { width: 700px; top: 580px; }
}
/********************/
@media screen and (max-width: 1420px) {
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding-left: 500px; margin-left: -500px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { width: 700px; top:  70px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { width: 600px; top: 350px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { width: 700px; top: 580px; }
}
/********************/
@media screen and (max-width: 1260px) {
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding-left: 450px; margin-left: -450px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { width: 700px; top:  70px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { width: 500px; top: 340px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { width: 700px; top: 580px; }
}
/********************/
@media screen and (max-width: 1140px) {
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding-left: 400px; margin-left: -400px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { width: 700px; top:  70px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { width: 430px; top: 340px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { width: 700px; top: 580px; }
}
/********************/
@media screen and (max-width: 1020px) {
.tsr-module-bcombo-a { min-height: 0; }
.tsr-module-bcombo-a .tsr-module-bcombo-back    { display: none; }
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { display: none; }
.tsr-module-bcombo-a .tsr-module-bcombo-back-01 { padding: 0; margin-left: 0; background: none; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-01 { position: static; width: auto; left:  auto; top: auto; margin-top:  0px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-02 { position: static; width: auto; right: auto; top: auto; margin-top: 30px; }
.tsr-module-bcombo-a .tsr-module-bcombo-fore-03 { position: static; width: auto; left:  auto; top: auto; margin-top: 30px; }
}

/********************/
/* MODULE BACKGROUNDS */

.tsr-module-bcombo-b {
  position: relative;
  width: auto; min-height: 220px;
}
.tsr-module-bcombo-b .tsr-module-bcombo-back {
  z-index: 0;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}
.tsr-module-bcombo-b .tsr-module-bcombo-fore,
.tsr-module-bcombo-b .tsr-module-bcombo-fore .tsr-container {
  z-index: 1;
  position: relative;
}
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 {
  z-index: 0;
  position: absolute;
  left: 50%; top: 0;
  width: 50%; height: 100%;
  background: transparent url('../../tsr-modules/tsr-backgrounds/tsr-background-b.png') no-repeat right top;
}

.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { background-position: 200px top; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { margin-right: 350px; }

/********************/
@media screen and (min-width: 1900px) {
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { background-position: 350px top; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { margin-right: 400px; }
}
/********************/
@media screen and (max-width: 1900px) {
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { background-position: 350px top; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { margin-right: 400px; }
}
/********************/
@media screen and (max-width: 1420px) {
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { background-position: 250px top; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { margin-right: 400px; }
}
/********************/
@media screen and (max-width: 1260px) {
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { background-position: 200px top; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { margin-right: 400px; }
}
/********************/
@media screen and (max-width: 1140px) {
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { background-position: 200px top; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { margin-right: 350px; }
}
/********************/
@media screen and (max-width: 1020px) {
.tsr-module-bcombo-b { min-height: 0; }
.tsr-module-bcombo-b .tsr-module-bcombo-back    { display: none; }
.tsr-module-bcombo-b .tsr-module-bcombo-back-01 { padding: 0; margin-left: 0; background: none; }
.tsr-module-bcombo-b .tsr-module-bcombo-fore-01 { position: static; margin-right: 0px; }
}

