/******************************************/
/* river apple compare */

.river-apple-compare {
  min-width: 1020px;
}
.river-apple-compare * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.river-apple-compare img.river-rsp-image {
  max-width: 100%;
}
table.river-apple-compare-table {
  width: 100%;
  table-layout: fixed;
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 30px;
}
table.river-apple-compare-table-bdtop {
  border-top: 2px solid #dbdbdb;
}
table.river-apple-compare-table > caption,
table.river-apple-compare-table > tbody > tr > th,
table.river-apple-compare-table > tbody > tr > td {
  vertical-align: top;
  padding-top: 15px;
  padding-left: 40px;
  font-size: 18px;
}
@media only screen and (max-width: 1280px) {
table.river-apple-compare-table > caption,
table.river-apple-compare-table > tbody > tr > th,
table.river-apple-compare-table > tbody > tr > td {
  font-size: 15px;
}
}
table.river-apple-compare-table > tbody > tr > th:first-child,
table.river-apple-compare-table > tbody > tr > td:first-child {
  width: 200px;
  padding-left: 0px;
}

.river-apple-compare-notes {
  font-size: 13px;
  padding: 20px;
  background-color: #f0f0f0;
}

.river-apple-compare-btn,
.river-apple-compare-btn:hover {
  color: #a29e9e;
  border: 1px solid #a29e9e;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 2px 10px 2px 10px;
  display: inline-block;
  font-size: 1.1em;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  line-height: 1.8;
}
@media only screen and (max-width: 1280px) {
.river-apple-compare-btn,
.river-apple-compare-btn:hover {
  font-size: 1em;
  padding: 5px 10px;
}
}
