/******************************************/
/* PAGINATION */
.tsr-pagination {
  display: block;
  text-align: left;
  zoom: 1
}
.tsr-pagination:before,
.tsr-pagination:after {
  /* clearfix */
  content: '.'; /* webkit */
  display: block;
  height: 0; width: 0;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  overflow: hidden;
  visibility: hidden; /* fx */
  line-height: 0;
}
.tsr-pagination:after {
  /* clearfix */
   clear: both;
}

.tsr-pagination.tsr-pagination-left  { text-align: left; }
.tsr-pagination.tsr-pagination-right { text-align: right; }

.tsr-pagination .tsr-center {
  vertical-align: top;
  display: inline-block;
}

.tsr-pagination a {
  display: inline-block; float: left;
  padding: 10px 12px;
  color: #642887;
  font-size: 14px;
  text-decoration: none;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #f6f6f6;
  border-radius: 4px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.tsr-pagination a:active {
  background: #d7d7d7;
}
.tsr-pagination a:hover {
  color: #642887;
  text-decoration: none;
  background: #e7e7e7;
}
.tsr-pagination a + a {
  margin-left: 6px;
}

.tsr-pagination a.tsr-active {
  color: white;
  background: #642887;
  cursor: default;
}
.tsr-pagination a.tsr-active:hover {
  text-decoration: none;
}

.touch .tsr-pagination:hover,
.touch .tsr-pagination:focus  { background: #d7d7d7; }
.touch .tsr-pagination:active { background: #d7d7d7; }
