/******************************************/
/* MODULE MAGAZINE */
.tsr-module-magazine {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0px 30px 40px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
}
.tsr-module-magazine:hover,
.tsr-module-magazine:focus,
.tsr-module-magazine:active {
  color: #333333;
  cursor: pointer;
  text-decoration: none;
}

/********************/
/* image */
.tsr-module-magazine .tsr-module-magazine-image {
  display: block;
  margin: 0 auto;
  max-width: 220px;
  margin: 0 auto 16px;
  -webkit-box-shadow: rgba(0,0,0,0.33) 0px 0px 10px;
  -moz-box-shadow: rgba(0,0,0,0.33) 0px 0px 10px;
  box-shadow: rgba(0,0,0,0.33) 0px 0px 10px;
}
.tsr-module-magazine .tsr-module-magazine-image img {
  width: 100%; height: 100%;
}

/********************/
/* elements */
.tsr-module-magazine .tsr-module-magazine-title {
  display: block;
  font-size: 22px;
  margin-bottom: 2px;
  color: #642887;
}
.tsr-module-magazine .tsr-module-magazine-date {
  display: block;
}

/********************/
@media screen and (max-width: 800px) {}
