/*
   HTML5 CSS RESET
   VERSION: 2015.03.01
   Author: Andria Klimov
   License: None (Public Domain)
*/

/* root */
html, body,
/* sections */
header, footer, main, nav, section,
hgroup, h1, h2, h3, h4, h5, h6,
address, article, aside,
/* grouping */
div, p,
dl, dt, dd,
ol, ul, li,
hr, pre, blockquote,
figure, figcaption,
/* text-level semantics */
a,
span,
sub, sup,
b, i, u,
ruby, rt, rp,
bdi, bdo,
br, wbr,
abbr, cite, code, time, samp,
dfn, em, kbd, mark, s, small, strong, q, var,
/* edits */
del, ins,
/* embedded content */
embed, iframe, img, object, param, video, audio, source, track
/* media */
canvas, map, area,
/* tables */
table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td,
/* forms */
form, label, legend,
/* interactive */
details, summary, command, menu, menuitem {
  border: 0 none;
  margin: 0; padding: 0;
  vertical-align: baseline;
}

/* root */

html {
  font-size: 100%; /* ie8 */
  width: auto; height: auto;
  -webkit-text-size-adjust: 100%; /* webkit */
  -ms-text-size-adjust: 100%; /* ie11+ */
  -webkit-font-smoothing: antialiased; /* webkit */
  -moz-osx-font-smoothing: grayscale; /* fx25+ */
}

body {
  color: black;
  background-color: white;
  width: auto; height: auto;
  font: normal normal normal 1em/normal sans-serif;
}

*:focus {
  outline: none;
}

/* links */

a {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

/* sections */

article, aside, details,
figcaption, figure,
footer, header, hgroup,
nav, section, summary {
  display: block;
}

/* headings */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.1em; }
h6 { font-size: 1.0em; }

/* long and short quotations */

blockquote {
  margin: 1em;
}

blockquote, q {
  quotes: none;
}

q {
  quotes: '\201C' '\201D' '\2018' '\2019';
}

/* preformatted text */

pre {
  display: block;
  font-family: monospace, serif;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  display: block; height: 0px;
  border-bottom: 1px solid gray;
}

/* text-level semantics */

abbr {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

em, dfn, cite, var {
  font-style: italic;
  font-weight: normal;
}

b,
strong {
  font-style: normal;
  font-weight: bold;
}

code, samp, kbd {
  font-style: normal;
  font-weight: normal;
  font-family: monospace, serif;
}

mark {
  background: yellow;
  color: black;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
}
sub {
  vertical-align: sub;
}
sup {
  vertical-align: super;
}

/* edits */

del {
  text-decoration: line-through;
}

ins {
  text-decoration: underline;
}

/* embed containers */

canvas, embed, iframe, img, object, video, audio {
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
}

img {
  border: 0 none;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* lists */

ol, ul {
  margin: 0 0 0 2.5em;
}

html[dir="rtl"] ol, html[dir="rtl"] ul { margin: 0 2.5em 0 0; }
html[dir="ltr"] ol, html[dir="ltr"] ul { margin: 0 0 0 2.5em; }

li {
  display: list-item;
}

dl {
  display: block;
}

dt {
  display: block;
}

dd {
  display: block;
  margin: 0 0 0 2.5em;
}

html[dir="rtl"] dd { margin: 0 2.5em 0 0; }
html[dir="ltr"] dd { margin: 0 0 0 2.5em; }

/* tables */

table {
  border-collapse: collapse;
  border-collapse: collapse;
}

caption, th, td {
  vertical-align: middle;
}

th {
  font-weight: bold;
  text-align: center;
}

/* elements tune */

[hidden] {
  display: none;
}

/* forms */

button, input, select, textarea {
  margin: 0;
  line-height: normal;
  vertical-align: baseline;
  font: normal normal normal 1em/normal sans-serif;
  resize: none; /* webkit, fx10+ */
  -moz-box-sizing: border-box; /* fx2+ */
  -webkit-box-sizing: border-box; /* chrome4+, safari3.1+ */
  box-sizing: border-box; /* chrome10+, fx3+, ie8+, opera9.5+, safari5.1+ */
}

textarea {
  overflow: auto; /* ie */
  vertical-align: top;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  vertical-align: middle;
}

label,
button,
input[type="button"],
input[type="checkbox"],
input[type="image"],
input[type="reset"],
input[type="radio"],
input[type="submit"]
input[type="file"] > input[type="button"] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}

/* fx2+ */
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="image"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  margin:  0 !important;
  padding: 0 !important;
  border: 0 none !important;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

fieldset {
  margin: 0;
  padding: 0.35em 0.625em 0.75em;
  border-width: 1px;
}
