/******************************************/
/* ICONS */
@font-face {
  font-family: 'ts-icons-all';
  src: url('../../tsr-components/tsr-fonts/tsr-icons/ts-icons-all.eot');
  src: url('../../tsr-components/tsr-fonts/tsr-icons/ts-icons-all.eot?#iefix') format('embedded-opentype'),
       url('../../tsr-components/tsr-fonts/tsr-icons/ts-icons-all.woff2') format('woff2'),
       url('../../tsr-components/tsr-fonts/tsr-icons/ts-icons-all.woff') format('woff'),
       url('../../tsr-components/tsr-fonts/tsr-icons/ts-icons-all.ttf') format('truetype'),
       url('../../tsr-components/tsr-fonts/tsr-icons/ts-icons-all.svg#ts-icons-allregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  content: attr(data-icon);
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*="ts-icon-"],
[class*='ts-icon-']:before {
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ts-icon-zoomout:before             { content: '\e600'; }
.ts-icon-zoom:before                { content: '\e601'; }
.ts-icon-square-tilted:before       { content: '\e667'; }
.ts-icon-xls:before                 { content: '\e602'; }
.ts-icon-arrow-right:before         { content: '\e668'; }
.ts-icon-writeemail:before          { content: '\e603'; }
.ts-icon-arrow-down:before          { content: '\e669'; }
.ts-icon-arrow-left:before          { content: '\e66a'; }
.ts-icon-wireless:before            { content: '\e604'; }
.ts-icon-arrow-up:before            { content: '\e66b'; }
.ts-icon-weather:before             { content: '\e605'; }
.ts-icon-voiceswitch:before         { content: '\e606'; }
.ts-icon-videocontent:before        { content: '\e607'; }
.ts-icon-vcard2:before              { content: '\e608'; }
.ts-icon-vcard:before               { content: '\e609'; }
.ts-icon-upload:before              { content: '\e60a'; }
.ts-icon-travelabroad:before        { content: '\e60b'; }
.ts-icon-trashfull:before           { content: '\e60c'; }
.ts-icon-trashempty:before          { content: '\e60d'; }
.ts-icon-time:before                { content: '\e60e'; }
.ts-icon-tags:before                { content: '\e60f'; }
.ts-icon-sync:before                { content: '\e610'; }
.ts-icon-switch:before              { content: '\e611'; }
.ts-icon-support:before             { content: '\e612'; }
.ts-icon-subscription:before        { content: '\e613'; }
.ts-icon-stream:before              { content: '\e614'; }
.ts-icon-stop:before                { content: '\e615'; }
.ts-icon-statistics:before          { content: '\e616'; }
.ts-icon-spellcheck:before          { content: '\e617'; }
.ts-icon-sort:before                { content: '\e618'; }
.ts-icon-sms:before                 { content: '\e619'; }
.ts-icon-skipforward:before         { content: '\e61a'; }
.ts-icon-skipbackward:before        { content: '\e61b'; }
.ts-icon-shuffle:before             { content: '\e61c'; }
.ts-icon-settings:before            { content: '\e61d'; }
.ts-icon-security:before            { content: '\e61e'; }
.ts-icon-search:before              { content: '\e61f'; }
.ts-icon-save:before                { content: '\e620'; }
.ts-icon-rss:before                 { content: '\e621'; }
.ts-icon-renamefolder:before        { content: '\e622'; }
.ts-icon-register:before            { content: '\e623'; }
.ts-icon-radio:before               { content: '\e624'; }
.ts-icon-rack:before                { content: '\e625'; }
.ts-icon-print:before               { content: '\e626'; }
.ts-icon-premisessmall:before       { content: '\e627'; }
.ts-icon-premiseslarge:before       { content: '\e628'; }
.ts-icon-premisesdatacenter:before  { content: '\e629'; }
.ts-icon-ppt:before                 { content: '\e62a'; }
.ts-icon-play:before                { content: '\e62b'; }
.ts-icon-phone:before               { content: '\e62c'; }
.ts-icon-pdf:before                 { content: '\e62d'; }
.ts-icon-pause:before               { content: '\e62e'; }
.ts-icon-parentalguide:before       { content: '\e62f'; }
.ts-icon-newgroup:before            { content: '\e630'; }
.ts-icon-newfolder:before           { content: '\e631'; }
.ts-icon-newcontact:before          { content: '\e632'; }
.ts-icon-newadressbook:before       { content: '\e633'; }
.ts-icon-myaccount:before           { content: '\e634'; }
.ts-icon-music:before               { content: '\e635'; }
.ts-icon-movefolder:before          { content: '\e636'; }
.ts-icon-more:before                { content: '\e637'; }
.ts-icon-mobile:before              { content: '\e638'; }
.ts-icon-menu:before                { content: '\e639'; }
.ts-icon-map:before                 { content: '\e63a'; }
.ts-icon-login:before               { content: '\e63b'; }
.ts-icon-listen:before              { content: '\e63c'; }
.ts-icon-link:before                { content: '\e63d'; }
.ts-icon-like:before                { content: '\e63e'; }
.ts-icon-internet:before            { content: '\e63f'; }
.ts-icon-home:before                { content: '\e641'; }
.ts-icon-help:before                { content: '\e642'; }
.ts-icon-games:before               { content: '\e643'; }
.ts-icon-folderopen:before          { content: '\e644'; }
.ts-icon-folder:before              { content: '\e645'; }
.ts-icon-favourits:before           { content: '\e646'; }
.ts-icon-entertainment:before       { content: '\e647'; }
.ts-icon-enduserdevice:before       { content: '\e648'; }
.ts-icon-enduser:before             { content: '\e649'; }
.ts-icon-youtube:before             { content: '\e66c'; }
.ts-icon-google-plus:before         { content: '\e66d'; }
.ts-icon-email:before               { content: '\e64a'; }
.ts-icon-edit:before                { content: '\e64b'; }
.ts-icon-edgerouter:before          { content: '\e64c'; }
.ts-icon-download:before            { content: '\e64d'; }
.ts-icon-docs:before                { content: '\e64e'; }
.ts-icon-dislike:before             { content: '\e64f'; }
.ts-icon-digitaltv:before           { content: '\e650'; }
.ts-icon-delete:before              { content: '\e651'; }
.ts-icon-defaultimage:before        { content: '\e652'; }
.ts-icon-default:before             { content: '\e653'; }
.ts-icon-cpe:before                 { content: '\e654'; }
.ts-icon-costcontrol2:before        { content: '\e655'; }
.ts-icon-costcontrol:before         { content: '\e656'; }
.ts-icon-corerouter:before          { content: '\e657'; }
.ts-icon-copyfolder:before          { content: '\e658'; }
.ts-icon-content:before             { content: '\e659'; }
.ts-icon-contact:before             { content: '\e65a'; }
.ts-icon-cloud:before               { content: '\e65b'; }
.ts-icon-chat:before                { content: '\e65c'; }
.ts-icon-camera:before              { content: '\e65d'; }
.ts-icon-calendar:before            { content: '\e65e'; }
.ts-icon-buy:before                 { content: '\e65f'; }
.ts-icon-broadband:before           { content: '\e660'; }
.ts-icon-ball:before                { content: '\e661'; }
.ts-icon-attach:before              { content: '\e662'; }
.ts-icon-alert:before               { content: '\e663'; }
.ts-icon-adressbook:before          { content: '\e664'; }
.ts-icon-add:before                 { content: '\e665'; }
.ts-icon-circle:before              { content: '\e666'; }
.ts-icon-info:before                { content: '\e640'; }
.ts-icon-twitter:before             { content: '\e001'; }
.ts-icon-facebook:before            { content: '\e002'; }
.ts-icon-thick:before               { content: '\e005'; }
.ts-icon-comment:before             { content: '\e016'; }
.ts-icon-teliasonera:before         { content: '\e02c'; }
.ts-icon-breadcrumb-arrow:before    { content: '\e66e'; }
.ts-icon-go-arrow-right:before      { content: '\e66e'; }
.ts-icon-go-arrow-left:before       { content: '\e66f'; }
.ts-icon-go-arrow-top:before        { content: '\e670'; }
.ts-icon-go-arrow-bottom:before     { content: '\e671'; }
.ts-icon-calculator:before          { content: '\e672'; }
.ts-icon-calc:before                { content: '\e673'; }
.ts-icon-drop-up:before             { content: '\e674'; }
.ts-icon-drop-right:before          { content: '\e675'; }
.ts-icon-drop-down:before           { content: '\e676'; }
.ts-icon-drop-left:before           { content: '\e677'; }
.ts-icon-instagram:before           { content: '\e678'; }
.ts-icon-linked-in:before           { content: '\e679'; }

