/******************************************/
/* GRIDS */

/********************/
/* clear */
.tsr-clear {
  clear: both;
  float: none;
  height: 0; width: 0;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  overflow: hidden;
  visibility: hidden; /* fx */
  line-height: 0;
}

/********************/
/* clearfix */
.tsr-clearfix:before,
.tsr-clearfix:after {
  content: '.'; /* webkit */
  display: block;
  height: 0; width: 0;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  overflow: hidden;
  visibility: hidden; /* fx */
  line-height: 0;
}
.tsr-clearfix:after {
  clear: both;
}

/********************/
/* whole */
.tsr-whole, .tsr-whole-width  { width:  100%; }
.tsr-whole, .tsr-whole-height { height: 100%; }
.tsr-min-whole, .tsr-min-whole-width  { min-width:  100%; }
.tsr-min-whole, .tsr-min-whole-height { min-height: 100%; }
.tsr-max-whole, .tsr-max-whole-width  { max-width:  100%; }
.tsr-max-whole, .tsr-max-whole-height { max-height: 100%; }

/********************/
/* grid */
.tsr-container {
  width: 940px; max-width: 100%; min-width: 240px;
  margin: 0 auto; padding: 0;
  zoom: 1; /* ie */
}

/********************/
/* grid */
.tsr-grid                   { margin-left: -1%; margin-right: -1%; }
.tsr-grid.tsr-grid-separate { margin-left: -1%; margin-right: -1%; }
.tsr-grid.tsr-grid-collapse { margin-left:  0%; margin-right:  0%; }

.tsr-grid                   .tsr-row { margin-top: 2%; }
.tsr-grid.tsr-grid-separate .tsr-row { margin-top: 2%; }
.tsr-grid.tsr-grid-collapse .tsr-row { margin-top: 0%; }
.tsr-grid                   .tsr-row:first-child { margin-top: 0%; }

/********************/
/* grid-cols */
.tsr-grid [class*='tsr-col-'] {
  display: block; float: left;
  width: 100%; min-height: 1px;
}
.tsr-grid .tsr-col-box {
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}
.tsr-grid                   [class*='tsr-col-'] { margin-left: 1%; margin-right: 1%; }
.tsr-grid.tsr-grid-separate [class*='tsr-col-'] { margin-left: 1%; margin-right: 1%; }
.tsr-grid.tsr-grid-collapse [class*='tsr-col-'] { margin-left: 0%; margin-right: 0%; }
.tsr-grid .tsr-col-01 { width:   6.33333%; }
.tsr-grid .tsr-col-02 { width:  14.66667%; }
.tsr-grid .tsr-col-03 { width:  23.00000%; }
.tsr-grid .tsr-col-04 { width:  31.33333%; }
.tsr-grid .tsr-col-05 { width:  39.66667%; }
.tsr-grid .tsr-col-06 { width:  48.00000%; }
.tsr-grid .tsr-col-07 { width:  56.33333%; }
.tsr-grid .tsr-col-08 { width:  64.66667%; }
.tsr-grid .tsr-col-09 { width:  73.00000%; }
.tsr-grid .tsr-col-10 { width:  81.33333%; }
.tsr-grid .tsr-col-11 { width:  89.66667%; }
.tsr-grid .tsr-col-12 { width:  98.00000%; }
.tsr-grid.tsr-grid-separate .tsr-col-01 { width:   6.33333%; }
.tsr-grid.tsr-grid-separate .tsr-col-02 { width:  14.66667%; }
.tsr-grid.tsr-grid-separate .tsr-col-03 { width:  23.00000%; }
.tsr-grid.tsr-grid-separate .tsr-col-04 { width:  31.33333%; }
.tsr-grid.tsr-grid-separate .tsr-col-05 { width:  39.66667%; }
.tsr-grid.tsr-grid-separate .tsr-col-06 { width:  48.00000%; }
.tsr-grid.tsr-grid-separate .tsr-col-07 { width:  56.33333%; }
.tsr-grid.tsr-grid-separate .tsr-col-08 { width:  64.66667%; }
.tsr-grid.tsr-grid-separate .tsr-col-09 { width:  73.00000%; }
.tsr-grid.tsr-grid-separate .tsr-col-10 { width:  81.33333%; }
.tsr-grid.tsr-grid-separate .tsr-col-11 { width:  89.66667%; }
.tsr-grid.tsr-grid-separate .tsr-col-12 { width:  98.00000%; }
.tsr-grid.tsr-grid-collapse .tsr-col-01 { width:   8.33333%; }
.tsr-grid.tsr-grid-collapse .tsr-col-02 { width:  16.66667%; }
.tsr-grid.tsr-grid-collapse .tsr-col-03 { width:  25.00000%; }
.tsr-grid.tsr-grid-collapse .tsr-col-04 { width:  33.33333%; }
.tsr-grid.tsr-grid-collapse .tsr-col-05 { width:  41.66667%; }
.tsr-grid.tsr-grid-collapse .tsr-col-06 { width:  50.00000%; }
.tsr-grid.tsr-grid-collapse .tsr-col-07 { width:  58.33333%; }
.tsr-grid.tsr-grid-collapse .tsr-col-08 { width:  66.66667%; }
.tsr-grid.tsr-grid-collapse .tsr-col-09 { width:  75.00000%; }
.tsr-grid.tsr-grid-collapse .tsr-col-10 { width:  83.33333%; }
.tsr-grid.tsr-grid-collapse .tsr-col-11 { width:  91.66667%; }
.tsr-grid.tsr-grid-collapse .tsr-col-12 { width: 100.00000%; }
/********************/
.tsr-grid .tsr-col-prefix-01  { padding-left:    8.33333%; }
.tsr-grid .tsr-col-prefix-02  { padding-left:   16.66667%; }
.tsr-grid .tsr-col-prefix-03  { padding-left:   25.00000%; }
.tsr-grid .tsr-col-prefix-04  { padding-left:   33.33333%; }
.tsr-grid .tsr-col-prefix-05  { padding-left:   41.66667%; }
.tsr-grid .tsr-col-prefix-06  { padding-left:   50.00000%; }
.tsr-grid .tsr-col-prefix-07  { padding-left:   58.33333%; }
.tsr-grid .tsr-col-prefix-08  { padding-left:   66.66667%; }
.tsr-grid .tsr-col-prefix-09  { padding-left:   75.00000%; }
.tsr-grid .tsr-col-prefix-10  { padding-left:   83.33333%; }
.tsr-grid .tsr-col-prefix-11  { padding-left:   91.66667%; }
.tsr-grid .tsr-col-prefix-12  { padding-left:  100.00000%; }
/********************/
.tsr-grid .tsr-col-suffix-01  { padding-right:   8.33333%; }
.tsr-grid .tsr-col-suffix-02  { padding-right:  16.66667%; }
.tsr-grid .tsr-col-suffix-03  { padding-right:  25.00000%; }
.tsr-grid .tsr-col-suffix-04  { padding-right:  33.33333%; }
.tsr-grid .tsr-col-suffix-05  { padding-right:  41.66667%; }
.tsr-grid .tsr-col-suffix-06  { padding-right:  50.00000%; }
.tsr-grid .tsr-col-suffix-07  { padding-right:  58.33333%; }
.tsr-grid .tsr-col-suffix-08  { padding-right:  66.66667%; }
.tsr-grid .tsr-col-suffix-09  { padding-right:  75.00000%; }
.tsr-grid .tsr-col-suffix-10  { padding-right:  83.33333%; }
.tsr-grid .tsr-col-suffix-11  { padding-right:  91.66667%; }
.tsr-grid .tsr-col-suffix-12  { padding-right: 100.00000%; }
/********************/
.tsr-grid .tsr-col-push-01  { left:    8.33333%; }
.tsr-grid .tsr-col-push-02  { left:   16.66667%; }
.tsr-grid .tsr-col-push-03  { left:   25.00000%; }
.tsr-grid .tsr-col-push-04  { left:   33.33333%; }
.tsr-grid .tsr-col-push-05  { left:   41.66667%; }
.tsr-grid .tsr-col-push-06  { left:   50.00000%; }
.tsr-grid .tsr-col-push-07  { left:   58.33333%; }
.tsr-grid .tsr-col-push-08  { left:   66.66667%; }
.tsr-grid .tsr-col-push-09  { left:   75.00000%; }
.tsr-grid .tsr-col-push-10  { left:   83.33333%; }
.tsr-grid .tsr-col-push-11  { left:   91.66667%; }
.tsr-grid .tsr-col-push-12  { left:  100.00000%; }
/********************/
.tsr-grid .tsr-col-pull-01  { right:   -8.33333%; }
.tsr-grid .tsr-col-pull-02  { right:  -16.66667%; }
.tsr-grid .tsr-col-pull-03  { right:  -25.00000%; }
.tsr-grid .tsr-col-pull-04  { right:  -33.33333%; }
.tsr-grid .tsr-col-pull-05  { right:  -41.66667%; }
.tsr-grid .tsr-col-pull-06  { right:  -50.00000%; }
.tsr-grid .tsr-col-pull-07  { right:  -58.33333%; }
.tsr-grid .tsr-col-pull-08  { right:  -66.66667%; }
.tsr-grid .tsr-col-pull-09  { right:  -75.00000%; }
.tsr-grid .tsr-col-pull-10  { right:  -83.33333%; }
.tsr-grid .tsr-col-pull-11  { right:  -91.66667%; }
.tsr-grid .tsr-col-pull-12  { right: -100.00000%; }
/********************/

/********************/
/* boxgrid */
.tsr-boxgrid {
  padding-right:  1px;
  padding-bottom: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-boxgrid .tsr-boxcol-outer {
  float: left;
  width: 25%;
  padding-right:  1px;
  padding-bottom: 1px;
  margin-bottom: -2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-boxgrid .tsr-boxcol-inner {
  width: 100%;
  position: relative;
  border: 1px solid #dbdbdb;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.tsr-boxgrid.tsr-boxgrid-fit {
  margin-top: -1px;
  padding-bottom: 0px;
}

/********************/
/* >= 1920 */
@media screen and (min-width: 1900px) {
.tsr-container { width: 1316px; /* 1344 grid */ }
}
/********************/
/* <= 1920 */
@media screen and (max-width: 1900px) {
.tsr-container { width: 1316px; /* 1344 grid */ }
}
/********************/
/* <= 1440 */
@media screen and (max-width: 1420px) {
.tsr-container { width: 1128px; /* 1152 grid */ }
}
/********************/
/* <= 1280 */
@media screen and (max-width: 1260px) {
.tsr-container { width: 1034px; /* 1056 grid */ }
}
/********************/
/* <= 1152 */
@media screen and (max-width: 1140px) {
.tsr-container { width: 940px; /* 960 grid */ }
}
/********************/
/* <= 1024 */
@media screen and (max-width: 1020px) {
.tsr-container { width: 94%; }

.tsr-grid .tsr-col-01 { width:  48.0%; }
.tsr-grid .tsr-col-02 { width:  48.0%; }
.tsr-grid .tsr-col-03 { width:  48.0%; }
.tsr-grid .tsr-col-04 { width:  48.0%; }
.tsr-grid .tsr-col-05 { width:  48.0%; }
.tsr-grid .tsr-col-06 { width:  48.0%; }
.tsr-grid .tsr-col-07 { width:  98.0%; }
.tsr-grid .tsr-col-08 { width:  98.0%; }
.tsr-grid .tsr-col-09 { width:  98.0%; }
.tsr-grid .tsr-col-10 { width:  98.0%; }
.tsr-grid .tsr-col-11 { width:  98.0%; }
.tsr-grid .tsr-col-12 { width:  98.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-01 { width:  48.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-02 { width:  48.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-03 { width:  48.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-04 { width:  48.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-05 { width:  48.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-06 { width:  48.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-07 { width:  98.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-08 { width:  98.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-09 { width:  98.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-10 { width:  98.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-11 { width:  98.0%; }
.tsr-grid.tsr-grid-separate .tsr-col-12 { width:  98.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-01 { width:  50.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-02 { width:  50.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-03 { width:  50.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-04 { width:  50.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-05 { width:  50.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-06 { width:  50.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-07 { width: 100.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-08 { width: 100.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-09 { width: 100.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-10 { width: 100.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-11 { width: 100.0%; }
.tsr-grid.tsr-grid-collapse .tsr-col-12 { width: 100.0%; }
.tsr-grid [class*='tsr-col-prefix'] { width: 100.0%; padding-left:  0; }
.tsr-grid [class*='tsr-col-suffix'] { width: 100.0%; padding-right: 0; }
.tsr-grid [class*='tsr-col-push'] { width: 100.0%; left:  0; }
.tsr-grid [class*='tsr-col-pull'] { width: 100.0%; right: 0; }

.tsr-boxgrid .tsr-boxcol-outer { width: 50%; }

}
/********************/
/* <= 800 */
@media screen and (max-width: 800px) {
.tsr-container { width: 100%; }
}
/********************/
/* <= 480 */
@media screen and (max-width: 480px) {

.tsr-grid                   { margin-left: 0%; margin-right: 0%; }
.tsr-grid.tsr-grid-separate { margin-left: 0%; margin-right: 0%; }
.tsr-grid.tsr-grid-collapse { margin-left: 0%; margin-right: 0%; }
.tsr-grid                   .tsr-row { margin-top: 0%; }
.tsr-grid.tsr-grid-separate .tsr-row { margin-top: 0%; }
.tsr-grid.tsr-grid-collapse .tsr-row { margin-top: 0%; }
.tsr-grid                   [class*='tsr-col-'] { margin-left: 0%; margin-right: 0%; }
.tsr-grid.tsr-grid-separate [class*='tsr-col-'] { margin-left: 0%; margin-right: 0%; }
.tsr-grid.tsr-grid-collapse [class*='tsr-col-'] { margin-left: 0%; margin-right: 0%; }
.tsr-grid                   [class*='tsr-col-'] { width:  100.0%; }
.tsr-grid.tsr-grid-separate [class*='tsr-col-'] { width:  100.0%; }
.tsr-grid.tsr-grid-collapse [class*='tsr-col-'] { width:  100.0%; }

.tsr-boxgrid .tsr-boxcol-outer { width: 100%; }

}
