/******************************************/
/* SECTION SUBMENU */
.tsr-section-submenu {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background: #ffffff;
}

/********************/
.tsr-section-submenu ul {
  font-size: 0; line-height: 0;
  margin: 0; padding: 12px 0;
}
.tsr-section-submenu li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0; padding: 0;
  padding-right: 31px;
}
.tsr-section-submenu li:last-child {
  padding-right: 0;
}
/* divider-line */
.tsr-section-submenu li:after {
  content: '';
  display: block;
  z-index: 1;
  font-size: 0;
  right: 15px; top: 50%;
  position: absolute;
  width: 1px; height: 14px;
  margin-top: -7px;
  background: #dbdbdb;
}
.tsr-section-submenu li:last-child:after {
  display: none;
}
.ie8 .tsr-section-submenu li:after {
  display: none;
}

.tsr-section-submenu a {
  font-size: 15px;
  line-height: 30px;
  color: #642887;
  text-decoration: none;
}
.no-touch .tsr-section-submenu a:hover,
.tsr-section-submenu a.is-choosen {
  color: #642887;
  text-decoration: none;
  border-bottom: 2px solid #642887;
}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-submenu ul {
  padding-left: 15px;
  padding-right: 15px;
}

}

