/********************/
/* MODULE SUPPORT */
.tsr-module-support {
  display: block;
  position: relative;
  padding: 35px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #642887;
}
.tsr-module-support:hover,
.tsr-module-support:focus,
.tsr-module-support:active {
  color: #ffffff;
  background: #4e256b;
  cursor: pointer;
  text-decoration: none;
}

/********************/
/* under-line */
.tsr-module-support:after {
  content: '';
  display: none;
  overflow: hidden;
  left: 0; bottom: 0px;
  position: absolute;
  width: 100%; height: 4px;
  background: #4e256b;
}
.tsr-module-support:hover:after,
.tsr-module-support:focus:after,
.tsr-module-support:active:after {
  display: block;
}

/********************/
/* elements */
.tsr-module-support .tsr-module-support-icon {
  display: block;
  font-size: 50px;
  margin-bottom: 24px;
  text-align: center;
}
.tsr-module-support .tsr-module-support-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
.tsr-module-support .tsr-module-support-intro {
  display: block;
}

/********************/
@media screen and (max-width: 480px) {

.tsr-module-support {
  padding: 20px 15px 20px 55px;
  text-align: left;
}
.tsr-module-support:after,
.tsr-module-support:hover:after {
  display: none;
}
.tsr-module-support .tsr-module-support-icon {
  font-size: 30px;
  margin-top: -15px;
  margin-bottom: 0;
  left: 15px; top: 50%;
  position: absolute;
}
.tsr-module-support .tsr-module-support-title {
  font-size: 15px;
  line-height: normal;
  margin-bottom: 0;
}
.tsr-module-support .tsr-module-support-intro {
  display: none;
}

}
