<div class="cs-spb-20 tsr-section-flow-b-gt">
  <div class="cs-spb-10 cs-tx-20 cs-tx-bold">Tarif plans:</div>
  <div class="tsr-section-tboxes" style="max-width: 300px;">
    <div class="tsr-section-tbox is-choosen">
      <div class="tsr-section-tbox-pad">
        <div class="cs-spb-00 cs-tx-24 cs-tx-bold cs-cl-blue">6 GB</div>
        <div class="cs-spb-20 cs-tx-bold">Price 15 gel/month</div>
        <div class="cs-spb-00"><figure class="tsr-tactical-speach-bubble tsr-slim-bubble tsr-contour tsr-color-blue"><span class="cs-cl-blue">*001# OK</span></figure></div>
      </div>
    </div>
    <div class="tsr-section-tbox">
      <div class="tsr-section-tbox-pad">
        <div class="cs-spb-00 cs-tx-24 cs-tx-bold cs-cl-blue">15 GB</div>
        <div class="cs-spb-20 cs-tx-bold">Price 30 gel/month</div>
        <div class="cs-spb-00"><figure class="tsr-tactical-speach-bubble tsr-slim-bubble tsr-contour tsr-color-blue"><span class="cs-cl-blue">*001# OK</span></figure></div>
      </div>
    </div>
  </div>
</div>