<div class="cs-spt-20 cs-spb-10">
    <table class="tsr-module-metipack-table">
      <tr><td>Local calls</td><td></td></tr>
      <tr><td>Data</td><td></td></tr>
      <tr><td>SMS</td><td></td></tr>
    </table>
</div>
<div class="cs-spb-00">Validity: 30 days</div>
             