<div class="tsr-scrollpane">
                <div class="tsr-scrollpane-content">

<table class="tsr-com-table-standard cs-whole-x" style="min-width: 600px;">
<tbody>
<tr><th class="tsr-bg-blue">SMS Bundles</th><th class="tsr-bg-blue" style="width: 30%;">Monthly fee</th><th class="tsr-bg-blue" style="width: 40%;">Price for each extra SMS</th></tr>
<tr>
<td><strong>0-500</strong></td>
<td>150&nbsp;GEL</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><strong>5000 - 15000</strong></td>
<td>150&nbsp;GEL</td>
<td>0.015 GEL for each SMS exceeding 5000</td>
</tr>
<tr>
<td><strong>15000 - 50000</strong></td>
<td>300 GEL</td>
<td>0.013 GEL for each SMS exceeding 15000</td>
</tr>
<tr>
<td><strong>50 000 - 100000</strong></td>
<td>750 GEL</td>
<td>0.009 GEL for each SMS exceeding 50000</td>
</tr>
<tr>
<td><strong>100000-200000</strong></td>
<td>1200 GEL</td>
<td>0.008 GEL for each SMS exceeding 100000</td>
</tr>
<tr>
<td><strong>200000-500000</strong></td>
<td>2000 GEL</td>
<td>0.005 GEL for each SMS exceeding 200000</td>
</tr>
<tr>
<td><strong>500 000 and above</strong></td>
<td>3000 GEL</td>
<td>0.003 GEL for each SMS exceeding 500000</td>
</tr>
</tbody>
</table>

</div>
</div>