<div class="cs-spb-10">
    <table class="tsr-com-table-nulled border-inner-h">
      <tr><td class="cs-pdv-05 cs-pdr-20 cs-tx-bold cs-cl-blue">0&nbsp;Tetri*</td><td class="cs-pdv-05">3 favorite Geocell/LaiLai numbers</td></tr>
      <tr><td class="cs-pdv-05 cs-pdr-20 cs-tx-bold cs-cl-blue">0&nbsp;Tetri</td><td class="cs-pdv-05">100 SMS daily after after first chargeable SMS</td></tr>
      <tr><td class="cs-pdv-05 cs-pdr-20 cs-tx-bold cs-cl-blue">0&nbsp;Tetri</td><td class="cs-pdv-05">100 MB (after 15 tetri/MB)</td></tr>
    </table>
  </div>
  <div class="cs-spb-40">*Call setup free = 5 tetri</div>