<div class="cs-spt-20 cs-spb-20">
    <table class="tsr-com-table-nulled border-inner-h">
      <tr>
        <td class="cs-pdv-05 cs-pdr-20 cs-cl-blue">25 tetri</td>
        <td class="cs-pdv-05">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</td>
      </tr>
      <tr>
        <td class="cs-pdv-05 cs-pdr-20 cs-cl-blue">25 tetri</td>
        <td class="cs-pdv-05">Lorem Ipsum unknown printer took a galley of type and scrambled it to make a type specimen book.</td>
      </tr>
      <tr>
        <td class="cs-pdv-05 cs-pdr-20 cs-cl-blue"></td>
        <td class="cs-pdv-05">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</td>
      </tr>
    </table>
</div>
<div class="cs-spt-40 cs-spb-20"><img src="tsr-temp/tsr-images/promo-image-01.jpg" alt="" class="cs-max-whole-x"></div>
             