<div class="cs-spb-20 cs-tx-bold">
   <div class="cs-spb-04">49 tetri/day</div>
   <div class="cs-spb-04">unlimited **</div>
   <div class="cs-spb-04"><span class="js-tooltip-text" title="1. username@geocell.blackberry.com; 2. Gmail, Yahoo, etc.">10 emails<span class="tsr-com-sup cs-tx-bold cs-cl-link">?</span></span></div>
</div>
<div class="cs-spb-00">
  <figure class="tsr-tactical-speach-bubble tsr-slim-bubble tsr-contour tsr-color-blue"><span class="cs-cl-blue">*001# OK</span></figure>
</div>