<a href="#" class="tsr-module-ipacksbx-item">
  <div class="cs-spb-00 cs-tx-bold cs-tx-26 tsr-module-ipacksbx-title">1 GB</div>
  <div class="cs-spb-20 cs-tx-bold cs-tx-15">Price: 6 GEL</div>
  <div class="cs-spb-02">*135*1# OK</div>
  <div class="cs-spb-00">Validity: 30 days</div>
</a>