/**
 *
 * Apply your custom CSS here
 *
*/
.form-control {

}
.panel .panel-heading > .panel-options a.btn {
	line-height:1.42857143;
} 
.alert.alert-danger {
	padding-left: 40px;
	display: inline-block;
}
.fa-home { /*color: #795b95; */}
.navbar-brand {
	width: 270px;
}
.changeTitle a{
	display: block;
	width: 100%;
}
.bootstrap-tagsinput {
	border:none;
	height: 66px;
}
.btn-danger.disable{
	background: #999;
}
.panel .panel-heading.nobottompadding,
.panel.nobottompadding
 {
	padding-bottom: 0px;
}
.panel-heading .panel-options {
	/* margin-top: 12px; */
	 line-height: 40px;
}
.panel-options .btn {
	color:white !important;
	margin: -2px 20px 0 0;
}
.panel {
	border-radius: 5px;
	border: 1px solid #ddd;
	/*border: 1px solid #795b95;*/
}
.panel-heading .breadcrumb-env {
	display: inline-block; 
	float: left;
}

.page-container .main-content .page-title .breadcrumb-env {
	float: left;
}
.tab-content {
	border-radius: 5px;
	/*border: 1px solid #795b95;*/
	border: 1px solid #ddd;
	border-top-left-radius: 0;
}
.nav-tabs {
	/*border-bottom: 0;*/
}
.nav.nav-tabs> li {
	border: 0 !important;
}
.nav.nav-tabs> li a{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	margin-bottom: 0;
	border: 0 !important;
}
.nav.nav-tabs> li.active a, .nav.nav-tabs> li:hover a{
	background-color: #795b95;
	color:white;
	
}
.nav.nav-tabs> li.disabled  a,
.nav.nav-tabs> li.disabled.active a,
 .nav.nav-tabs> li.disabled:hover a
 {
	background-color: #999;
	color:white;
	
}

.table > tbody > tr > td{ 
	vertical-align: middle;
}

.table tr:nth-child(even) td{
	background: #eee;
}
.hide_description{
	display: none;
}
.collapse-desc-icon, .expand-desc-icon {
	cursor: pointer;
}
.collapsed-desc .collapse-desc-icon, .expand-desc-icon {
	display: none;
}
.collapsed-desc .expand-desc-icon {
	display: inline-block;
}
.textarea {
	min-height: 400px;
}
.mce-tinymce iframe {
	min-height: 220px;
}
.ov_hidden {
	overflow: hidden;
}
.album-image .thumb {
	max-height: 200px;
	overflow: hidden;
}
.image-options i {
	font-size: 14px;
	margin-left: 6px;
}
.gallery-env {
	display: none;
}
.imagetitle {
	display: none;
}
.imagetitle label{
	width: 100%;
}
.navbar.horizontal-menu.navbar-fixed-top + .page-container   .collapsed .sidebar-menu-inner{
	top: 0 !important;
}
#updateMenuTree { /* display: none;  */margin-left: -30px; margin-top: 20px;}
.ids {
	padding-top: 5px;
}
.coll_list{
	display: none;
}
 
.eye-off.visibility {
	 background: #999;
}
.btn.btn-default{
	border: 1px solid #cccccc;
}
.dd-slug{
	margin-top: -50px;
}

.btn.disabled { background: #999; }
.page-actions .bootstrap-tagsinput {
	   margin-top: -6px;
}
.tag.label-info .tagcontent { max-width: 100px; display: inline-block; overflow: hidden; float: left; color: white;}
.tag.label-info a{ color: white;}

.add-in-stock, .add-role {
	margin-top: 22px
}
.list-head {
	  border-bottom: 1px solid #eeeeee;
	  margin-bottom: 20px;
	  padding-bottom: 10px;
	  font-weight: bold;
}
.list-content .row:last-child {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}
.file_up {
	margin-top: 20px;
	margin-left: -10px;
	display: inline-block !important;
}
.galler-env.show {
	display: block;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
	text-align: left;
}
.tabs-vertical-env .nav.tabs-vertical li.active a {
	 background: #eee;
}
.tabs-vertical-env .tab-content {
	padding:0px 20px;
}

.dropzone {
	min-height: 180px;
}
.modal {
	max-height: 80%;
	   
	overflow: hidden;
}

.modal-open .modal {
	overflow: hidden;
}
.modal .modal-dialog,.modal .modal-content,  .modal .tabs-vertical-env{
	height: 100%;
}
.modal .modal-body { height: 85%; }
.modal-content .tab-content {
	height: 100%; 
	overflow: hidden;
}
.modal-content .tab-pane {
	height: 99%;
	overflow-y: auto;
}


#permissions ul {
	list-style-type: none;
	margin:  0;
}
#permissions ul li {
	width: 100%;

}
.onerowhover {
	padding: 3px 0;
}
.onerowhover div:first-child {
	line-height: 28px;
}
 .onerowhover:hover {
 	background: #eee;

 }
.cbrcolored .cbr-state {
	background: #ddf;
}
.clear {
	width:100%;overflow: hidden;
}
ul#colls {
	margin-left: -40px;
}
ul#colls select {
	width: 240px;
}
ul#colls ul select {
	margin-left: -26px;

}
ul#colls ul  ul select {
	margin-left: -52px;
}

/*#files:target {
	display:block;
}*/

@media (min-width: 768px) {
  .modal-dialog {
    width: 700px;
    margin: 30px auto;
  }
}  