/******************************************/
/* CLASSES */

.cs-cl-white { color: #ffffff; }
.cs-cl-black { color: #000000; }
.cs-cl-gray  { color: #808080; }
.cs-cl-error { color: #FF0000; }

.cs-bg-white { background-color: #ffffff; }
.cs-bg-black { background-color: #000000; }
.cs-bg-gray  { background-color: #808080; }
.cs-bg-error { background-color: #FF0000; }

.cs-cl-text      { color: #333333; }
.cs-cl-link      { color: #642887; }

.cs-cl-primary   { color: #642887; } .cs-cl-primary-h   { color: #73369e; } .cs-cl-primary-t   { color: #4e256b; }
.cs-cl-shade     { color: #f6f6f6; } .cs-cl-shade-h     { color: #ffffff; } .cs-cl-shade-t     { color: #dbdbdb; }

.cs-bg-primary   { background-color: #642887; } .cs-bg-primary-h   { background-color: #73369e; } .cs-bg-primary-t   { background-color: #4e256b; }
.cs-bg-shade     { background-color: #f6f6f6; } .cs-bg-shade-h     { background-color: #ffffff; } .cs-bg-shade-t     { background-color: #dbdbdb; }

.cs-cl-blue      { color: #0083be; } .cs-cl-blue-h      { color: #009fd6; } .cs-cl-blue-t      { color: #0070a3; }
.cs-cl-green     { color: #bed600; } .cs-cl-green-h     { color: #dced00; } .cs-cl-green-t     { color: #adba00; }
.cs-cl-orange    { color: #ff6319; } .cs-cl-orange-h    { color: #ff9166; } .cs-cl-orange-t    { color: #da552a; }
.cs-cl-pink      { color: #c41b79; } .cs-cl-pink-h      { color: #db2190; } .cs-cl-pink-t      { color: #a91a6f; }
.cs-cl-purple    { color: #642887; } .cs-cl-purple-h    { color: #73369e; } .cs-cl-purple-t    { color: #4e256b; }
.cs-cl-turquoise { color: #00b48c; } .cs-cl-turquoise-h { color: #00cc9b; } .cs-cl-turquoise-t { color: #009974; }
.cs-cl-yellow    { color: #f9dc00; } .cs-cl-yellow-h    { color: #ffe75c; } .cs-cl-yellow-t    { color: #eac907; }
.cs-cl-lgray     { color: #a4a5a6; } .cs-cl-lgray-h     { color: #b2b3b4; } .cs-cl-lgray-t     { color: #8b8c8d; }
.cs-cl-dgray     { color: #4e4c4a; } .cs-cl-lgray-h     { color: #696765; } .cs-cl-lgray-t     { color: #42413f; }
.cs-cl-red       { color: #fb0000; } .cs-cl-blue-h      { color: #fc2424; } .cs-cl-blue-t      { color: #d80000; }

.cs-bg-blue      { background-color: #0083be; } .cs-bg-blue-h      { background-color: #009fd6; } .cs-bg-blue-h      { background-color: #0070a3; }
.cs-bg-green     { background-color: #bed600; } .cs-bg-green-h     { background-color: #dced00; } .cs-bg-green-h     { background-color: #adba00; }
.cs-bg-orange    { background-color: #ff6319; } .cs-bg-orange-h    { background-color: #ff9166; } .cs-bg-orange-h    { background-color: #da552a; }
.cs-bg-pink      { background-color: #c41b79; } .cs-bg-pink-h      { background-color: #db2190; } .cs-bg-pink-h      { background-color: #a91a6f; }
.cs-bg-purple    { background-color: #642887; } .cs-bg-purple-h    { background-color: #73369e; } .cs-bg-purple-h    { background-color: #4e256b; }
.cs-bg-turquoise { background-color: #00b48c; } .cs-bg-turquoise-h { background-color: #00cc9b; } .cs-bg-turquoise-h { background-color: #009974; }
.cs-bg-yellow    { background-color: #f9dc00; } .cs-bg-yellow-h    { background-color: #ffe75c; } .cs-bg-yellow-h    { background-color: #eac907; }
.cs-bg-lgray     { background-color: #a4a5a6; } .cs-bg-lgray-h     { background-color: #b2b3b4; } .cs-bg-lgray-h     { background-color: #8b8c8d; }
.cs-bg-dgray     { background-color: #4e4c4a; } .cs-bg-lgray-h     { background-color: #696765; } .cs-bg-lgray-h     { background-color: #42413f; }
.cs-bg-red       { background-color: #fb0000; } .cs-cl-blue-h      { background-color: #fc2424; } .cs-cl-blue-t      { background-color: #d80000; }

.cs-bd-stand, .cs-bd-stand-tp { border-top:    1px solid #dbdbdb; }
.cs-bd-stand, .cs-bd-stand-bt { border-bottom: 1px solid #dbdbdb; }
.cs-bd-stand, .cs-bd-stand-lt { border-left:   1px solid #dbdbdb; }
.cs-bd-stand, .cs-bd-stand-rt { border-right:  1px solid #dbdbdb; }

.cs-ln-hover       { text-decoration: none; }
.cs-ln-hover:hover { text-decoration: underline; }

.cs-op-hover       { opacity: 1.00; /* ie9+, fx2+, chrome4+, safari3.1+ opera9+ */ transition: opacity 0.3s linear; /* ie10+, fx16+, opera12.1+ */ }
.cs-op-hover:hover { opacity: 0.75; /* ie9+, fx2+, chrome4+, safari3.1+ opera9+ */ }

.cs-tx-08 { font-size: 08px; }
.cs-tx-09 { font-size: 09px; }
.cs-tx-10 { font-size: 10px; }
.cs-tx-11 { font-size: 11px; }
.cs-tx-12 { font-size: 12px; }
.cs-tx-13 { font-size: 13px; }
.cs-tx-14 { font-size: 14px; }
.cs-tx-15 { font-size: 15px; }
.cs-tx-16 { font-size: 16px; }
.cs-tx-17 { font-size: 17px; }
.cs-tx-18 { font-size: 18px; }
.cs-tx-19 { font-size: 19px; }
.cs-tx-20 { font-size: 20px; }
.cs-tx-21 { font-size: 21px; }
.cs-tx-22 { font-size: 22px; }
.cs-tx-23 { font-size: 23px; }
.cs-tx-24 { font-size: 24px; }
.cs-tx-25 { font-size: 25px; }
.cs-tx-26 { font-size: 26px; }
.cs-tx-27 { font-size: 27px; }
.cs-tx-28 { font-size: 28px; }
.cs-tx-29 { font-size: 29px; }
.cs-tx-30 { font-size: 30px; }
.cs-tx-31 { font-size: 31px; }
.cs-tx-32 { font-size: 32px; }
.cs-tx-33 { font-size: 33px; }
.cs-tx-34 { font-size: 34px; }
.cs-tx-35 { font-size: 35px; }
.cs-tx-36 { font-size: 36px; }
.cs-tx-37 { font-size: 37px; }
.cs-tx-38 { font-size: 38px; }
.cs-tx-39 { font-size: 39px; }
.cs-tx-40 { font-size: 40px; }
.cs-tx-41 { font-size: 41px; }
.cs-tx-42 { font-size: 42px; }
.cs-tx-43 { font-size: 43px; }
.cs-tx-44 { font-size: 44px; }
.cs-tx-45 { font-size: 45px; }
.cs-tx-46 { font-size: 46px; }
.cs-tx-47 { font-size: 47px; }
.cs-tx-48 { font-size: 48px; }
.cs-tx-49 { font-size: 49px; }
.cs-tx-50 { font-size: 50px; }
.cs-tx-51 { font-size: 51px; }
.cs-tx-52 { font-size: 52px; }
.cs-tx-53 { font-size: 53px; }
.cs-tx-54 { font-size: 54px; }
.cs-tx-55 { font-size: 55px; }
.cs-tx-56 { font-size: 56px; }
.cs-tx-57 { font-size: 57px; }
.cs-tx-58 { font-size: 58px; }
.cs-tx-59 { font-size: 59px; }
.cs-tx-60 { font-size: 60px; }

.cs-tx-normal      { font-style: normal; font-weight: normal; }
.cs-tx-lighter     { font-style: normal; font-weight: 300; }
.cs-tx-bold        { font-style: normal; font-weight: bold; }
.cs-tx-italic      { font-style: italic; font-weight: normal; }
.cs-tx-bold-italic { font-style: italic; font-weight: bold; }

.cs-tx-noline      { text-decoration: none; }
.cs-tx-underline   { text-decoration: underline; }
.cs-tx-strikeline  { text-decoration: line-through; }

.cs-tx-serif       { font-family: 'Times New Roman', 'Sylfaen', serif; }
.cs-tx-sans-serif  { font-family: 'Arial', 'Verdana', sans-serif;  }

.cs-tx-notransform { text-transform: none; }
.cs-tx-uppercase   { text-transform: uppercase; }
.cs-tx-lowercase   { text-transform: lowercase; }
.cs-tx-capitalize  { text-transform: capitalize; }

.cs-wspace-normal  { white-space: normal; }
.cs-wspace-nowrap  { white-space: nowrap; }
.cs-wspace-pre     { white-space: pre; }
.cs-wspace-preline { white-space: pre-line; }
.cs-wspace-prewrap { white-space: pre-wrap; }

.cs-al-left        { text-align: left; }
.cs-al-right       { text-align: right; }
.cs-al-center      { text-align: center; }
.cs-al-justify     { text-align: justify; }
.cs-al-top         { vertical-align: top; }
.cs-al-middle      { vertical-align: middle; }
.cs-al-bottom      { vertical-align: bottom; }
.cs-al-text-top    { vertical-align: text-top; }
.cs-al-text-bottom { vertical-align: text-bottom; }
.cs-al-baseline    { vertical-align: baseline; }

.cs-dp-none          { display: none; }
.cs-dp-block         { display: block; }
.cs-dp-inline        { display: inline; }
.cs-dp-inline-block  { display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }
.cs-dp-iblock        { display: -moz-inline-stack; display: inline-block; *zoom: 1; *display: inline; }
.cs-dp-table         { display: table; }
.cs-dp-table-row     { display: table-row; }
.cs-dp-table-cell    { display: table-cell; }
.cs-dp-table-caption { display: table-caption; }

.cs-mg-center, .cs-mg-left  { margin-left: auto; }
.cs-mg-center, .cs-mg-right { margin-right: auto; }

.cs-fl-left  { float: left;  }
.cs-fl-right { float: right; }

.cs-pos-rel { position: relative; left: 0; top: 0; }
.cs-pos-abs { position: absolute; left: 0; top: 0; }

.cs-of-auto    { overflow: auto; }
.cs-of-scroll  { overflow: scroll; }
.cs-of-hidden  { overflow: hidden; }
.cs-of-visible { overflow: visible; }

.cs-cr-default { cursor: default; }
.cs-cr-pointer { cursor: pointer; }

.cs-whole, .cs-whole-x { width:  100%; }
.cs-whole, .cs-whole-y { height: 100%; }
.cs-min-whole, .cs-min-whole-x { min-width:  100%; }
.cs-min-whole, .cs-min-whole-y { min-height: 100%; }
.cs-max-whole, .cs-max-whole-x { max-width:  100%; }
.cs-max-whole, .cs-max-whole-y { max-height: 100%; }

.cs-null, .cs-null-x { width:  0; }
.cs-null, .cs-null-y { height: 0; }
.cs-null-font { font-size:   0; }
.cs-null-line { line-height: 0; }

.cs-spacer { width: auto; height: 0; overflow: hidden; }

.cs-spx-00 { margin:   0px; } .cs-spv-00, .cs-spt-00 { margin-top:   0px; } .cs-sph-00, .cs-spr-00 { margin-right:   0px; } .cs-spv-00, .cs-spb-00 { margin-bottom:   0px; } .cs-sph-00, .cs-spl-00 { margin-left:   0px; }
.cs-spx-01 { margin:   1px; } .cs-spv-01, .cs-spt-01 { margin-top:   1px; } .cs-sph-01, .cs-spr-01 { margin-right:   1px; } .cs-spv-01, .cs-spb-01 { margin-bottom:   1px; } .cs-sph-01, .cs-spl-01 { margin-left:   1px; }
.cs-spx-02 { margin:   2px; } .cs-spv-02, .cs-spt-02 { margin-top:   2px; } .cs-sph-02, .cs-spr-02 { margin-right:   2px; } .cs-spv-02, .cs-spb-02 { margin-bottom:   2px; } .cs-sph-02, .cs-spl-02 { margin-left:   2px; }
.cs-spx-03 { margin:   3px; } .cs-spv-03, .cs-spt-03 { margin-top:   3px; } .cs-sph-03, .cs-spr-03 { margin-right:   3px; } .cs-spv-03, .cs-spb-03 { margin-bottom:   3px; } .cs-sph-03, .cs-spl-03 { margin-left:   3px; }
.cs-spx-04 { margin:   4px; } .cs-spv-04, .cs-spt-04 { margin-top:   4px; } .cs-sph-04, .cs-spr-04 { margin-right:   4px; } .cs-spv-04, .cs-spb-04 { margin-bottom:   4px; } .cs-sph-04, .cs-spl-04 { margin-left:   4px; }
.cs-spx-05 { margin:   5px; } .cs-spv-05, .cs-spt-05 { margin-top:   5px; } .cs-sph-05, .cs-spr-05 { margin-right:   5px; } .cs-spv-05, .cs-spb-05 { margin-bottom:   5px; } .cs-sph-05, .cs-spl-05 { margin-left:   5px; }
.cs-spx-06 { margin:   6px; } .cs-spv-06, .cs-spt-06 { margin-top:   6px; } .cs-sph-06, .cs-spr-06 { margin-right:   6px; } .cs-spv-06, .cs-spb-06 { margin-bottom:   6px; } .cs-sph-06, .cs-spl-06 { margin-left:   6px; }
.cs-spx-07 { margin:   7px; } .cs-spv-07, .cs-spt-07 { margin-top:   7px; } .cs-sph-07, .cs-spr-07 { margin-right:   7px; } .cs-spv-07, .cs-spb-07 { margin-bottom:   7px; } .cs-sph-07, .cs-spl-07 { margin-left:   7px; }
.cs-spx-08 { margin:   8px; } .cs-spv-08, .cs-spt-08 { margin-top:   8px; } .cs-sph-08, .cs-spr-08 { margin-right:   8px; } .cs-spv-08, .cs-spb-08 { margin-bottom:   8px; } .cs-sph-08, .cs-spl-08 { margin-left:   8px; }
.cs-spx-08 { margin:   9px; } .cs-spv-09, .cs-spt-09 { margin-top:   9px; } .cs-sph-09, .cs-spr-09 { margin-right:   9px; } .cs-spv-09, .cs-spb-09 { margin-bottom:   9px; } .cs-sph-09, .cs-spl-09 { margin-left:   9px; }
.cs-spx-10 { margin:  10px; } .cs-spv-10, .cs-spt-10 { margin-top:  10px; } .cs-sph-10, .cs-spr-10 { margin-right:  10px; } .cs-spv-10, .cs-spb-10 { margin-bottom:  10px; } .cs-sph-10, .cs-spl-10 { margin-left:  10px; }
.cs-spx-20 { margin:  20px; } .cs-spv-20, .cs-spt-20 { margin-top:  20px; } .cs-sph-20, .cs-spr-20 { margin-right:  20px; } .cs-spv-20, .cs-spb-20 { margin-bottom:  20px; } .cs-sph-20, .cs-spl-20 { margin-left:  20px; }
.cs-spx-30 { margin:  30px; } .cs-spv-30, .cs-spt-30 { margin-top:  30px; } .cs-sph-30, .cs-spr-30 { margin-right:  30px; } .cs-spv-30, .cs-spb-30 { margin-bottom:  30px; } .cs-sph-30, .cs-spl-30 { margin-left:  30px; }
.cs-spx-40 { margin:  40px; } .cs-spv-40, .cs-spt-40 { margin-top:  40px; } .cs-sph-40, .cs-spr-40 { margin-right:  40px; } .cs-spv-40, .cs-spb-40 { margin-bottom:  40px; } .cs-sph-40, .cs-spl-40 { margin-left:  40px; }
.cs-spx-50 { margin:  50px; } .cs-spv-50, .cs-spt-50 { margin-top:  50px; } .cs-sph-50, .cs-spr-50 { margin-right:  50px; } .cs-spv-50, .cs-spb-50 { margin-bottom:  50px; } .cs-sph-50, .cs-spl-50 { margin-left:  50px; }
.cs-spx-60 { margin:  60px; } .cs-spv-60, .cs-spt-60 { margin-top:  60px; } .cs-sph-60, .cs-spr-60 { margin-right:  60px; } .cs-spv-60, .cs-spb-60 { margin-bottom:  60px; } .cs-sph-60, .cs-spl-60 { margin-left:  60px; }
.cs-spx-70 { margin:  70px; } .cs-spv-70, .cs-spt-70 { margin-top:  70px; } .cs-sph-70, .cs-spr-70 { margin-right:  70px; } .cs-spv-70, .cs-spb-70 { margin-bottom:  70px; } .cs-sph-70, .cs-spl-70 { margin-left:  70px; }
.cs-spx-80 { margin:  80px; } .cs-spv-80, .cs-spt-80 { margin-top:  80px; } .cs-sph-80, .cs-spr-80 { margin-right:  80px; } .cs-spv-80, .cs-spb-80 { margin-bottom:  80px; } .cs-sph-80, .cs-spl-80 { margin-left:  80px; }
.cs-spx-90 { margin:  90px; } .cs-spv-90, .cs-spt-90 { margin-top:  90px; } .cs-sph-90, .cs-spr-90 { margin-right:  90px; } .cs-spv-90, .cs-spb-90 { margin-bottom:  90px; } .cs-sph-90, .cs-spl-90 { margin-left:  90px; }

.cs-smx-00 { margin:   0px; } .cs-smv-00, .cs-smt-00 { margin-top:  -0px; } .cs-smh-00, .cs-smr-00 { margin-right:  -0px; } .cs-smv-00, .cs-smb-00 { margin-bottom:  -0px; } .cs-smh-00, .cs-sml-00 { margin-left:  -0px; }
.cs-smx-01 { margin:  -1px; } .cs-smv-01, .cs-smt-01 { margin-top:  -1px; } .cs-smh-01, .cs-smr-01 { margin-right:  -1px; } .cs-smv-01, .cs-smb-01 { margin-bottom:  -1px; } .cs-smh-01, .cs-sml-01 { margin-left:  -1px; }
.cs-smx-02 { margin:  -2px; } .cs-smv-02, .cs-smt-02 { margin-top:  -2px; } .cs-smh-02, .cs-smr-02 { margin-right:  -2px; } .cs-smv-02, .cs-smb-02 { margin-bottom:  -2px; } .cs-smh-02, .cs-sml-02 { margin-left:  -2px; }
.cs-smx-03 { margin:  -3px; } .cs-smv-03, .cs-smt-03 { margin-top:  -3px; } .cs-smh-03, .cs-smr-03 { margin-right:  -3px; } .cs-smv-03, .cs-smb-03 { margin-bottom:  -3px; } .cs-smh-03, .cs-sml-03 { margin-left:  -3px; }
.cs-smx-04 { margin:  -4px; } .cs-smv-04, .cs-smt-04 { margin-top:  -4px; } .cs-smh-04, .cs-smr-04 { margin-right:  -4px; } .cs-smv-04, .cs-smb-04 { margin-bottom:  -4px; } .cs-smh-04, .cs-sml-04 { margin-left:  -4px; }
.cs-smx-05 { margin:  -5px; } .cs-smv-05, .cs-smt-05 { margin-top:  -5px; } .cs-smh-05, .cs-smr-05 { margin-right:  -5px; } .cs-smv-05, .cs-smb-05 { margin-bottom:  -5px; } .cs-smh-05, .cs-sml-05 { margin-left:  -5px; }
.cs-smx-06 { margin:  -6px; } .cs-smv-06, .cs-smt-06 { margin-top:  -6px; } .cs-smh-06, .cs-smr-06 { margin-right:  -6px; } .cs-smv-06, .cs-smb-06 { margin-bottom:  -6px; } .cs-smh-06, .cs-sml-06 { margin-left:  -6px; }
.cs-smx-07 { margin:  -7px; } .cs-smv-07, .cs-smt-07 { margin-top:  -7px; } .cs-smh-07, .cs-smr-07 { margin-right:  -7px; } .cs-smv-07, .cs-smb-07 { margin-bottom:  -7px; } .cs-smh-07, .cs-sml-07 { margin-left:  -7px; }
.cs-smx-08 { margin:  -8px; } .cs-smv-08, .cs-smt-08 { margin-top:  -8px; } .cs-smh-08, .cs-smr-08 { margin-right:  -8px; } .cs-smv-08, .cs-smb-08 { margin-bottom:  -8px; } .cs-smh-08, .cs-sml-08 { margin-left:  -8px; }
.cs-smx-09 { margin:  -9px; } .cs-smv-09, .cs-smt-09 { margin-top:  -9px; } .cs-smh-09, .cs-smr-09 { margin-right:  -9px; } .cs-smv-09, .cs-smb-09 { margin-bottom:  -9px; } .cs-smh-09, .cs-sml-09 { margin-left:  -9px; }
.cs-smx-10 { margin: -10px; } .cs-smv-10, .cs-smt-10 { margin-top: -10px; } .cs-smh-10, .cs-smr-10 { margin-right: -10px; } .cs-smv-10, .cs-smb-10 { margin-bottom: -10px; } .cs-smh-10, .cs-sml-10 { margin-left: -10px; }
.cs-smx-20 { margin: -20px; } .cs-smv-20, .cs-smt-20 { margin-top: -20px; } .cs-smh-20, .cs-smr-20 { margin-right: -20px; } .cs-smv-20, .cs-smb-20 { margin-bottom: -20px; } .cs-smh-20, .cs-sml-20 { margin-left: -20px; }
.cs-smx-30 { margin: -30px; } .cs-smv-30, .cs-smt-30 { margin-top: -30px; } .cs-smh-30, .cs-smr-30 { margin-right: -30px; } .cs-smv-30, .cs-smb-30 { margin-bottom: -30px; } .cs-smh-30, .cs-sml-30 { margin-left: -30px; }
.cs-smx-40 { margin: -40px; } .cs-smv-40, .cs-smt-40 { margin-top: -40px; } .cs-smh-40, .cs-smr-40 { margin-right: -40px; } .cs-smv-40, .cs-smb-40 { margin-bottom: -40px; } .cs-smh-40, .cs-sml-40 { margin-left: -40px; }
.cs-smx-50 { margin: -50px; } .cs-smv-50, .cs-smt-50 { margin-top: -50px; } .cs-smh-50, .cs-smr-50 { margin-right: -50px; } .cs-smv-50, .cs-smb-50 { margin-bottom: -50px; } .cs-smh-50, .cs-sml-50 { margin-left: -50px; }
.cs-smx-60 { margin: -60px; } .cs-smv-60, .cs-smt-60 { margin-top: -60px; } .cs-smh-60, .cs-smr-60 { margin-right: -60px; } .cs-smv-60, .cs-smb-60 { margin-bottom: -60px; } .cs-smh-60, .cs-sml-60 { margin-left: -60px; }
.cs-smx-70 { margin: -70px; } .cs-smv-70, .cs-smt-70 { margin-top: -70px; } .cs-smh-70, .cs-smr-70 { margin-right: -70px; } .cs-smv-70, .cs-smb-70 { margin-bottom: -70px; } .cs-smh-70, .cs-sml-70 { margin-left: -70px; }
.cs-smx-80 { margin: -80px; } .cs-smv-80, .cs-smt-80 { margin-top: -80px; } .cs-smh-80, .cs-smr-80 { margin-right: -80px; } .cs-smv-80, .cs-smb-80 { margin-bottom: -80px; } .cs-smh-80, .cs-sml-80 { margin-left: -80px; }
.cs-smx-90 { margin: -90px; } .cs-smv-90, .cs-smt-90 { margin-top: -90px; } .cs-smh-90, .cs-smr-90 { margin-right: -90px; } .cs-smv-90, .cs-smb-90 { margin-bottom: -90px; } .cs-smh-90, .cs-sml-90 { margin-left: -90px; }

.cs-pdx-00 { padding:  0px; } .cs-pdv-00, .cs-pdt-00 { padding-top:  0px; } .cs-pdh-00, .cs-pdr-00 { padding-right:  0px; } .cs-pdv-00, .cs-pdb-00 { padding-bottom:  0px; } .cs-pdh-00, .cs-pdl-00 { padding-left:  0px; }
.cs-pdx-01 { padding:  1px; } .cs-pdv-01, .cs-pdt-01 { padding-top:  1px; } .cs-pdh-01, .cs-pdr-01 { padding-right:  1px; } .cs-pdv-01, .cs-pdb-01 { padding-bottom:  1px; } .cs-pdh-01, .cs-pdl-01 { padding-left:  1px; }
.cs-pdx-02 { padding:  2px; } .cs-pdv-02, .cs-pdt-02 { padding-top:  2px; } .cs-pdh-02, .cs-pdr-02 { padding-right:  2px; } .cs-pdv-02, .cs-pdb-02 { padding-bottom:  2px; } .cs-pdh-02, .cs-pdl-02 { padding-left:  2px; }
.cs-pdx-03 { padding:  3px; } .cs-pdv-03, .cs-pdt-03 { padding-top:  3px; } .cs-pdh-03, .cs-pdr-03 { padding-right:  3px; } .cs-pdv-03, .cs-pdb-03 { padding-bottom:  3px; } .cs-pdh-03, .cs-pdl-03 { padding-left:  3px; }
.cs-pdx-04 { padding:  4px; } .cs-pdv-04, .cs-pdt-04 { padding-top:  4px; } .cs-pdh-04, .cs-pdr-04 { padding-right:  4px; } .cs-pdv-04, .cs-pdb-04 { padding-bottom:  4px; } .cs-pdh-04, .cs-pdl-04 { padding-left:  4px; }
.cs-pdx-05 { padding:  5px; } .cs-pdv-05, .cs-pdt-05 { padding-top:  5px; } .cs-pdh-05, .cs-pdr-05 { padding-right:  5px; } .cs-pdv-05, .cs-pdb-05 { padding-bottom:  5px; } .cs-pdh-05, .cs-pdl-05 { padding-left:  5px; }
.cs-pdx-06 { padding:  6px; } .cs-pdv-06, .cs-pdt-06 { padding-top:  6px; } .cs-pdh-06, .cs-pdr-06 { padding-right:  6px; } .cs-pdv-06, .cs-pdb-06 { padding-bottom:  6px; } .cs-pdh-06, .cs-pdl-06 { padding-left:  6px; }
.cs-pdx-07 { padding:  7px; } .cs-pdv-07, .cs-pdt-07 { padding-top:  7px; } .cs-pdh-07, .cs-pdr-07 { padding-right:  7px; } .cs-pdv-07, .cs-pdb-07 { padding-bottom:  7px; } .cs-pdh-07, .cs-pdl-07 { padding-left:  7px; }
.cs-pdx-08 { padding:  8px; } .cs-pdv-08, .cs-pdt-08 { padding-top:  8px; } .cs-pdh-08, .cs-pdr-08 { padding-right:  8px; } .cs-pdv-08, .cs-pdb-08 { padding-bottom:  8px; } .cs-pdh-08, .cs-pdl-08 { padding-left:  8px; }
.cs-pdx-09 { padding:  9px; } .cs-pdv-09, .cs-pdt-09 { padding-top:  9px; } .cs-pdh-09, .cs-pdr-09 { padding-right:  9px; } .cs-pdv-09, .cs-pdb-09 { padding-bottom:  9px; } .cs-pdh-09, .cs-pdl-09 { padding-left:  9px; }
.cs-pdx-10 { padding: 10px; } .cs-pdv-10, .cs-pdt-10 { padding-top: 10px; } .cs-pdh-10, .cs-pdr-10 { padding-right: 10px; } .cs-pdv-10, .cs-pdb-10 { padding-bottom: 10px; } .cs-pdh-10, .cs-pdl-10 { padding-left: 10px; }
.cs-pdx-20 { padding: 20px; } .cs-pdv-20, .cs-pdt-20 { padding-top: 20px; } .cs-pdh-20, .cs-pdr-20 { padding-right: 20px; } .cs-pdv-20, .cs-pdb-20 { padding-bottom: 20px; } .cs-pdh-20, .cs-pdl-20 { padding-left: 20px; }
.cs-pdx-30 { padding: 30px; } .cs-pdv-30, .cs-pdt-30 { padding-top: 30px; } .cs-pdh-30, .cs-pdr-30 { padding-right: 30px; } .cs-pdv-30, .cs-pdb-30 { padding-bottom: 30px; } .cs-pdh-30, .cs-pdl-30 { padding-left: 30px; }
.cs-pdx-40 { padding: 40px; } .cs-pdv-40, .cs-pdt-40 { padding-top: 40px; } .cs-pdh-40, .cs-pdr-40 { padding-right: 40px; } .cs-pdv-40, .cs-pdb-40 { padding-bottom: 40px; } .cs-pdh-40, .cs-pdl-40 { padding-left: 40px; }
.cs-pdx-50 { padding: 50px; } .cs-pdv-50, .cs-pdt-50 { padding-top: 50px; } .cs-pdh-50, .cs-pdr-50 { padding-right: 50px; } .cs-pdv-50, .cs-pdb-50 { padding-bottom: 50px; } .cs-pdh-50, .cs-pdl-50 { padding-left: 50px; }
.cs-pdx-60 { padding: 60px; } .cs-pdv-60, .cs-pdt-60 { padding-top: 60px; } .cs-pdh-60, .cs-pdr-60 { padding-right: 60px; } .cs-pdv-60, .cs-pdb-60 { padding-bottom: 60px; } .cs-pdh-60, .cs-pdl-60 { padding-left: 60px; }
.cs-pdx-70 { padding: 70px; } .cs-pdv-70, .cs-pdt-70 { padding-top: 70px; } .cs-pdh-70, .cs-pdr-70 { padding-right: 70px; } .cs-pdv-70, .cs-pdb-70 { padding-bottom: 70px; } .cs-pdh-70, .cs-pdl-70 { padding-left: 70px; }
.cs-pdx-80 { padding: 80px; } .cs-pdv-80, .cs-pdt-80 { padding-top: 80px; } .cs-pdh-80, .cs-pdr-80 { padding-right: 80px; } .cs-pdv-80, .cs-pdb-80 { padding-bottom: 80px; } .cs-pdh-80, .cs-pdl-80 { padding-left: 80px; }
.cs-pdx-90 { padding: 90px; } .cs-pdv-90, .cs-pdt-90 { padding-top: 90px; } .cs-pdh-90, .cs-pdr-90 { padding-right: 90px; } .cs-pdv-90, .cs-pdb-90 { padding-bottom: 90px; } .cs-pdh-90, .cs-pdl-90 { padding-left: 90px; }

.cs-bd-round-01 { -webkit-border-radius: 1px; -moz-border-radius: 1px; border-radius: 1px; }
.cs-bd-round-02 { -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.cs-bd-round-03 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.cs-bd-round-04 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.cs-bd-round-05 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.cs-bd-round-06 { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.cs-bd-round-07 { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.cs-bd-round-08 { -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.cs-bd-round-09 { -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; }
.cs-bd-round-10 { -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; }

/********************/
/* collapse */

.cs-collapse, cs-uncollapse {
  display: block;
  height: 0; width: auto;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  visibility: hidden; /* fx */
}
.cs-uncollapse {
  overflow: hidden;
}
.cs-collapse:before,
.cs-collapse:after {
  content: '';
  display: block;
  height: 0; width: auto;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  visibility: hidden; /* fx */
}
.cs-collapse:before { margin:  1000px 0; }
.cs-collapse:after  { margin: -1000px 0; }


