/******************************************/
/* BUTTONS & LINKS */
a        { color: #642887; text-decoration: none; position: relative; outline: none !important; }
a:hover  { color: #73369e; text-decoration: underline; }

a.noline        { text-decoration: none; }
a.noline:hover  { text-decoration: none; }

/********************/
/* tsr-btn */
.tsr-btn  {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  padding: 12px 40px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.0;
  cursor: pointer; /* required for input elements */
  border: 0 none; /* required for input elements */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tsr-btn        { background: #00b48c; border-bottom: 4px solid #009974; color: #ffffff; text-decoration: none; }
.tsr-btn:hover  { background: #00cc9b; border-bottom: 4px solid #00b48c; color: #ffffff; text-decoration: none; }
.tsr-btn:active { background: #009974; border-bottom: 4px solid #009974; color: #ffffff; }
.tsr-btn:focus  { outline: none; }

.touch  .tsr-btn        { text-decoration: none; }
.touch  .tsr-btn:hover  { text-decoration: none; }
.touch  .tsr-btn:focus  { text-decoration: none; }
.touch  .tsr-btn:active { text-decoration: none; }

.tsr-btn.tsr-btn-xsmall  { padding:  8px 20px  8px; font-size: 13px; line-height: 1.0; }
.tsr-btn.tsr-btn-small   { padding: 12px 30px 12px; font-size: 13px; line-height: 1.0; }
.tsr-btn.tsr-btn-form    { padding: 12px 30px 12px; font-size: 13px; line-height: 1.0; }
.tsr-btn.tsr-btn-normal  { padding: 12px 40px 12px; font-size: 13px; line-height: 1.0; }
.tsr-btn.tsr-btn-large   { padding: 18px 40px 18px; font-size: 15px; line-height: 1.0; }

.tsr-btn.tsr-btn-100     { display: block; text-align: center; }

.tsr-btn.tsr-btn-turquoise          { background: #00b48c; border-top-color: #00b48c; border-bottom-color: #009974; }
.tsr-btn.tsr-btn-turquoise:hover    { background: #00cc9b; border-top-color: #00cc9b; border-bottom-color: #00b48c; }
.tsr-btn.tsr-btn-turquoise:active   { background: #009974; border-top-color: #009974; border-bottom-color: #009974; }

.tsr-btn.tsr-btn-purple             { background: #642887; border-top-color: #642887; border-bottom-color: #4e256b; }
.tsr-btn.tsr-btn-purple:hover       { background: #73369e; border-top-color: #73369e; border-bottom-color: #642887; }
.tsr-btn.tsr-btn-purple:active      { background: #4e256b; border-top-color: #4e256b; border-bottom-color: #4e256b; }

.tsr-btn.tsr-btn-pink               { background: #c41b79; border-top-color: #c41b79; border-bottom-color: #a91a6f; }
.tsr-btn.tsr-btn-pink:hover         { background: #db2190; border-top-color: #db2190; border-bottom-color: #c41b79; }
.tsr-btn.tsr-btn-pink:active        { background: #a91a6f; border-top-color: #a91a6f; border-bottom-color: #a91a6f; }

.tsr-btn.tsr-btn-blue               { background: #0083be; border-top-color: #0083be; border-bottom-color: #0070a3; }
.tsr-btn.tsr-btn-blue:hover         { background: #009fd6; border-top-color: #009fd6; border-bottom-color: #0083be; }
.tsr-btn.tsr-btn-blue:active        { background: #0070a3; border-top-color: #0070a3; border-bottom-color: #0070a3; }

.tsr-btn.tsr-btn-orange             { background: #ff6319; border-top-color: #ff6319; border-bottom-color: #da552a; }
.tsr-btn.tsr-btn-orange:hover       { background: #ff9166; border-top-color: #ff9166; border-bottom-color: #ff6319; }
.tsr-btn.tsr-btn-orange:active      { background: #da552a; border-top-color: #da552a; border-bottom-color: #da552a; }

.tsr-btn.tsr-btn-gray               { background: #a4a5a6; border-top-color: #a4a5a6; border-bottom-color: #959595; }
.tsr-btn.tsr-btn-gray:hover         { background: #bdbfbf; border-top-color: #bdbfbf; border-bottom-color: #afadae; }
.tsr-btn.tsr-btn-gray:active        { background: #8c8c8c; border-top-color: #8c8c8c; border-bottom-color: #7c7c7c; }

.tsr-btn.tsr-btn-disabled,
.tsr-btn:disabled,
.tsr-btn.tsr-btn-disabled:hover,
.tsr-btn:disabled:hover             { background: #a4a5a6; border-top-color: #a4a5a6; border-bottom-color: #959595; color: rgba(255, 255, 255, 0.8); cursor: default; }

/********************/
/* tsr-btn-view-all */

.tsr-btn-view-all {
  z-index: 1;
  display: block;
  position: relative;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
}
.tsr-btn-view-all                       { background: #ffffff; }
.tsr-btn-view-all:hover                 { background: #f6f6f6; text-decoration: none; cursor: pointer; }
.tsr-btn-view-all.tsr-color-shade       { background: #f6f6f6; }
.tsr-btn-view-all.tsr-color-shade:hover { background: #ffffff; }

.touch  .tsr-btn-view-all        { text-decoration: none; }
.touch  .tsr-btn-view-all:hover  { text-decoration: none; }
.touch  .tsr-btn-view-all:focus  { text-decoration: none; }
.touch  .tsr-btn-view-all:active { text-decoration: none; cursor: pointer; }

.tsr-btn-view-all span       { color: #642887; display: block; padding: 10px 15px; margin: 10px 10px; font-weight: bold; font-size: 15px; line-height: 1; }
.tsr-btn-view-all span i     { color: #000000; font-style: normal; font-weight: normal; margin-left: 4px; }
.tsr-btn-view-all span:hover { background: none; }

/********************/
/* tsr-inline-btn */
.tsr-inline-btn  {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  padding: 0 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 1.4;
  vertical-align: top;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-inline-btn
.tsr-inline-btn:hover
.tsr-inline-btn:active
.tsr-inline-btn:focus {
  text-decoration: none; outline: none;
}
.tsr-inline-btn                { background: #00b48c; color: #ffffff; }
.tsr-inline-btn.tsr-btn-purple { background: #642887; color: #ffffff; }
.tsr-inline-btn.tsr-btn-pink   { background: #c41b79; color: #ffffff; }
.tsr-inline-btn.tsr-btn-blue   { background: #0083be; color: #ffffff; }
.tsr-inline-btn.tsr-btn-orange { background: #ff6319; color: #ffffff; }

/********************/
/* tsr-ico-btn */
.tsr-ico-btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  z-index: 0;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 0;
  color: #ffffff;
}
.tsr-ico-btn
.tsr-ico-btn:hover
.tsr-ico-btn:active
.tsr-ico-btn:focus {
  text-decoration: none; outline: none;
}
.tsr-ico-btn > * {
  z-index: 0;
  display: block;
  position: relative;
}
.tsr-ico-btn:before {
  content: '';
  z-index: 0;
  overflow: hidden;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 0;
  padding-top: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-ico-btn:before                { background: #00b48c; }
.tsr-ico-btn:before                { background: #00b48c; }
.tsr-ico-btn:before.tsr-btn-purple { background: #642887; }
.tsr-ico-btn:before.tsr-btn-pink   { background: #c41b79; }
.tsr-ico-btn:before.tsr-btn-blue   { background: #0083be; }
.tsr-ico-btn:before.tsr-btn-orange { background: #ff6319; }

/********************/

@media screen and (max-width: 800px) {

/********************/
/* tsr-btn-view-all */
.tsr-btn-view-all span       { color: #ffffff; background: #642887; border-bottom: 4px solid #4e256b; -webkit-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; font-weight: normal; font-size: 13px;  }
.tsr-btn-view-all span i     { color: #ffffff; display: inline-block; }
.tsr-btn-view-all span:hover { background: #73369e; }

}
