/******************************************/
/* SECTION REFINER */
.tsr-section-refiner {
  background: #f6f6f6;
  color: #333333;
}

/********************/
/* header & footer */
.tsr-section-refiner .tsr-refiner-header {
  display: block;
  background: #642887;
  color: #ffffff;
}
.tsr-section-refiner .tsr-refiner-footer {
  display: none;
  position: relative;
  background: #f6f6f6;
  color: #333333;
}
/* sub */
.tsr-section-refiner .tsr-refiner-footer .tsr-refiner-sub {
  display: none;
}
.tsr-section-refiner .tsr-refiner-footer .tsr-refiner-sub.is-expanded {
  display: block;
}


/********************/
/* links */
.tsr-section-refiner .tsr-refiner-links {
  float: left;
}
.tsr-section-refiner .tsr-refiner-links ul {
  font-size: 0; line-height: 0;
  margin: 0; padding: 12px 0;
  list-style: none;
}
.tsr-section-refiner .tsr-refiner-links li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0; padding: 0;
  padding-right: 31px;
}
.tsr-section-refiner .tsr-refiner-links li:last-child {
  padding-right: 0;
}
/* divider-line */
.tsr-section-refiner .tsr-refiner-links li:after {
  content: '';
  display: block;
  z-index: 1;
  font-size: 0;
  right: 15px; top: 50%;
  position: absolute;
  width: 1px; height: 14px;
  margin-top: -7px;
  background: #dbdbdb;
}
.tsr-section-refiner .tsr-refiner-links li:last-child:after {
  display: none;
}
.ie8 .tsr-section-refiner .tsr-refiner-links li:after {
  display: none;
}
/* links */
.tsr-section-refiner .tsr-refiner-links a {
  z-index: 1;
  position: relative;
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
}
.no-touch .tsr-section-refiner .tsr-refiner-links a:hover,
.tsr-section-refiner .tsr-refiner-links a.is-choosen {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
}
.tsr-section-refiner .tsr-refiner-links a.is-starred:after {
  content: '\e646';
  display: block;
  width: 10px; height: 10px;
  padding: 3px;
  z-index: -1;
  position: absolute;
  top: -6px; right: -10px;
  font-size: 9px;
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #c41b79;
}

/********************/
/* extra */
.tsr-section-refiner .tsr-refiner-extra {
  float: right;
}
.tsr-section-refiner .tsr-refiner-extra ul {
  font-size: 0; line-height: 0;
  margin: 0; padding: 0;
  text-align: right;
}
.tsr-section-refiner .tsr-refiner-extra li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0; padding: 0;
}
/* links */
.tsr-section-refiner .tsr-refiner-extra a {
  display: block;
  font-size: 15px;
  line-height: 30px;
  padding: 8px 15px;
  border-top: 4px solid #642887;
  border-bottom: 4px solid #642887;
  color: #ffffff;
  text-decoration: none;
}
.tsr-section-refiner .tsr-refiner-extra a:hover,
.tsr-section-refiner .tsr-refiner-extra a.is-choosen {
  color: #ffffff;
  text-decoration: none;
}
.tsr-section-refiner .tsr-refiner-extra a                           { background: #642887; border-top-color: #642887; border-bottom-color: #642887; }
.tsr-section-refiner .tsr-refiner-extra a.is-choosen                { background: #642887; border-top-color: #642887; border-bottom-color: #4e256b; }
.tsr-section-refiner .tsr-refiner-extra a:hover                     { background: #73369e; border-top-color: #73369e; border-bottom-color: #642887; }
.tsr-section-refiner .tsr-refiner-extra a:active                    { background: #4e256b; border-top-color: #4e256b; border-bottom-color: #4e256b; }

.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-purple            { background: #642887; border-top-color: #642887; border-bottom-color: #642887; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-purple.is-choosen { background: #642887; border-top-color: #642887; border-bottom-color: #4e256b; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-purple:hover      { background: #73369e; border-top-color: #73369e; border-bottom-color: #642887; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-purple:active     { background: #4e256b; border-top-color: #4e256b; border-bottom-color: #4e256b; }

.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-pink              { background: #c41b79; border-top-color: #c41b79; border-bottom-color: #c41b79; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-pink.is-choosen   { background: #c41b79; border-top-color: #c41b79; border-bottom-color: #a91a6f; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-pink:hover        { background: #db2190; border-top-color: #db2190; border-bottom-color: #c41b79; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-pink:active       { background: #a91a6f; border-top-color: #a91a6f; border-bottom-color: #a91a6f; }

.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-blue              { background: #0083be; border-top-color: #0083be; border-bottom-color: #0083be; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-blue.is-choosen   { background: #0083be; border-top-color: #0083be; border-bottom-color: #0070a3; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-blue:hover        { background: #009fd6; border-top-color: #009fd6; border-bottom-color: #0083be; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-blue:active       { background: #0070a3; border-top-color: #0070a3; border-bottom-color: #0070a3; }

.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-orange            { background: #ff6319; border-top-color: #ff6319; border-bottom-color: #ff6319; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-orange.is-choosen { background: #ff6319; border-top-color: #ff6319; border-bottom-color: #da552a; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-orange:hover      { background: #ff9166; border-top-color: #ff9166; border-bottom-color: #ff6319; }
.tsr-section-refiner .tsr-refiner-extra a.tsr-btn-orange:active     { background: #da552a; border-top-color: #da552a; border-bottom-color: #da552a; }

/********************/
/* menus */
.tsr-section-refiner .tsr-refiner-menus {
  float: right;
  text-align: right;
}
.tsr-section-refiner .tsr-refiner-menus ul {
  font-size: 0; line-height: 0;
  margin: 0; padding: 0;
}
.tsr-section-refiner .tsr-refiner-menus > ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0; padding: 0;
}
/* links */
.tsr-section-refiner .tsr-refiner-menus > ul > li > a {
  display: block;
  font-size: 15px;
  line-height: 54px;
  padding: 0 15px;
  background: #642887;
  color: #ffffff;
  text-decoration: none;
}
.tsr-section-refiner .tsr-refiner-menus > ul > li > a:hover {
  color: #ffffff;
  background: #73369e;
  text-decoration: none;
}
.tsr-section-refiner .tsr-refiner-menus > ul > li > a.is-selected,
.tsr-section-refiner .tsr-refiner-menus > ul > li > a.is-selected:hover {
  background: #4e256b
}

.tsr-section-refiner .tsr-refiner-menus > ul > li > a:after {
  content: '\e669';
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font-family: 'ts-icons-all';
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 6px;
  margin-bottom: 2px;
}
.tsr-section-refiner .tsr-refiner-menus > ul > li > a.is-selected:after {
  content: '\e66b';
}
/* select */
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select {
  position: relative;
}
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select ul {
  display: none;
  z-index: 10;
  position: absolute;
  right: 0; top: 100%;
  background: #4e256b;
  padding: 10px 0;
}
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select ul.is-expanded {
  display: block;
}
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select ul li {
  display: block;
}
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select ul li a {
  display: block;
  font-size: 13px;
  line-height: normal;
  white-space: nowrap;
  padding: 8px 15px;
  background: #4e256b;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
}
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select ul li a.is-choosen {
  background: #642887
}
.tsr-section-refiner .tsr-refiner-menus li.tsr-refiner-select ul li a:hover {
  color: #ffffff;
  background: #73369e;
  text-decoration: none;
}
/* tsr-refiner-filters */
.tsr-section-refiner .tsr-refiner-filters {
  padding-top: 20px;
  font-size: 0; line-height: 0;
}
.tsr-section-refiner .tsr-refiner-filters ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0; padding: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-section-refiner .tsr-refiner-filters li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0; padding: 0;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 15px; line-height: normal;
}
.tsr-section-refiner .tsr-refiner-filters li:first-child {
  display: block;
  margin: 0; padding: 0;
  padding-bottom: 10px;
}
.tsr-section-refiner .tsr-refiner-filters .tsr-refiner-filters-title {
  font-size: 15px;
}
.tsr-section-refiner .tsr-refiner-filters .tsr-btn.is-choosen,
.tsr-section-refiner .tsr-refiner-filters .tsr-btn.is-choosen:hover {
  background: #4e256b;
  border-bottom-color: #4e256b;
}

/********************/
@media screen and (max-width: 1020px) {

.tsr-section-refiner .tsr-refiner-links {
  float: none; clear: right;
}

.tsr-section-refiner .tsr-refiner-filters ul {
  width: auto;
  display: block;
}

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-refiner .tsr-refiner-links ul {
  padding-left: 15px;
  padding-right: 15px;
}

.tsr-section-refiner .tsr-refiner-filters {
  padding-left: 15px;
  padding-right: 15px;
}

}
