/******************************************/
/* ATENTION */

.tsr-section-attention                     { background-color: #00b48c; color: #ffffff; }
.tsr-section-attention.tsr-color-blue      { background-color: #0083be; color: #ffffff; }
.tsr-section-attention.tsr-color-green     { background-color: #bed600; color: #ffffff; }
.tsr-section-attention.tsr-color-orange    { background-color: #ff6319; color: #ffffff; }
.tsr-section-attention.tsr-color-pink      { background-color: #c41b79; color: #ffffff; }
.tsr-section-attention.tsr-color-purple    { background-color: #642887; color: #ffffff; }
.tsr-section-attention.tsr-color-turquoise { background-color: #00b48c; color: #ffffff; }
.tsr-section-attention.tsr-color-yellow    { background-color: #f9dc00; color: #333333; }
.tsr-section-attention.tsr-color-lgray     { background-color: #a4a5a6; color: #ffffff; }
.no-touch .tsr-section-attention:hover                     { background-color: #00cc9b; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-blue:hover      { background-color: #009fd6; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-green:hover     { background-color: #dced00; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-orange:hover    { background-color: #ff9166; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-pink:hover      { background-color: #db2190; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-purple:hover    { background-color: #73369e; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-turquoise:hover { background-color: #00cc9b; color: #ffffff; }
.no-touch .tsr-section-attention.tsr-color-yellow:hover    { background-color: #ffe75c; color: #333333; }
.no-touch .tsr-section-attention.tsr-color-lgray:hover     { background-color: #bdbfbf; color: #ffffff; }

.tsr-section-attention * { cursor: default; }
.tsr-section-attention a,
.tsr-section-attention a:hover { cursor: pointer; color: #ffffff; text-decoration: underline; }
.tsr-section-attention.tsr-color-yellow a,
.tsr-section-attention.tsr-color-yellow a:hover { cursor: pointer; color: #333333; }

.tsr-section-attention strong {
  font-weight: bold;
}

.tsr-section-attention .tsr-module-attention {
  position: relative;
  padding: 15px 0px;
}

.tsr-section-attention .tsr-module-attention-icon {
  position: absolute;
  left: 0; top: 15px;
  font-size: 24px;
  line-height: 1;
}

.tsr-section-attention .tsr-module-attention-text {
  padding: 2px 40px;
  line-height: 20px;
}

.tsr-section-attention .tsr-module-attention-close {
  position: absolute;
  right: 0; top: 15px;
  margin-top: -3px;
  font-size: 30px;
  text-decoration: none;
}
.tsr-section-attention .tsr-module-attention-close:hover { text-decoration: none; }


/********************/
@media screen and (max-width: 800px) {

.tsr-section-attention {
  padding-left:  15px;
  padding-right: 15px;
}

}


