/******************************************/
/* USSD */
.tsr-section-ussd {}

.tsr-section-ussd-item {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #dbdbdb;
}
.tsr-section-ussd-item:first-child {
  padding-top: 0px;
  margin-top: 0px;
  border-top: 0 none;
}

.tsr-module-ussd {
  width: 100%;
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-module-ussd-col-01,
.tsr-module-ussd-col-02 {
  display: table-cell;
  vertical-align: top;
}
.tsr-module-ussd-col-01 {}
.tsr-module-ussd-col-02 {
  padding-left: 2%;
  text-align: right;
}

/********************/

@media screen and (max-width: 800px) {

.tsr-section-ussd {
  padding: 0 15px;
}

.tsr-module-ussd {
  width: auto;
  display: block;
}
.tsr-module-ussd-col-01,
.tsr-module-ussd-col-02 {
  display: block;
}
.tsr-module-ussd-col-01 {}
.tsr-module-ussd-col-02 {
  padding-top: 10px;
  padding-left: 0;
  text-align: left;
}

}
