/******************************************/
/* VACANCIES */
.tsr-section-vacancies {}
.tsr-section-vacancies .tsr-vacancies-main { float: left;  width: 70%; }
.tsr-section-vacancies .tsr-vacancies-side { float: right; width: 25%; }

/********************/
@media screen and (max-width: 1260px) {
.tsr-section-vacancies .tsr-vacancies-main { float: left;  width: 65%; }
.tsr-section-vacancies .tsr-vacancies-side { float: right; width: 30%; }
}

/********************/
@media screen and (max-width: 1020px) {
.tsr-section-vacancies { padding: 0 15px; }
.tsr-section-vacancies .tsr-vacancies-main { float: none; width: auto; }
.tsr-section-vacancies .tsr-vacancies-side { float: none; width: auto; margin-top: 20px; }
}
