@font-face {
  font-family: 'Arial Web';
  src: url('arial-bpg.eot');
  src: url('arial-bpg.eot?#iefix') format('embedded-opentype'),
       url('arial-bpg.woff2') format('woff2'),
       url('arial-bpg.woff') format('woff'),
       url('arial-bpg.ttf') format('truetype'),
       url('arial-bpg.svg#arial-bpg-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Caps Web';
  src: url('arial-bpg-caps.eot');
  src: url('arial-bpg-caps.eot?#iefix') format('embedded-opentype'),
       url('arial-bpg-caps.woff2') format('woff2'),
       url('arial-bpg-caps.woff') format('woff'),
       url('arial-bpg-caps.ttf') format('truetype'),
       url('arial-bpg-caps.svg#arial-bpg-caps-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
