.sample-autocomplete-suggestions {
  position: absolute;
  display: none;
  z-index: 30;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.sample-autocomplete-suggestions {
  cursor: default;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  max-height: 180px;
  -webkit-border-radius: 0px;
      -ms-border-radius: 0px;
          border-radius: 0px;
  color: #202020;
  border-color: #bfd6e7;
  background-color: #ffffff;
}
.sample-autocomplete-suggestion {
  position: relative;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 10px;
  text-overflow: ellipsis;
  color: #202020;
}
.sample-autocomplete-suggestion b {
  font-weight: normal;
  color: #2b75ae;
}
.sample-autocomplete-suggestion.selected {
  background-color: #eaf1f7;
}


.autocomplete-suggestions.com-bnr-ac {
  position: absolute;
  display: none;
  text-align: left;
  color: #ffffff;
}
.autocomplete-suggestions.com-bnr-ac .autocomplete-suggestion {
  display: inline;
  cursor: pointer;
  font-size: 10px;
  text-decoration: underline;
}
.autocomplete-suggestions.com-bnr-ac .autocomplete-suggestion b { font-weight: normal; }
.autocomplete-suggestions.com-bnr-ac .autocomplete-suggestion.selected {}
