/******************************************/
/* BUTTONS */

/********************/
/* com-btn */

.com-btn {
  color: white;
  background-color: gray;
  display: -moz-inline-stack; /* fx2 */
  display: inline-block; /* fx3+, chrome4+, safari3+, opera9+, ie8+ */
  position: relative;
  cursor: pointer; /* required for input elements */
  font-size: 14px; !important;
  font-weight: normal !important;
  text-decoration: none !important;
  line-height: 1.0;
  padding: 10px;
  border: 1px solid gray; /* required for input elements */
  -webkit-border-radius: 4px; /* chrome4+, safari3.1+ */
     -moz-border-radius: 4px; /* fx2+ */
          border-radius: 4px; /* fx4+, chrome5+, safari5+, opera11.5+, ie9+ */
  -webkit-box-sizing: border-box; /* chrome4+, safari3.1+ */
     -moz-box-sizing: border-box; /* fx2+ */
          box-sizing: border-box; /* fx3+, chrome10+, safari5.1+, opera10.1+, ie8+ */
  -webkit-transition: all 0.2s ease; /* chrome4+, safari3.1+ */
     -moz-transition: all 0.2s ease; /* fx4+ */
          transition: all 0.2s ease; /* fx16+, chrome25+, safari6.1+, opera12.1+, ie10+ */
  -webkit-touch-callout: none; /* webkit */
    -webkit-user-select: none; /* chrome6+, safari3.1+, opera15+ */
       -moz-user-select: none; /* fx2+ */
        -ms-user-select: none; /* ie10+ */
            user-select: none; /* no-support */
}
.com-btn        { background-color: #00b48c; color: #ffffff; text-decoration: none; }
.com-btn:hover  { background-color: #00cc9b; color: #ffffff; text-decoration: none; }
.com-btn:active { background-color: #009974; color: #ffffff; }
.com-btn:focus  { outline: none; }

.com-btn.com-btn-whole   { display: block; width: 100%; }

.com-btn.com-btn-normal  { border-width: 2px; padding: 9px 30px; font-size: 14px; }

.com-btn.com-btn-blue               { border-color: #0083be; background-color: #0083be; color: #ffffff; }
.com-btn.com-btn-blue:hover         { border-color: #009fd6; background-color: #009fd6; color: #ffffff; }
.com-btn.com-btn-blue:active        { border-color: #0070a3; background-color: #0070a3; color: #ffffff; }

.com-btn.com-btn-green              { border-color: #bed600; background-color: #bed600; color: #ffffff; }
.com-btn.com-btn-green:hover        { border-color: #dced00; background-color: #dced00; color: #ffffff; }
.com-btn.com-btn-green:active       { border-color: #adba00; background-color: #adba00; color: #ffffff; }

.com-btn.com-btn-orange             { border-color: #ff6319; background-color: #ff6319; color: #ffffff; }
.com-btn.com-btn-orange:hover       { border-color: #ff9166; background-color: #ff9166; color: #ffffff; }
.com-btn.com-btn-orange:active      { border-color: #da552a; background-color: #da552a; color: #ffffff; }

.com-btn.com-btn-pink               { border-color: #c41b79; background-color: #c41b79; color: #ffffff; }
.com-btn.com-btn-pink:hover         { border-color: #db2190; background-color: #db2190; color: #ffffff; }
.com-btn.com-btn-pink:active        { border-color: #a91a6f; background-color: #a91a6f; color: #ffffff; }

.com-btn.com-btn-purple             { border-color: #642887; background-color: #642887; color: #ffffff; }
.com-btn.com-btn-purple:hover       { border-color: #73369e; background-color: #73369e; color: #ffffff; }
.com-btn.com-btn-purple:active      { border-color: #4e256b; background-color: #4e256b; color: #ffffff; }

.com-btn.com-btn-turquoise          { border-color: #00b48c; background-color: #00b48c; color: #ffffff; }
.com-btn.com-btn-turquoise:hover    { border-color: #00cc9b; background-color: #00cc9b; color: #ffffff; }
.com-btn.com-btn-turquoise:active   { border-color: #009974; background-color: #009974; color: #ffffff; }

.com-btn.com-btn-gray               { border-color: #a4a5a6; background-color: #a4a5a6; color: #ffffff; }
.com-btn.com-btn-gray:hover         { border-color: #bdbfbf; background-color: #bdbfbf; color: #ffffff; }
.com-btn.com-btn-gray:active        { border-color: #8c8c8c; background-color: #8c8c8c; color: #ffffff; }

.com-btn.com-btn-disabled,
.com-btn.com-btn-disabled:hover,
.com-btn.com-btn-disabled:active    { background-color: #a4a5a6; border-top-color: #a4a5a6; border-bottom-color: #959595; color: rgba(255, 255, 255, 0.8); cursor: default; }

/* custom */

.com-btn-choice {
  border-width: 2px;
  padding: 9px 9px;
  font-size: 14px;
  text-align: left;
  min-width: 140px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #642887;
}
.com-btn-choice:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #73369e;
}
.com-btn-choice:active,
.com-btn-choice.com-active {
  color: #ffffff;
  border-color: #0083be;
  background-color: #0083be;
}
.com-btn-choice .com-icon {
  display: block;
  position: absolute;
  right: 15px; top: 50%;
  width: 12px; height: 12px;
  margin: -6px;
  visibility: hidden;
  opacity: 0.0;
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.com-btn-choice:active     .com-icon,
.com-btn-choice.com-active .com-icon {
  visibility: visible;
  opacity: 1.0;
}

