/******************************************/
/* COLORS */

/********************/
/* general colors */

.com-cl-text      { color: #333333; }
.com-cl-link      { color: #642887; }

.com-cl-white { color: #ffffff; }
.com-cl-black { color: #000000; }
.com-cl-xgray { color: #808080; }
.com-cl-error { color: #FF0000; }

.com-bg-white { background-color: #ffffff; }
.com-bg-black { background-color: #000000; }
.com-bg-gray  { background-color: #808080; }
.com-bg-error { background-color: #FF0000; }

/******************************************/
/* palette colors */

.com-cl-primary   { color: #642887; } .com-cl-primary-h   { color: #73369e; } .com-cl-primary-t   { color: #4e256b; }
.com-cl-shade     { color: #f6f6f6; } .com-cl-shade-h     { color: #ffffff; } .com-cl-shade-t     { color: #dbdbdb; }
.com-cl-blue      { color: #0083be; } .com-cl-blue-h      { color: #009fd6; } .com-cl-blue-t      { color: #0070a3; }
.com-cl-green     { color: #bed600; } .com-cl-green-h     { color: #dced00; } .com-cl-green-t     { color: #adba00; }
.com-cl-orange    { color: #ff6319; } .com-cl-orange-h    { color: #ff9166; } .com-cl-orange-t    { color: #da552a; }
.com-cl-pink      { color: #c41b79; } .com-cl-pink-h      { color: #db2190; } .com-cl-pink-t      { color: #a91a6f; }
.com-cl-purple    { color: #642887; } .com-cl-purple-h    { color: #73369e; } .com-cl-purple-t    { color: #4e256b; }
.com-cl-turquoise { color: #00b48c; } .com-cl-turquoise-h { color: #00cc9b; } .com-cl-turquoise-t { color: #009974; }
.com-cl-yellow    { color: #f9dc00; } .com-cl-yellow-h    { color: #ffe75c; } .com-cl-yellow-t    { color: #eac907; }
.com-cl-lgray     { color: #a4a5a6; } .com-cl-lgray-h     { color: #b2b3b4; } .com-cl-lgray-t     { color: #8b8c8d; }
.com-cl-dgray     { color: #4e4c4a; } .com-cl-lgray-h     { color: #696765; } .com-cl-lgray-t     { color: #42413f; }
.com-cl-red       { color: #fb0000; } .com-cl-blue-h      { color: #fc2424; } .com-cl-blue-t      { color: #d80000; }

.com-bg-primary   { background-color: #642887; } .com-bg-primary-h   { background-color: #73369e; } .com-bg-primary-t   { background-color: #4e256b; }
.com-bg-shade     { background-color: #f6f6f6; } .com-bg-shade-h     { background-color: #ffffff; } .com-bg-shade-t     { background-color: #dbdbdb; }
.com-bg-blue      { background-color: #0083be; } .com-bg-blue-h      { background-color: #009fd6; } .com-bg-blue-h      { background-color: #0070a3; }
.com-bg-green     { background-color: #bed600; } .com-bg-green-h     { background-color: #dced00; } .com-bg-green-h     { background-color: #adba00; }
.com-bg-orange    { background-color: #ff6319; } .com-bg-orange-h    { background-color: #ff9166; } .com-bg-orange-h    { background-color: #da552a; }
.com-bg-pink      { background-color: #c41b79; } .com-bg-pink-h      { background-color: #db2190; } .com-bg-pink-h      { background-color: #a91a6f; }
.com-bg-purple    { background-color: #642887; } .com-bg-purple-h    { background-color: #73369e; } .com-bg-purple-h    { background-color: #4e256b; }
.com-bg-turquoise { background-color: #00b48c; } .com-bg-turquoise-h { background-color: #00cc9b; } .com-bg-turquoise-h { background-color: #009974; }
.com-bg-yellow    { background-color: #f9dc00; } .com-bg-yellow-h    { background-color: #ffe75c; } .com-bg-yellow-h    { background-color: #eac907; }
.com-bg-lgray     { background-color: #a4a5a6; } .com-bg-lgray-h     { background-color: #b2b3b4; } .com-bg-lgray-h     { background-color: #8b8c8d; }
.com-bg-dgray     { background-color: #4e4c4a; } .com-bg-lgray-h     { background-color: #696765; } .com-bg-lgray-h     { background-color: #42413f; }
.com-bg-red       { background-color: #fb0000; } .com-cl-blue-h      { background-color: #fc2424; } .com-cl-blue-t      { background-color: #d80000; }

