/******************************************/
/* COMMON */

.com-bnr {
  overflow: hidden;
  width: 728px; height: 120px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  color: #ffffff;
  background-color: #642887;
}
.com-bnr .com-bnr-outer {
  height: 100%;
  padding: 20px 30px;
}
.com-bnr .com-bnr-inner {
  height: 100%;
  position: relative;
}

/********************/
/* logo */

.com-bnr .com-bnr-logo {
  position: absolute;
  left: 0; top: 0;
}
.com-bnr .com-bnr-logo a {
  display: block;
}
.com-bnr .com-bnr-logo img {
  height: 22px;
}

/********************/
/* slogan */

.com-bnr .com-bnr-slogan {
  position: absolute;
  left: 0; bottom: 6px;
  font-size: 16px;
}

/********************/
/* sidebar */

.com-bnr .com-bnr-sidebar {
  position: absolute;
  right: 0; top: 0px;
  width: 400px;
  text-align: center;
}

/********************/
/* fullbar */

.com-bnr .com-bnr-fullbar {
  text-align: center;
}

/********************/
/* title */
.com-bnr .com-bnr-title {
  font-size: 18px;
  margin-bottom: 10px;
}

/********************/
/* search */
.com-bnr .com-bnr-search {
  position: relative;
  width: 290px;
  margin: 0 auto;
}

/********************/
/* search */
.com-bnr .com-bnr-buttons {
  margin: -5px;
}
.com-bnr-button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px;
}



/********************/
/* search-box */

.com-search-box {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  color: #202020;
  border-color: #ffffff;
  background-color: #ffffff;
}
.com-search-box input[type='text'] {
  display: block;
  outline: none;
  resize: none;
  font-size: 14px; line-height: 18px;
  width: 100%; height: 34px; padding: 8px 34px 8px 8px;
  margin: 0; border: 0 none;
  background-color: transparent;
}
.com-search-box input[type='text']:focus,
.com-search-box input[type='text']:active {
  color: #202020;
}
.com-search-box input[type='submit'] {
  display: block;
  outline: none;
  font-family: 'Icons';
  font-size: 24px;
  resize: none;
  cursor: pointer;
  position: absolute;
  right: 0; top: 0;
  width: 34px; height: 34px;
  margin: 0; padding: 0; border: 0 none;
  color: #642887;
  background-color: transparent;
}

