/******************************************/
/* EFFECTS */

/********************/
/* com-xpush */
[data-xpush] {
  opacity: 0.0;
  -webkit-transition: opacity 0.0s ease, -webkit-transform 0.0s cubic-bezier(0.25, 1.00, 0.50, 1.00);
     -moz-transition: opacity 0.0s ease,    -moz-transform 0.0s cubic-bezier(0.25, 1.00, 0.50, 1.00);
          transition: opacity 0.0s ease,         transform 0.0s cubic-bezier(0.25, 1.00, 0.50, 1.00);
}
[data-xpush-go] [data-xpush] {
  opacity: 1.0;
  -webkit-transform: translate(0px,0px);
     -moz-transform: translate(0px,0px);
          transform: translate(0px,0px);
}
[data-xpush-go='00'] [data-xpush] { -webkit-transition-duration: 0.0s; -moz-transition-duration: 0.0s; transition-duration: 0.0s; }
[data-xpush-go='01'] [data-xpush] { -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; transition-duration: 0.1s; }
[data-xpush-go='02'] [data-xpush] { -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; transition-duration: 0.2s; }
[data-xpush-go='03'] [data-xpush] { -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; }
[data-xpush-go='04'] [data-xpush] { -webkit-transition-duration: 0.4s; -moz-transition-duration: 0.4s; transition-duration: 0.4s; }
[data-xpush-go='05'] [data-xpush] { -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; transition-duration: 0.5s; }
[data-xpush-go='06'] [data-xpush] { -webkit-transition-duration: 0.6s; -moz-transition-duration: 0.6s; transition-duration: 0.6s; }
[data-xpush-go='07'] [data-xpush] { -webkit-transition-duration: 0.7s; -moz-transition-duration: 0.7s; transition-duration: 0.7s; }
[data-xpush-go='08'] [data-xpush] { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s; }
[data-xpush-go='09'] [data-xpush] { -webkit-transition-duration: 0.9s; -moz-transition-duration: 0.9s; transition-duration: 0.9s; }
[data-xpush-go='10'] [data-xpush] { -webkit-transition-duration: 1.0s; -moz-transition-duration: 1.0s; transition-duration: 1.0s; }
[data-xpush^='up'] {
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
          transform: translateY(50px);
}
[data-xpush^='dn'] {
  -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
          transform: translateY(-50px);
}
[data-xpush^='lt'] {
  -webkit-transform: translateX(50px);
     -moz-transform: translateX(50px);
          transform: translateX(50px);
}
[data-xpush^='rt'] {
  -webkit-transform: translateX(-50px);
     -moz-transform: translateX(-50px);
          transform: translateX(-50px);
}
[data-xpush$='00'] { -webkit-transition-delay: 0.0s; -moz-transition-delay: 0.0s; transition-delay: 0.0s; }
[data-xpush$='01'] { -webkit-transition-delay: 0.1s; -moz-transition-delay: 0.1s; transition-delay: 0.1s; }
[data-xpush$='02'] { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; transition-delay: 0.2s; }
[data-xpush$='03'] { -webkit-transition-delay: 0.3s; -moz-transition-delay: 0.3s; transition-delay: 0.3s; }
[data-xpush$='04'] { -webkit-transition-delay: 0.4s; -moz-transition-delay: 0.4s; transition-delay: 0.4s; }
[data-xpush$='05'] { -webkit-transition-delay: 0.5s; -moz-transition-delay: 0.5s; transition-delay: 0.5s; }
[data-xpush$='06'] { -webkit-transition-delay: 0.6s; -moz-transition-delay: 0.6s; transition-delay: 0.6s; }
[data-xpush$='07'] { -webkit-transition-delay: 0.7s; -moz-transition-delay: 0.7s; transition-delay: 0.7s; }
[data-xpush$='08'] { -webkit-transition-delay: 0.8s; -moz-transition-delay: 0.8s; transition-delay: 0.8s; }
[data-xpush$='09'] { -webkit-transition-delay: 0.9s; -moz-transition-delay: 0.9s; transition-delay: 0.9s; }
[data-xpush$='10'] { -webkit-transition-delay: 1.0s; -moz-transition-delay: 1.0s; transition-delay: 1.0s; }
[data-xpush$='11'] { -webkit-transition-delay: 1.1s; -moz-transition-delay: 1.1s; transition-delay: 1.1s; }
[data-xpush$='12'] { -webkit-transition-delay: 1.2s; -moz-transition-delay: 1.2s; transition-delay: 1.2s; }
[data-xpush$='13'] { -webkit-transition-delay: 1.3s; -moz-transition-delay: 1.3s; transition-delay: 1.3s; }
[data-xpush$='14'] { -webkit-transition-delay: 1.4s; -moz-transition-delay: 1.4s; transition-delay: 1.4s; }
[data-xpush$='15'] { -webkit-transition-delay: 1.5s; -moz-transition-delay: 1.5s; transition-delay: 1.5s; }
[data-xpush$='16'] { -webkit-transition-delay: 1.6s; -moz-transition-delay: 1.6s; transition-delay: 1.6s; }
[data-xpush$='17'] { -webkit-transition-delay: 1.7s; -moz-transition-delay: 1.7s; transition-delay: 1.7s; }
[data-xpush$='18'] { -webkit-transition-delay: 1.8s; -moz-transition-delay: 1.8s; transition-delay: 1.8s; }
[data-xpush$='19'] { -webkit-transition-delay: 1.9s; -moz-transition-delay: 1.9s; transition-delay: 1.9s; }
[data-xpush$='20'] { -webkit-transition-delay: 2.0s; -moz-transition-delay: 2.0s; transition-delay: 2.0s; }
[data-xpush$='21'] { -webkit-transition-delay: 2.1s; -moz-transition-delay: 2.1s; transition-delay: 2.1s; }
[data-xpush$='22'] { -webkit-transition-delay: 2.2s; -moz-transition-delay: 2.2s; transition-delay: 2.2s; }
[data-xpush$='23'] { -webkit-transition-delay: 2.3s; -moz-transition-delay: 2.3s; transition-delay: 2.3s; }
[data-xpush$='24'] { -webkit-transition-delay: 2.4s; -moz-transition-delay: 2.4s; transition-delay: 2.4s; }
[data-xpush$='25'] { -webkit-transition-delay: 2.5s; -moz-transition-delay: 2.5s; transition-delay: 2.5s; }
[data-xpush$='26'] { -webkit-transition-delay: 2.6s; -moz-transition-delay: 2.6s; transition-delay: 2.6s; }
[data-xpush$='27'] { -webkit-transition-delay: 2.7s; -moz-transition-delay: 2.7s; transition-delay: 2.7s; }
[data-xpush$='28'] { -webkit-transition-delay: 2.8s; -moz-transition-delay: 2.8s; transition-delay: 2.8s; }
[data-xpush$='29'] { -webkit-transition-delay: 2.9s; -moz-transition-delay: 2.9s; transition-delay: 2.9s; }
[data-xpush$='30'] { -webkit-transition-delay: 3.0s; -moz-transition-delay: 3.0s; transition-delay: 3.0s; }
[data-xpush$='30'] { -webkit-transition-delay: 3.0s; -moz-transition-delay: 3.0s; transition-delay: 3.0s; }
[data-xpush$='31'] { -webkit-transition-delay: 3.1s; -moz-transition-delay: 3.1s; transition-delay: 3.1s; }
[data-xpush$='32'] { -webkit-transition-delay: 3.2s; -moz-transition-delay: 3.2s; transition-delay: 3.2s; }
[data-xpush$='33'] { -webkit-transition-delay: 3.3s; -moz-transition-delay: 3.3s; transition-delay: 3.3s; }
[data-xpush$='34'] { -webkit-transition-delay: 3.4s; -moz-transition-delay: 3.4s; transition-delay: 3.4s; }
[data-xpush$='35'] { -webkit-transition-delay: 3.5s; -moz-transition-delay: 3.5s; transition-delay: 3.5s; }
[data-xpush$='36'] { -webkit-transition-delay: 3.6s; -moz-transition-delay: 3.6s; transition-delay: 3.6s; }
[data-xpush$='37'] { -webkit-transition-delay: 3.7s; -moz-transition-delay: 3.7s; transition-delay: 3.7s; }
[data-xpush$='38'] { -webkit-transition-delay: 3.8s; -moz-transition-delay: 3.8s; transition-delay: 3.8s; }
[data-xpush$='39'] { -webkit-transition-delay: 3.9s; -moz-transition-delay: 3.9s; transition-delay: 3.9s; }
[data-xpush$='40'] { -webkit-transition-delay: 4.0s; -moz-transition-delay: 4.0s; transition-delay: 4.0s; }
[data-xpush$='40'] { -webkit-transition-delay: 4.0s; -moz-transition-delay: 4.0s; transition-delay: 4.0s; }
[data-xpush$='41'] { -webkit-transition-delay: 4.1s; -moz-transition-delay: 4.1s; transition-delay: 4.1s; }
[data-xpush$='42'] { -webkit-transition-delay: 4.2s; -moz-transition-delay: 4.2s; transition-delay: 4.2s; }
[data-xpush$='43'] { -webkit-transition-delay: 4.3s; -moz-transition-delay: 4.3s; transition-delay: 4.3s; }
[data-xpush$='44'] { -webkit-transition-delay: 4.4s; -moz-transition-delay: 4.4s; transition-delay: 4.4s; }
[data-xpush$='45'] { -webkit-transition-delay: 4.5s; -moz-transition-delay: 4.5s; transition-delay: 4.5s; }
[data-xpush$='46'] { -webkit-transition-delay: 4.6s; -moz-transition-delay: 4.6s; transition-delay: 4.6s; }
[data-xpush$='47'] { -webkit-transition-delay: 4.7s; -moz-transition-delay: 4.7s; transition-delay: 4.7s; }
[data-xpush$='48'] { -webkit-transition-delay: 4.8s; -moz-transition-delay: 4.8s; transition-delay: 4.8s; }
[data-xpush$='49'] { -webkit-transition-delay: 4.9s; -moz-transition-delay: 4.9s; transition-delay: 4.9s; }
[data-xpush$='50'] { -webkit-transition-delay: 5.0s; -moz-transition-delay: 5.0s; transition-delay: 5.0s; }

