/******************************************/
/* FONTS */

@font-face {
  font-family: 'Arial Web';
  src: url('../fonts/arial-bpg/arial-bpg.eot');
  src: url('../fonts/arial-bpg/arial-bpg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arial-bpg/arial-bpg.woff2') format('woff2'),
       url('../fonts/arial-bpg/arial-bpg.woff') format('woff'),
       url('../fonts/arial-bpg/arial-bpg.ttf') format('truetype'),
       url('../fonts/arial-bpg/arial-bpg.svg#arial-bpg-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arial Caps Web';
  src: url('../fonts/arial-bpg/arial-bpg-caps.eot');
  src: url('../fonts/arial-bpg/arial-bpg-caps.eot?#iefix') format('embedded-opentype'),
       url('../fonts/arial-bpg/arial-bpg-caps.woff2') format('woff2'),
       url('../fonts/arial-bpg/arial-bpg-caps.woff') format('woff'),
       url('../fonts/arial-bpg/arial-bpg-caps.ttf') format('truetype'),
       url('../fonts/arial-bpg/arial-bpg-caps.svg#arial-bpg-caps-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icons';
  src: url('../fonts/webicons/webicons.eot');
  src: url('../fonts/webicons/webicons.eot?#iefix') format('embedded-opentype'),
       url('../fonts/webicons/webicons.woff2') format('woff2'),
       url('../fonts/webicons/webicons.woff') format('woff'),
       url('../fonts/webicons/webicons.ttf') format('truetype'),
       url('../fonts/webicons/webicons.svg#web_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/********************/
/* icons */

/* Usage <span data-icon="&#xF000;"></span> */
[data-icon] {
  display: -moz-inline-stack;
  display: inline-block;
  line-height: 1;
}
[data-icon]:before {
  content: attr(data-icon);
  vertical-align: top;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************/
/* font tunes */
.com-font-lower { font-family:                   'Arial Web', 'Arial', 'Helvetica', 'Verdana', sans-serif; }
.com-font-upper { font-family: 'Arial Caps Web', 'Arial Web', 'Arial', 'Helvetica', 'Verdana', sans-serif; text-transform: uppercase; }

