/******************************************/
/* CUSTOM FORMS */
/******************************************/

/******************************************/
/* custom colors */
/******************************************/

.cc-error   { color: #800000; }
.cc-success { color: #008000; }

/******************************************/
/* custom labels */
/******************************************/

label.cc-label {
  cursor: default;
  -webkit-transition: color 0.3s ease;
     -moz-transition: color 0.3s ease;
          transition: color 0.3s ease;
}
.cc-invalid label.cc-label {
  color: #800000;
}

label.cc-label-cbox {
  cursor: pointer;
  -webkit-transition: color 0.3s ease;
     -moz-transition: color 0.3s ease;
          transition: color 0.3s ease;
}
label.cc-label-cbox > input {
  vertical-align: top;
}
label.cc-label-cbox > span {
  line-height: 20px;
  vertical-align: top;
}
.cc-invalid label.cc-label-cbox {
  color: #800000;
}

.cc-star {
  color: #800000;
  padding: 0 4px;
}

/******************************************/
/* text control */
/******************************************/
span.cc-text {
  width: auto; height: auto;
  display: block;
  vertical-align: top;
  text-align: left;
}

span.cc-text input[type='text'],
span.cc-text input[type='search'],
span.cc-text input[type='password'] {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  width: 100%; height: 40px;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

span.cc-text input[type='text'],
span.cc-text input[type='search'],
span.cc-text input[type='password'] {
  color: #333333;
  border-color: #d0d0d0;
  background-color: #ffffff;
}
span.cc-text input[type='text']:focus,
span.cc-text input[type='search']:focus,
span.cc-text input[type='password']:focus,
span.cc-text input[type='text']:active,
span.cc-text input[type='search']:active,
span.cc-text input[type='password']:active {
  outline: none;
  color: #333333;
  border-color: #b0b0b0;
  background-color: #ffffff;
}
span.cc-text input[type='text'][disabled],
span.cc-text input[type='search'][disabled],
span.cc-text input[type='password'][disabled] {
  color: #808080;
  border-color: #d0d0d0;
  background-color: #f0f0f0;
}

.cc-invalid span.cc-text input[type='text'],
.cc-invalid span.cc-text input[type='search'],
.cc-invalid span.cc-text input[type='password'] {
  color: #333333;
  border-color: #ff8080;
  background-color: #fff0f0;
}
.cc-invalid span.cc-text input[type='text']:focus,
.cc-invalid span.cc-text input[type='search']:focus,
.cc-invalid span.cc-text input[type='password']:focus,
.cc-invalid span.cc-text input[type='text']:active,
.cc-invalid span.cc-text input[type='search']:active,
.cc-invalid span.cc-text input[type='password']:active {
  outline: none;
  color: #333333;
  border-color: #ff6060;
  background-color: #fff0f0;
}
.cc-invalid span.cc-text input[type='text'][disabled],
.cc-invalid span.cc-text input[type='search'][disabled],
.cc-invalid span.cc-text input[type='password'][disabled] {
  color: #808080;
  border-color: #ff8080;
  background-color: #fff0f0;
}

/******************************************/
/* textarea control */
/******************************************/
span.cc-text textarea {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  width: 100%; min-height: 40px;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

span.cc-text textarea {
  color: #333333;
  border-color: #d0d0d0;
  background-color: #ffffff;
}
span.cc-text textarea:focus,
span.cc-text textarea:active {
  outline: none;
  color: #333333;
  border-color: #b0b0b0;
  background-color: #ffffff;
}
span.cc-text textarea[disabled] {
  color: #808080;
  border-color: #d0d0d0;
  background-color: #f0f0f0;
}

.cc-invalid span.cc-text textarea {
  color: #333333;
  border-color: #ff8080;
  background-color: #fff0f0;
}
.cc-invalid span.cc-text textarea:focus,
.cc-invalid span.cc-text textarea:active {
  outline: none;
  color: #333333;
  border-color: #ff6060;
  background-color: #fff0f0;
}
.cc-invalid span.cc-text textarea[disabled] {
  color: #808080;
  border-color: #ff8080;
  background-color: #fff0f0;
}

/******************************************/
/* select control */
/******************************************/
span.cc-select {
  width: 100%; height: auto;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; /* used by script */
  vertical-align: top;
  text-align: left;
}
span.cc-select[selected] {
  z-index: 1;
}

span.cc-select span {
  display: block;
}

span.cc-select .cc-states {
  display: block;
  top: 0; left: 0;
  position: absolute;
  width: 100%; height: auto;
}

span.cc-select .cc-selector {
  display: block;
}

span.cc-select .cc-optionor {
  display: none;
}

/* control element */
span.cc-select .cc-control {
  display: block;
  cursor: default;
}
span.cc-select .cc-selector .cc-control span {
  overflow: hidden;
  white-space: nowrap;
}

/* options element */
span.cc-select .cc-options {
  overflow: auto;
  max-height: 200px;
}
span.cc-select .cc-options .cc-option {
  cursor: pointer;
  overflow: hidden;
  /* white-space: nowrap; */
  margin: 0; padding: 0;
}

/* state overrides */
span.cc-select .cc-state-selected .cc-optionor,
span.cc-select .cc-state-selected-focused .cc-optionor {
  display: block;
}

/* customization */
span.cc-select {
  width: 100%; height: 32px;
}

span.cc-select .cc-holder {
  border-width: 1px;
  border-style: solid;
  width: 100%; height: auto;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}

span.cc-select .cc-control {
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  padding-right: 30px; /* control right pad */
  width: 100%; height: 38px;
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
span.cc-select .cc-control span {
  width: auto; height: 18px; /* ie */
}

/* optionor layer */
span.cc-select .cc-options {
  max-height: 176px;
}
span.cc-select .cc-options .cc-option {
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  padding: 5px 10px;
}

/* states */
span.cc-select                            .cc-holder,
span.cc-select .cc-state                  .cc-holder,
span.cc-select .cc-state-selected         .cc-holder {
  color: #333333;
  border-color: #d0d0d0;
  background-color: #ffffff;
}
span.cc-select .cc-state-focused          .cc-holder,
span.cc-select .cc-state-selected-focused .cc-holder {
  color: #333333;
  border-color: #b0b0b0;
  background-color: #ffffff;
}
span.cc-select .cc-state-disabled         .cc-holder {
  color: #808080;
  border-color: #d0d0d0;
  background-color: #f0f0f0;
}

span.cc-select .cc-options                .cc-option {
  color: #333333;
  background-color: #ffffff;
}
span.cc-select .cc-options                .cc-option-selected {
  color: #404040;
  background-color: #ffffff;
}
span.cc-select .cc-options                .cc-option:hover {
  color: #333333;
  background-color: #f8f8f8;
}

span.cc-select                            .cc-control,
span.cc-select .cc-state                  .cc-control,
span.cc-select .cc-state-selected         .cc-control {
  background: transparent url('../images/forms/select-1x.png') no-repeat right 15px;
  background: transparent url('../images/forms/select-3x.png') no-repeat right 16px / 30px 240px;
}
span.cc-select .cc-state-selected         .cc-control,
span.cc-select .cc-state-selected-focused .cc-control {
  background-position: right -45px;
}

span.cc-select                            .cc-control,
span.cc-select .cc-state                  .cc-control,
span.cc-select .cc-state-selected         .cc-control {
  color: #333333;
}
span.cc-select .cc-state-focused          .cc-control,
span.cc-select .cc-state-selected-focused .cc-control {
  color: #333333;
}
span.cc-select .cc-state-disabled         .cc-control {
  color: #808080;
}


.cc-invalid span.cc-select                            .cc-holder,
.cc-invalid span.cc-select .cc-state                  .cc-holder,
.cc-invalid span.cc-select .cc-state-selected         .cc-holder {
  color: #333333;
  border-color: #ff8080;
  background-color: #fff0f0;
}
.cc-invalid span.cc-select .cc-state-focused          .cc-holder,
.cc-invalid span.cc-select .cc-state-selected-focused .cc-holder {
  color: #808080;
  border-color: #ff6060;
  background-color: #fff0f0;
}
.cc-invalid span.cc-select .cc-state-disabled         .cc-holder {
  color: #808080;
  border-color: #ff6060;
  background-color: #fff0f0;
}

.cc-invalid span.cc-select .cc-options                .cc-option {
  color: #333333;
  background-color: #fff0f0;
}
.cc-invalid span.cc-select .cc-options                .cc-option-selected {
  color: #404040;
  background-color: #fff0f0;
}
.cc-invalid span.cc-select .cc-options                .cc-option:hover {
  color: #333333;
  background-color: #ffe8e8;
}

.cc-invalid span.cc-select                            .cc-control,
.cc-invalid span.cc-select .cc-state                  .cc-control,
.cc-invalid span.cc-select .cc-state-selected         .cc-control {
  background-position: right -105px;
}
.cc-invalid span.cc-select .cc-state-selected         .cc-control,
.cc-invalid span.cc-select .cc-state-selected-focused .cc-control {
  background-position: right -165px;
}

.cc-invalid span.cc-select                            .cc-control,
.cc-invalid span.cc-select .cc-state                  .cc-control,
.cc-invalid span.cc-select .cc-state-selected         .cc-control {
  color: #333333;
}
.cc-invalid span.cc-select .cc-state-focused          .cc-control,
.cc-invalid span.cc-select .cc-state-selected-focused .cc-control {
  color: #333333;
}
.cc-invalid span.cc-select .cc-state-disabled         .cc-control {
  color: #808080;
}


/******************************************/
/* radio control */
/******************************************/
span.cc-radio {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
span.cc-radio span {
  display: block;
}
span.cc-radio .cc-states {
  display: block;
}

/* control element */
span.cc-radio .cc-control {
  display: block;
  cursor: default;
}

/* customization */
span.cc-radio .cc-control {
  width: 20px; height: 20px;
}

/* states */
span.cc-radio .cc-states {
  background: transparent url('../images/forms/radio-1x.png') no-repeat center center;
  background: transparent url('../images/forms/radio-3x.png') no-repeat center center / 40px 120px;
}
span.cc-radio .cc-state                                   { background-position:   0px    0px; }
span.cc-radio .cc-state-checked                           { background-position: -20px    0px; }
span.cc-radio .cc-state-focused                           { background-position:   0px  -20px; }
span.cc-radio .cc-state-checked-focused                   { background-position: -20px  -20px; }
span.cc-radio .cc-state-disabled                          { background-position:   0px  -40px; }
span.cc-radio .cc-state-disabled-checked                  { background-position: -20px  -40px; }

.cc-invalid span.cc-radio .cc-state                       { background-position:   0px  -60px; }
.cc-invalid span.cc-radio .cc-state-checked               { background-position: -20px  -60px; }
.cc-invalid span.cc-radio .cc-state-focused               { background-position:   0px  -80px; }
.cc-invalid span.cc-radio .cc-state-checked-focused       { background-position: -20px  -80px; }
.cc-invalid span.cc-radio .cc-state-disabled              { background-position:   0px -100px; }
.cc-invalid span.cc-radio .cc-state-disabled-checked      { background-position: -20px -100px; }

/******************************************/
/* checkbox control */
/******************************************/
span.cc-checkbox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}
span.cc-checkbox span {
  display: block;
}
span.cc-checkbox .cc-states {
  display: block;
}

/* control element */
span.cc-checkbox .cc-control {
  display: block;
  cursor: default;
}

/* customization */
span.cc-checkbox .cc-control {
  width: 20px; height: 20px;
}

/* states */
span.cc-checkbox .cc-states {
  background: transparent url('../images/forms/checkbox-1x.png') no-repeat center center;
  background: transparent url('../images/forms/checkbox-3x.png') no-repeat center center / 40px 120px;
}
span.cc-checkbox .cc-state                                   { background-position:   0px    0px; }
span.cc-checkbox .cc-state-checked                           { background-position: -20px    0px; }
span.cc-checkbox .cc-state-focused                           { background-position:   0px  -20px; }
span.cc-checkbox .cc-state-checked-focused                   { background-position: -20px  -20px; }
span.cc-checkbox .cc-state-disabled                          { background-position:   0px  -40px; }
span.cc-checkbox .cc-state-disabled-checked                  { background-position: -20px  -40px; }

.cc-invalid span.cc-checkbox .cc-state                       { background-position:   0px  -60px; }
.cc-invalid span.cc-checkbox .cc-state-checked               { background-position: -20px  -60px; }
.cc-invalid span.cc-checkbox .cc-state-focused               { background-position:   0px  -80px; }
.cc-invalid span.cc-checkbox .cc-state-checked-focused       { background-position: -20px  -80px; }
.cc-invalid span.cc-checkbox .cc-state-disabled              { background-position:   0px -100px; }
.cc-invalid span.cc-checkbox .cc-state-disabled-checked      { background-position: -20px -100px; }

