/******************************************/
/* GENERAL */

html {
  overflow: auto;
  overflow-y: scroll; /* ie6+, fx1.5+, safari3+, chrome2+, opera9.5+ */
  width: 100%; height: 100%;
}

body {
  color: #333333; background-color: #ffffff;
  font: normal normal normal 14px/normal 'Arial Web', 'Arial', 'Helvetica', 'Verdana', sans-serif;;
}

button, input, select, textarea {
  color: #333333;
  font: normal normal normal 14px/normal 'Arial Web', 'Arial', 'Helvetica', 'Verdana', sans-serif;;
}

a {
  color: #642887;
}

::-webkit-selection { color: #ffffff; background: #642887; }
   ::-moz-selection { color: #ffffff; background: #642887; }
        ::selection { color: #ffffff; background: #642887; }
