/******************************************/
/* GRID */

/********************/
/* grid */

/* margin */
[data-grid-gap='0'], [data-grid-gap='0x'] { margin-left:  0.00000000%; margin-right:  0.00000000%; }
[data-grid-gap='1'], [data-grid-gap='1x'] { margin-left: -0.50505050%; margin-right: -0.50505050%; }
[data-grid-gap='2'], [data-grid-gap='2x'] { margin-left: -1.02040816%; margin-right: -1.02040816%; }
[data-grid-gap='3'], [data-grid-gap='3x'] { margin-left: -1.54639175%; margin-right: -1.54639175%; }
[data-grid-gap='4'], [data-grid-gap='4x'] { margin-left: -2.08333333%; margin-right: -2.08333333%; }
[data-grid-gap='5'], [data-grid-gap='5x'] { margin-left: -2.63157894%; margin-right: -2.63157894%; }
[data-grid-gap='6'], [data-grid-gap='6x'] { margin-left: -3.19148936%; margin-right: -3.19148936%; }
[data-grid-gap='7'], [data-grid-gap='7x'] { margin-left: -3.76344086%; margin-right: -3.76344086%; }
[data-grid-gap='8'], [data-grid-gap='8x'] { margin-left: -4.34782608%; margin-right: -4.34782608%; }
[data-grid-gap='9'], [data-grid-gap='9x'] { margin-left: -4.94505494%; margin-right: -4.94505494%; }

[data-grid-gap='0'], [data-grid-gap='0y'] { margin-top:  0.00000000%; margin-bottom:  0.00000000%; }
[data-grid-gap='1'], [data-grid-gap='1y'] { margin-top: -0.50505050%; margin-bottom: -0.50505050%; }
[data-grid-gap='2'], [data-grid-gap='2y'] { margin-top: -1.02040816%; margin-bottom: -1.02040816%; }
[data-grid-gap='3'], [data-grid-gap='3y'] { margin-top: -1.54639175%; margin-bottom: -1.54639175%; }
[data-grid-gap='4'], [data-grid-gap='4y'] { margin-top: -2.08333333%; margin-bottom: -2.08333333%; }
[data-grid-gap='5'], [data-grid-gap='5y'] { margin-top: -2.63157894%; margin-bottom: -2.63157894%; }
[data-grid-gap='6'], [data-grid-gap='6y'] { margin-top: -3.19148936%; margin-bottom: -3.19148936%; }
[data-grid-gap='7'], [data-grid-gap='7y'] { margin-top: -3.76344086%; margin-bottom: -3.76344086%; }
[data-grid-gap='8'], [data-grid-gap='8y'] { margin-top: -4.34782608%; margin-bottom: -4.34782608%; }
[data-grid-gap='9'], [data-grid-gap='9y'] { margin-top: -4.94505494%; margin-bottom: -4.94505494%; }

/********************/
/* grid cols */

/* type */
[data-grid-cell] {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* padding */
[data-grid-gap='0'] > [data-grid-cell], [data-grid-gap='0x'] > [data-grid-cell] { padding-left: 0.0%; padding-right: 0.0%; }
[data-grid-gap='1'] > [data-grid-cell], [data-grid-gap='1x'] > [data-grid-cell] { padding-left: 0.5%; padding-right: 0.5%; }
[data-grid-gap='2'] > [data-grid-cell], [data-grid-gap='2x'] > [data-grid-cell] { padding-left: 1.0%; padding-right: 1.0%; }
[data-grid-gap='3'] > [data-grid-cell], [data-grid-gap='3x'] > [data-grid-cell] { padding-left: 1.5%; padding-right: 1.5%; }
[data-grid-gap='4'] > [data-grid-cell], [data-grid-gap='4x'] > [data-grid-cell] { padding-left: 2.0%; padding-right: 2.0%; }
[data-grid-gap='5'] > [data-grid-cell], [data-grid-gap='5x'] > [data-grid-cell] { padding-left: 2.5%; padding-right: 2.5%; }
[data-grid-gap='6'] > [data-grid-cell], [data-grid-gap='6x'] > [data-grid-cell] { padding-left: 3.0%; padding-right: 3.0%; }
[data-grid-gap='7'] > [data-grid-cell], [data-grid-gap='7x'] > [data-grid-cell] { padding-left: 3.5%; padding-right: 3.5%; }
[data-grid-gap='8'] > [data-grid-cell], [data-grid-gap='8x'] > [data-grid-cell] { padding-left: 4.0%; padding-right: 4.0%; }
[data-grid-gap='9'] > [data-grid-cell], [data-grid-gap='9x'] > [data-grid-cell] { padding-left: 4.5%; padding-right: 4.5%; }

[data-grid-gap='0'] > [data-grid-cell], [data-grid-gap='0y'] > [data-grid-cell] { padding-top: 0.0%; padding-bottom: 0.0%; }
[data-grid-gap='1'] > [data-grid-cell], [data-grid-gap='1y'] > [data-grid-cell] { padding-top: 0.5%; padding-bottom: 0.5%; }
[data-grid-gap='2'] > [data-grid-cell], [data-grid-gap='2y'] > [data-grid-cell] { padding-top: 1.0%; padding-bottom: 1.0%; }
[data-grid-gap='3'] > [data-grid-cell], [data-grid-gap='3y'] > [data-grid-cell] { padding-top: 1.5%; padding-bottom: 1.5%; }
[data-grid-gap='4'] > [data-grid-cell], [data-grid-gap='4y'] > [data-grid-cell] { padding-top: 2.0%; padding-bottom: 2.0%; }
[data-grid-gap='5'] > [data-grid-cell], [data-grid-gap='5y'] > [data-grid-cell] { padding-top: 2.5%; padding-bottom: 2.5%; }
[data-grid-gap='6'] > [data-grid-cell], [data-grid-gap='6y'] > [data-grid-cell] { padding-top: 3.0%; padding-bottom: 3.0%; }
[data-grid-gap='7'] > [data-grid-cell], [data-grid-gap='7y'] > [data-grid-cell] { padding-top: 3.5%; padding-bottom: 3.5%; }
[data-grid-gap='8'] > [data-grid-cell], [data-grid-gap='8y'] > [data-grid-cell] { padding-top: 4.0%; padding-bottom: 4.0%; }
[data-grid-gap='9'] > [data-grid-cell], [data-grid-gap='9y'] > [data-grid-cell] { padding-top: 4.5%; padding-bottom: 4.5%; }

/* size */
[data-grid-gap] [data-grid-cell='12']{ width: 100.00000000%; }
[data-grid-gap] [data-grid-cell='11']{ width:  91.66666666%; }
[data-grid-gap] [data-grid-cell='10']{ width:  83.33333333%; }
[data-grid-gap] [data-grid-cell='9'] { width:  75.00000000%; }
[data-grid-gap] [data-grid-cell='8'] { width:  66.66666666%; }
[data-grid-gap] [data-grid-cell='7'] { width:  58.33333333%; }
[data-grid-gap] [data-grid-cell='6'] { width:  50.00000000%; }
[data-grid-gap] [data-grid-cell='5'] { width:  41.66666666%; }
[data-grid-gap] [data-grid-cell='4'] { width:  33.33333333%; }
[data-grid-gap] [data-grid-cell='3'] { width:  25.00000000%; }
[data-grid-gap] [data-grid-cell='2'] { width:  16.66666666%; }
[data-grid-gap] [data-grid-cell='1'] { width:   8.33333333%; }

/********************/
/* <= 960 */
@media screen and (max-width: 960px) {
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell]     { width: 100.00000000%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='6'] { width:  50.00000000%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='5'] { width:  50.00000000%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='4'] { width:  33.33333333%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='3'] { width:  25.00000000%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='2'] { width:  33.33333333%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='1'] { width:  16.66666666%; }
}
/********************/
/* <= 800 */
@media screen and (max-width: 800px) {
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell]     { width: 100.00000000%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='3'] { width:  50.00000000%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='2'] { width:  33.33333333%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='1'] { width:  16.66666666%; }
}
/********************/
/* <= 600 */
@media screen and (max-width: 600px) {
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell]     { width:  100.0%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='2'] { width:  33.33333333%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='1'] { width:  25.00000000%; }
}
/********************/
/* <= 480 */
@media screen and (max-width: 480px) {
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell]     { width:  100.0%; }
[data-grid-gap][data-grid-type='adapt'] [data-grid-cell='1'] { width:  50.00000000%; }
}
/********************/

