/******************************************/
/* LAYOUT */

/********************/
/* wrapper */
.com-wrapper {
  position: relative;
}
.com-wrapper.com-whole {
  top: 0; left: 0;
  bottom: 0; right: 0;
  position: absolute;

}

/********************/
/* layout */
.com-layout {
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}

/********************/
/* unlayout */
.com-unlayout {
  margin-left: -3.19148936%;
  margin-right: -3.19148936%;
}

/********************/
/* fixators */
.com-fixator-extra {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.com-fixator-intra {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.com-fixator {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

