/******************************************/
/* INPUT PLACEHOLDERS */

              textarea:-webkit-input-placeholder,
    input[type='text']:-webkit-input-placeholder,
  input[type='search']:-webkit-input-placeholder,
input[type='password']:-webkit-input-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea:-moz-placeholder,
    input[type='text']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea::-moz-placeholder,
    input[type='text']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea:-ms-input-placeholder,
    input[type='text']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea::placeholder,
    input[type='text']::placeholder,
  input[type='search']::placeholder,
input[type='password']::placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea.input-placeholder,
    input[type='text'].input-placeholder,
  input[type='search'].input-placeholder,
input[type='password'].input-placeholder {
  color: #a0a0a0;
}
