/******************************************/
/* SAMPLES */
samples {

  display: -moz-inline-stack; /* fx2+ */
  display: inline-block; /* fx3+, chrome4+, safari3.1+, opera10.1+, ie8+ */
  
  -webkit-box-sizing: border-box; /* chrome4+, safari3.1+ */
     -moz-box-sizing: border-box; /* fx2+ */
          box-sizing: border-box; /* fx3+, chrome10+, safari5.1+, opera10.1+, ie8+ */

  -webkit-border-radius: 4px; /* chrome4+, safari3.1+ */
     -moz-border-radius: 4px; /* fx2+ */
          border-radius: 4px; /* fx4+, chrome5+, safari5+, opera11.5+, ie9+ */

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)'; /* ie8 */
      filter: alpha(opacity=50); /* ie5-ie7 */
  -moz-opacity: 0.5; /* fx1+ */
       opacity: 0.5; /* fx2+, chrome4+, safari3.1+, opera10.1+, ie9+ */

  -webkit-box-shadow: #000000 0px 0px 1px 0px; /* chrome4+, safari3.1+ */
     -moz-box-shadow: #000000 0px 0px 1px 0px; /* fx3.5+ */
          box-shadow: #000000 0px 0px 1px 0px; /* fx4+, chrome10+, safari5.1+, opera11.5+, ie9+ */

  -webkit-touch-callout: none; /* webkit */
  -webkit-user-select: none; /* chrome6+, safari3.1+, opera15+ */
     -moz-user-select: none; /* fx2+ */
      -ms-user-select: none; /* ie10+ */
          user-select: none; /* no-support */

  -webkit-background-size: cover; /* webkit */
     -moz-background-size: cover; /* fx3.6+ */
       -o-background-size: cover; /* opera10.1+ */
          background-size: cover; /* fx4+, chrome4+, safari3.1+, opera11.5+, ie9+ */

  -webkit-transition: all 0.3s ease; /* chrome4+, safari3.1+, opera 15.0+ */
     -moz-transition: all 0.3s ease; /* fx4+ */
          transition: all 0.3s ease; /* fx16+, chrome25+, safari6.1+, opera12.1+, ie10+ */

  -webkit-transform: translate(0,0); /* chrome4+, safari3.1+, opera 15.0+ */
     -moz-transform: translate(0,0); /* fx3.5+ */
      -ms-transform: translate(0,0); /* ie9 */
       -o-transform: translate(0,0); /* opera 11.5 */
          transform: translate(0,0); /* fx16+, chrome36+, safari9+, opera22+, ie10+ */

}

@media screen and (max-width: 1900px) { /* 1920px */ }
@media screen and (max-width: 1580px) { /* 1600px */ }
@media screen and (max-width: 1420px) { /* 1440px */ }
@media screen and (max-width: 1340px) { /* 1360px */ }
@media screen and (max-width: 1260px) { /* 1280px */ }
@media screen and (max-width: 1140px) { /* 1152px */ }
@media screen and (max-width: 1020px) { /* 1024px */ }
@media screen and (max-width: 960px)  { /*  960px */ }
@media screen and (max-width: 800px)  { /*  800px */ }
@media screen and (max-width: 600px)  { /*  600px */ }
@media screen and (max-width: 480px)  { /*  480px */ }
@media screen and (max-width: 360px)  { /*  360px */ }

center-outer {
  width: 100%; height: 100%;
  text-align: center;
  line-height: 0;
}
center-outer:before,
center-outer:after {
  content: '';
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  width: 0; height: 100%;
  margin: 0; padding: 0;
  border: 0;
  font-size: 0;
}
center-inner {
  display: -moz-inline-stack;
  display: inline-block;
  width: 100%; height: auto;
  vertical-align: middle;
  line-height: normal;
}


