/******************************************/
/* SERVICE PRESENT */
.tsr-section-service-present {
  padding: 40px 0;
}

/********************/
/* flows */
.tsr-section-service-present .tsr-section-flows     { position: relative; min-height: 240px; }
.tsr-section-service-present .tsr-section-flow-a-ct { position: static;   width:  40%; margin-left: 30%; margin-right: 30%; }
.tsr-section-service-present .tsr-section-flow-a-lt { position: absolute; width:  26%; left:  0; top: 0; }
.tsr-section-service-present .tsr-section-flow-a-gt { position: absolute; width:  26%; right: 0; top: 0; }

.tsr-section-service-present .tsr-section-flows     { position: relative; min-height: 280px; }
.tsr-section-service-present .tsr-section-flow-b-ct { position: static;   width:  40%; margin-left: 34%; margin-right: 26%; }
.tsr-section-service-present .tsr-section-flow-b-lt { position: absolute; width:  30%; left:  0; top: 0; }
.tsr-section-service-present .tsr-section-flow-b-gt { position: absolute; width:  22%; right: 0; top: 0; }


/********************/
/* image */
.tsr-section-service-present .tsr-section-image {
  display: block;
  position: relative;
  width: 100%; height: auto;
  margin: 0 auto 20px;
  max-width: 240px;
  max-height: 240px;
}
.tsr-section-service-present .tsr-section-image img {
  width: 100%; height: auto;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
/* tactical elements */
.tsr-section-service-present .tsr-section-image .tsr-tactical-ribbon     { display: block; position: absolute; top:   -9px; left:   -9px; }
.tsr-section-service-present .tsr-section-image .tsr-tactical-ribbon-usp { display: block; position: absolute; bottom: 6px; right: -10px; }

/********************/
/* bubble */
.tsr-section-bubble {
  text-align: left;
}

/********************/
@media screen and (max-width: 1020px) {

.tsr-section-service-present .tsr-section-flow-a-ct { position: static;   width:  auto; margin-left: 280px; margin-right: 0; }
.tsr-section-service-present .tsr-section-flow-a-lt { position: absolute; width: 240px; left:  0; top: 0; }
.tsr-section-service-present .tsr-section-flow-a-gt { position: static;   width:  auto; right: 0; top: 0; }

.tsr-section-service-present .tsr-section-flow-b-ct { position: static;   width:  auto; margin-left: 320px; margin-right: 0; }
.tsr-section-service-present .tsr-section-flow-b-lt { position: absolute; width: 280px; left:  0; top: 0; }
.tsr-section-service-present .tsr-section-flow-b-gt { position: static;   width:  auto; right: 0; top: 0; }


/********************/
/* image */
.tsr-section-service-present .tsr-section-image {
  display: block;
  position: relative;
  width: 100%; height: auto;
  margin: 0;
}

/* tactical elements */
.tsr-section-service-present .tsr-section-image .tsr-tactical-ribbon     { display: none; }
.tsr-section-service-present .tsr-section-image .tsr-tactical-ribbon-usp { display: none; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-service-present {
  margin-bottom: 1px;
  padding: 20px 15px;
}

.tsr-section-service-present .tsr-section-flow-a-ct { position: static;   width: auto; margin-left: 0; margin-right: 0; }
.tsr-section-service-present .tsr-section-flow-a-lt { position: static;   width: auto; left:  0; top: 0; }
.tsr-section-service-present .tsr-section-flow-a-gt { position: static;   width: auto; right: 0; top: 0; }

.tsr-section-service-present .tsr-section-flow-b-ct { position: static;   width: auto; margin-left: 0; margin-right: 0; }
.tsr-section-service-present .tsr-section-flow-b-lt { position: static;   width: auto; left:  0; top: 0; }
.tsr-section-service-present .tsr-section-flow-b-gt { position: static;   width: auto; right: 0; top: 0; }

}

