/******************************************/
/* CUSTOM ERRORS */
.tsr-section-custom-error {
  padding-top: 40px;
}
.tsr-section-custom-error .tsr-com-custom-error-logo {
  margin-bottom: 100px;
}
.tsr-section-custom-error .tsr-com-custom-error-title {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
}
.tsr-section-custom-error .tsr-com-custom-error-description {
  font-size: 18px;
}

/********************/
/* 404 */
.tsr-section-custom-error .tsr-com-custom-error-404 {
  position: relative;
}
.tsr-section-custom-error .tsr-com-custom-error-404-a {
  z-index: 0;
  left: 0; top: 0;
  position: absolute;
  width: 50%; height: 100%;
  background: #ffffff url('../../tsr-sections/tsr-custom-errors/tsr-error-404-a.png') repeat-x center top;
}
.tsr-section-custom-error .tsr-com-custom-error-404-b {
  z-index: 0;
  right: 0; top: 0;
  position: absolute;
  width: 50%; height: 100%;
  background: #ffffff url('../../tsr-sections/tsr-custom-errors/tsr-error-404-b.png') repeat-x center top;
}
.tsr-section-custom-error .tsr-com-custom-error-404-c {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff url('../../tsr-sections/tsr-custom-errors/tsr-error-404-c.png') no-repeat center top;
}


/********************/

@media screen and (max-width: 1020px) {

.tsr-section-custom-error {
  padding-left: 15px;
  padding-right: 15px;
}

.tsr-section-custom-error .tsr-com-custom-error-logo {
  margin-bottom: 20px;
}
.tsr-section-custom-error .tsr-com-custom-error-title {
  font-size: 40px;
  font-weight: bold;
}

.tsr-section-custom-error .tsr-com-custom-error-404-a { display: none; }
.tsr-section-custom-error .tsr-com-custom-error-404-b { display: none; }
.tsr-section-custom-error .tsr-com-custom-error-404-c {
  padding-top: 0;
  max-width: 1600px;
  min-height: 0;
  background: none;
}

}
