/******************************************/
/* TACTICAL ELEMENTS */

/********************/
/* all tactical elements */
[class*='tsr-tactical-'] {
  line-height: 1.256;
  color: #ffffff;
}

/********************/
/* speach bubble */
.tsr-tactical-speach-bubble {
  display: inline-block;
  z-index: 1;
  position: relative;
  margin-bottom: 18px;
  padding: 18px;
  font-size: 19px;
  text-align: left;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #00b48c;
  border: 2px solid #00b48c;
}
.tsr-tactical-speach-bubble:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: -20px; left: -2px;
  width: 0px; height: 0px;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #00b48c;
}
.tsr-tactical-speach-bubble .tsr-header {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 9px;
  font-weight: bold;
  letter-spacing: -1px;
}
.tsr-tactical-speach-bubble.direction-right {
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
.tsr-tactical-speach-bubble.direction-right:before {
  left: auto; right: -2px;
  border-left: none;
  border-right: 20px solid #00b48c;
}
.tsr-tactical-speach-bubble.tsr-slim-bubble { padding: 8px 18px; }
.tsr-tactical-speach-bubble.tsr-color-blue      { border-color: #0083be; background: #0083be; color: #ffffff; }
.tsr-tactical-speach-bubble.tsr-color-green     { border-color: #bed600; background: #bed600; color: #ffffff; }
.tsr-tactical-speach-bubble.tsr-color-orange    { border-color: #ff6319; background: #ff6319; color: #ffffff; }
.tsr-tactical-speach-bubble.tsr-color-pink      { border-color: #c41b79; background: #c41b79; color: #ffffff; }
.tsr-tactical-speach-bubble.tsr-color-purple    { border-color: #642887; background: #642887; color: #ffffff; }
.tsr-tactical-speach-bubble.tsr-color-turquoise { border-color: #00b48c; background: #00b48c; color: #ffffff; }
.tsr-tactical-speach-bubble.tsr-color-yellow    { border-color: #f9dc00; background: #f9dc00; color: #333333; }
.tsr-tactical-speach-bubble.tsr-color-blue:before      { border-left-color: #0083be; }
.tsr-tactical-speach-bubble.tsr-color-green:before     { border-left-color: #bed600; }
.tsr-tactical-speach-bubble.tsr-color-orange:before     { border-left-color: #ff6319; }
.tsr-tactical-speach-bubble.tsr-color-pink:before      { border-left-color: #c41b79; }
.tsr-tactical-speach-bubble.tsr-color-purple:before    { border-left-color: #642887; }
.tsr-tactical-speach-bubble.tsr-color-turquoise:before { border-left-color: #00b48c; }
.tsr-tactical-speach-bubble.tsr-color-yellow:before    { border-left-color: #f9dc00; }
.tsr-tactical-speach-bubble.tsr-color-blue.direction-right:before      { border-right-color: #0083be; }
.tsr-tactical-speach-bubble.tsr-color-green.direction-right:before     { border-right-color: #bed600; }
.tsr-tactical-speach-bubble.tsr-color-orange.direction-right:before    { border-right-color: #ff6319; }
.tsr-tactical-speach-bubble.tsr-color-pink.direction-right:before      { border-right-color: #c41b79; }
.tsr-tactical-speach-bubble.tsr-color-purple.direction-right:before    { border-right-color: #642887; }
.tsr-tactical-speach-bubble.tsr-color-turquoise.direction-right:before { border-right-color: #00b48c; }
.tsr-tactical-speach-bubble.tsr-color-yellow.direction-right:before    { border-right-color: #f9dc00; }

/* speach bubble contour */
.tsr-tactical-speach-bubble.tsr-contour {
  color: #333333;
  background: #ffffff;
}
.tsr-tactical-speach-bubble.tsr-contour:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: -15px; left: 0;
  width: 0px; height: 0px;
  border-top: 0 solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ffffff;
}
.tsr-tactical-speach-bubble.tsr-contour.direction-right:after {
  left: auto; right: 0;
  border-left: none;
  border-right: 15px solid #ffffff;
}

/********************/
/* product wrap */
.tsr-tactical-product-wrap {
  display: inline-block;
  z-index: 1;
  position: relative;
  min-width: 70px;
  min-height: 126px;
  padding: 20px;
  margin: 0 0 20px 0;
  color: #fff;
  background: #00b48c;
  font-size: 18px;
  line-height: 1.256;
  text-align: left;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-tactical-product-wrap .tsr-header {
  overflow: hidden;
  padding-bottom: 9px;
  line-height: 1;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  white-space: nowrap;
}
.tsr-tactical-product-wrap .tsr-text {
  display: block;
  overflow: hidden;
  height: 46px;
}
.tsr-tactical-product-wrap.arrow {
  margin: 0 60px 20px 0;
}
.tsr-tactical-product-wrap.arrow:after {
  content: '';
  display: block;
  z-index: -1;
  right: -42px; top: 50%;
  position: absolute;
  width: 92px; height: 92px;
  margin-top: -46px;
  background: #00b48c;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tsr-tactical-product-wrap:before {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  bottom: -20px; left: 0;
  width: 0px; height: 0px;
  border-top: 0 solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #009974;
}
.tsr-tactical-product-wrap.direction-right {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.tsr-tactical-product-wrap.direction-right:before {
  left: auto; right: 0;
  border-right: none;
  border-left: 26px solid #009974;
}
.tsr-tactical-product-wrap.direction-right.arrow {
  margin: 0 0 20px 60px;
}
.tsr-tactical-product-wrap.direction-right.arrow:after {
  right: auto; left: -42px;
}
.tsr-tactical-product-wrap.tsr-color-blue      { background: #0083be; color: #ffffff; }
.tsr-tactical-product-wrap.tsr-color-green     { background: #bed600; color: #ffffff; }
.tsr-tactical-product-wrap.tsr-color-orange    { background: #ff6319; color: #ffffff; }
.tsr-tactical-product-wrap.tsr-color-pink      { background: #c41b79; color: #ffffff; }
.tsr-tactical-product-wrap.tsr-color-purple    { background: #642887; color: #ffffff; }
.tsr-tactical-product-wrap.tsr-color-turquoise { background: #00b48c; color: #ffffff; }
.tsr-tactical-product-wrap.tsr-color-yellow    { background: #f9dc00; color: #333333; }
.tsr-tactical-product-wrap.tsr-color-blue:before      { border-right-color: #0070a3; }
.tsr-tactical-product-wrap.tsr-color-green:before     { border-right-color: #adba00; }
.tsr-tactical-product-wrap.tsr-color-orange:before    { border-right-color: #da552a; }
.tsr-tactical-product-wrap.tsr-color-pink:before      { border-right-color: #a91a6f; }
.tsr-tactical-product-wrap.tsr-color-purple:before    { border-right-color: #4e256b; }
.tsr-tactical-product-wrap.tsr-color-turquoise:before { border-right-color: #009974; }
.tsr-tactical-product-wrap.tsr-color-yellow:before    { border-right-color: #eac907; }
.tsr-tactical-product-wrap.tsr-color-blue.direction-right:before      { border-left-color: #0070a3; }
.tsr-tactical-product-wrap.tsr-color-green.direction-right:before     { border-left-color: #adba00; }
.tsr-tactical-product-wrap.tsr-color-orange.direction-right:before    { border-left-color: #da552a; }
.tsr-tactical-product-wrap.tsr-color-pink.direction-right:before      { border-left-color: #a91a6f; }
.tsr-tactical-product-wrap.tsr-color-purple.direction-right:before    { border-left-color: #4e256b; }
.tsr-tactical-product-wrap.tsr-color-turquoise.direction-right:before { border-left-color: #009974; }
.tsr-tactical-product-wrap.tsr-color-yellow.direction-right:before    { border-left-color: #eac907; }
.tsr-tactical-product-wrap.tsr-color-blue.arrow:after      { background: #0083be; }
.tsr-tactical-product-wrap.tsr-color-green.arrow:after     { background: #bed600; }
.tsr-tactical-product-wrap.tsr-color-orange.arrow:after    { background: #ff6319; }
.tsr-tactical-product-wrap.tsr-color-pink.arrow:after      { background: #c41b79; }
.tsr-tactical-product-wrap.tsr-color-purple.arrow:after    { background: #642887; }
.tsr-tactical-product-wrap.tsr-color-turquoise.arrow:after { background: #00b48c; }
.tsr-tactical-product-wrap.tsr-color-yellow.arrow:after    { background: #f9dc00; }

.ie8 .tsr-tactical-product-wrap.arrow:after { display: none; }

/********************/
/* flash */
.tsr-tactical-flash {
  position: relative;
  display: table;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  width: 60px;
  height: 60px;
  z-index: 1;
}
.tsr-tactical-flash > span {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.tsr-tactical-flash small {
  font-size: 12px;
  line-height: 1;
  font-weight: normal;
  display: block;
  width: 100%;
}
.tsr-tactical-flash.tsr-flash-price-2 { font-size: 20px; }
.tsr-tactical-flash.tsr-flash-price-3 { font-size: 20px; }
.tsr-tactical-flash.tsr-flash-tech-2  { font-size: 20px; }
.tsr-tactical-flash:before {
  content: '';
  display: block;
  z-index: -1;
  width: 61px;
  height: 61px;
  position: absolute;
  top: 0;
  left: 0;
  background: #00b48c;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.tsr-tactical-flash.tsr-tactical-round {
  width: 86px; height: 86px;
}
.tsr-tactical-flash.tsr-tactical-round:before {
  width: 86px;
  height: 86px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
}
.tsr-tactical-flash.tsr-color-blue       { color: #ffffff; }
.tsr-tactical-flash.tsr-color-green      { color: #ffffff; }
.tsr-tactical-flash.tsr-color-orange     { color: #ffffff; }
.tsr-tactical-flash.tsr-color-pink       { color: #ffffff; }
.tsr-tactical-flash.tsr-color-purple     { color: #ffffff; }
.tsr-tactical-flash.tsr-color-turquoise  { color: #ffffff; }
.tsr-tactical-flash.tsr-color-yellow     { color: #333333; }
.tsr-tactical-flash.tsr-color-blue:before       { background: #0083be; }
.tsr-tactical-flash.tsr-color-green:before      { background: #bed600; }
.tsr-tactical-flash.tsr-color-orange:before     { background: #ff6319; }
.tsr-tactical-flash.tsr-color-pink:before       { background: #c41b79; }
.tsr-tactical-flash.tsr-color-purple:before     { background: #642887; }
.tsr-tactical-flash.tsr-color-turquoise:before  { background: #00b48c; }
.tsr-tactical-flash.tsr-color-yellow:before     { background: #f9dc00; }

.ie8 .tsr-tactical-flash {
  width: 60px; height: 60px;
}
.ie8 .tsr-tactical-flash:before {
  font-family: 'ts-icons-all';
  color: #00b48c;
  content: '\e667';
  font-size: 94px;
  line-height: 1;
  display: block;
  z-index: -1;
  width: 94px;
  height: 94px;
  position: absolute;
  top: -17px;
  left: -17px;
  background: none;
}
.ie8 .tsr-tactical-flash.tsr-color-blue:before       { color: #0083be; }
.ie8 .tsr-tactical-flash.tsr-color-green:before      { color: #bed600; }
.ie8 .tsr-tactical-flash.tsr-color-orange:before     { color: #ff6319; }
.ie8 .tsr-tactical-flash.tsr-color-pink:before       { color: #c41b79; }
.ie8 .tsr-tactical-flash.tsr-color-purple:before     { color: #642887; }
.ie8 .tsr-tactical-flash.tsr-color-turquoise:before  { color: #00b48c; }
.ie8 .tsr-tactical-flash.tsr-color-yellow:before     { color: #f9dc00; }

.ie8 .tsr-tactical-flash span { position: relative; z-index: 10; }
.ie8 .tsr-tactical-flash.tsr-tactical-round { width: 94px; height: 94px; }
.ie8 .tsr-tactical-flash.tsr-tactical-round:before { content: '\e666'; font-size: 94px; }


/********************/
/* ribbon */
.tsr-tactical-ribbon {
  position: relative;
  width: 80px;
  height: 80px;
  top: -10px;
  left: -10px;
  line-height: 30px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}
.tsr-tactical-ribbon:before,
.tsr-tactical-ribbon:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  background: #009974;
}
.tsr-tactical-ribbon:before {
  top: 0; right: 0;
  width: 16px; height: 9px;
}
.tsr-tactical-ribbon:after {
  bottom: 0; left: 0;
  height: 16px; width: 9px;
}
.tsr-tactical-ribbon > span {
  height: 34px;
  display: block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 114px;
  position: relative;
  left: -29px;
  bottom: -8px;
  font-size: 18px;
  line-height: 34px;
  font-weight: bold;
  background: #00b48c;
  color: #ffffff;
}
.tsr-tactical-ribbon.tsr-text-medium span { font-size: 16px; }
.tsr-tactical-ribbon.tsr-text-small  span { font-size: 14px; }
.ie8 .tsr-tactical-ribbon > span {
  bottom: 28px; left: -23px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067690849304, M12=0.7071067690849304, M21=-0.7071067690849304, M22=0.7071067690849304)"; /* IE8 */
}

.tsr-tactical-ribbon.tsr-color-blue > span      { background: #0083be; color: #ffffff; }
.tsr-tactical-ribbon.tsr-color-green > span     { background: #bed600; color: #ffffff; }
.tsr-tactical-ribbon.tsr-color-orange > span    { background: #ff6319; color: #ffffff; }
.tsr-tactical-ribbon.tsr-color-pink > span      { background: #c41b79; color: #ffffff; }
.tsr-tactical-ribbon.tsr-color-purple > span    { background: #642887; color: #ffffff; }
.tsr-tactical-ribbon.tsr-color-turquoise > span { background: #00b48c; color: #ffffff; }
.tsr-tactical-ribbon.tsr-color-yellow > span    { background: #f9dc00; color: #333333; }
.tsr-tactical-ribbon.tsr-color-blue:before      { background: #0070a3; }
.tsr-tactical-ribbon.tsr-color-green:before     { background: #adba00; }
.tsr-tactical-ribbon.tsr-color-orange:before    { background: #da552a; }
.tsr-tactical-ribbon.tsr-color-pink:before      { background: #a91a6f; }
.tsr-tactical-ribbon.tsr-color-purple:before    { background: #4e256b; }
.tsr-tactical-ribbon.tsr-color-turquoise:before { background: #009974; }
.tsr-tactical-ribbon.tsr-color-yellow:before    { background: #eac907; }
.tsr-tactical-ribbon.tsr-color-blue:after       { background: #0070a3; }
.tsr-tactical-ribbon.tsr-color-green:after      { background: #adba00; }
.tsr-tactical-ribbon.tsr-color-orange:after     { background: #da552a; }
.tsr-tactical-ribbon.tsr-color-pink:after       { background: #a91a6f; }
.tsr-tactical-ribbon.tsr-color-purple:after     { background: #4e256b; }
.tsr-tactical-ribbon.tsr-color-turquoise:after  { background: #009974; }
.tsr-tactical-ribbon.tsr-color-yellow:after     { background: #eac907; }

/********************/
/* ribbon-usp (small) */
.tsr-tactical-ribbon-usp {
  background: #00b48c;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  line-height: 34px;
  text-align: center;
  padding: 0 10px 0 10px;
  margin: 0 0 10px 14px;
  height: 34px;
  position: relative;
  z-index: 1;
  font-weight: bold;
}
.tsr-tactical-ribbon-usp:before,
.tsr-tactical-ribbon-usp:after {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;
  left: -12px;
  width: 0px;
  height: 0px;
}
.tsr-tactical-ribbon-usp:before {
  bottom: 0;
  border-bottom: 0 solid transparent;
  border-top: 28px solid transparent;
  border-right: 19px solid #00b48c;
}
.tsr-tactical-ribbon-usp:after {
  top: 0;
  border-top: 0 solid transparent;
  border-bottom: 28px solid transparent;
  border-right: 19px solid #00b48c;
}
.tsr-tactical-ribbon-usp span {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 0px;
  height: 0px;
  border-top: 0 solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #009974;
}
