/******************************************/
/* MODULE NEWS */
.tsr-module-news {
  display: block;
  position: relative;
  padding: 35px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}
.tsr-module-news:hover,
.tsr-module-news:focus,
.tsr-module-news:active {
  color: #333333;
  background: #f6f6f6;
  cursor: pointer;
  text-decoration: none;
}

/********************/
/* under-line */
.tsr-module-news:after {
  content: '';
  display: none;
  overflow: hidden;
  left: 0; bottom: 0px;
  position: absolute;
  width: 100%; height: 4px;
  background: #642887;
}
.tsr-module-news:hover:after,
.tsr-module-news:focus:after,
.tsr-module-news:active:after {
  display: block;
}

/********************/
/* desc */
.tsr-module-news .tsr-module-news-desc {
  display: block;
}

/********************/
/* elements */
.tsr-module-news .tsr-module-news-title {
  display: block;
  font-size: 22px;
  margin-bottom: 12px;
  color: #642887;
}
.tsr-module-news .tsr-module-news-date {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #0083be;
}
.tsr-module-news .tsr-module-news-intro {
  display: block;
}

/********************/
@media screen and (max-width: 1020px) {

.tsr-module-news {
  padding: 20px 15px;
  text-align: left;
}

}
