/******************************************/
/* FLEXIBLE MYPRODS */
.tsr-section-flexible-myprods {
  padding: 40px 0;
}

/********************/
/* results */
.tsr-flexible-results {
  text-align: center;
  background-color: #f6f6f6;
  padding: 20px;
}

/********************/
/* myprods */
.tsr-flexible-myprods { margin-top: -20px; }
.tsr-flexible-myprods .tsr-col-00 { width: 23.00000%; }

/********************/
/* myprod head */
.tsr-flexible-myprods .tsr-flexible-myprod { margin-top: 20px; }
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-head {
  position: relative;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
  padding: 20px;
  color: #ffffff;
  background: #0083be;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-head:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%; left: 50%;
  border: solid transparent;
  height: 0; width: 0;
  pointer-events: none;
  border-color: rgba(0, 131, 190, 0);
  border-top-color: #0083be;
  border-width: 5px;
  margin-left: -5px;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-head-desc {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; height: 48px;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-head-icon,
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-head-name {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-head-icon { width: 0; padding-right: 20px; }

/********************/
/* myprod body */
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-body {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb;
}

/********************/
/* myprod serv */
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv {
  padding: 4px 10px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv.tsr-selactable {
  color: #808080;
  cursor: pointer
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv.tsr-selactable:hover {
  color: #202020;
  background-color: #f6f6f6;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv.tsr-selactable.is-selected {
  color: #202020;
  border: 1px solid #0083be;
  background-color: transparent;
}

.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv-desc {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv-name {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: bottom;
}
.tsr-flexible-myprods .tsr-flexible-myprod .tsr-flexible-myprod-serv-info {
  display: table-cell;
  padding: 0;
  padding-left: 10px;
  text-align: right;
  vertical-align: bottom;
}

/********************/
@media screen and (max-width: 1140px) {

.tsr-flexible-myprods .tsr-col-00 { width: 48.00000%; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-flexible-myprods { padding: 20px 15px; }

}

/********************/
@media screen and (max-width: 600px) {

.tsr-flexible-myprods .tsr-col-00 { width: 98.00000%; }

}
