/******************************************/
/* MODULE PRODUCT */
.tsr-module-product {
  display: block;
  position: relative;
  padding: 35px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}
.tsr-module-product:hover,
.tsr-module-product:focus,
.tsr-module-product:active {
  color: #333333;
  background: #f6f6f6;
  cursor: pointer;
  text-decoration: none;
}

/********************/
/* under-line */
.tsr-module-product:after {
  content: '';
  display: none;
  overflow: hidden;
  left: 0; bottom: 0px;
  position: absolute;
  width: 100%; height: 4px;
  background: #642887;
}
.tsr-module-product:hover:after,
.tsr-module-product:focus:after,
.tsr-module-product:active:after {
  display: block;
}

/********************/
/* colors */
.tsr-module-product .tsr-module-product-colors {
  display: block;
  list-style: none;
  margin: 0; padding: 0;
  font-size: 0; line-height: 0;
}
.tsr-module-product .tsr-module-product-colors > li {
  list-style-type: none;
  display: -moz-inline-stack;
  display: inline-block;
  overflow: hidden;
  margin: 5px; padding: 0;
  width: 15px; height: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}

/********************/
/* image */
.tsr-module-product .tsr-module-product-image {
  display: block;
  width: 100%; height: auto;
  margin: 0 auto 24px;
  max-width: 200px;
}
.tsr-module-product .tsr-module-product-image img {
  width: 100%; height: auto;
}

/********************/
/* desc */
.tsr-module-product .tsr-module-product-desc {
  display: block;
}

/********************/
/* elements */
.tsr-module-product .tsr-module-product-title {
  display: block;
  font-size: 22px;
  margin-bottom: 12px;
  color: #642887;
}
.tsr-module-product .tsr-module-product-intro {
  display: block;
}
.tsr-module-product .tsr-module-product-price {
  display: block;
  font-weight: bold;
  margin-top: 12px;
  color: #0083be;
}
.tsr-module-product .tsr-module-product-print {
  margin-top: 12px;
}
.tsr-module-product .tsr-module-product-colors {
  margin-bottom: 12px;
}

/********************/
/* tactical elements */
.tsr-module-product .tsr-tactical-ribbon {
  display: block;
  position: absolute;
  left: -10px; top: -10px;
}
.tsr-module-product .tsr-tactical-flash {
  display: table;
  position: absolute;
  right: 15%;
}
.tsr-module-product .tsr-tactical-flash.tsr-flash-usp-1 { top:  60px; z-index: 4; }
.tsr-module-product .tsr-tactical-flash.tsr-flash-usp-2 { top: 125px; z-index: 3; }
.tsr-module-product .tsr-tactical-flash.tsr-flash-usp-3 { top: 190px; z-index: 2; }
.tsr-module-product .tsr-tactical-flash.tsr-flash-usp-4 { top: 255px; z-index: 1; }

/********************/
@media screen and (max-width: 1020px) {

.tsr-module-product {
  padding: 20px 15px;
  text-align: left;
}

.tsr-module-product .tsr-tactical-ribbon { display: none; }
.tsr-module-product .tsr-tactical-flash  { display: none; }

/********************/
/* image */
.tsr-module-product .tsr-module-product-image   {
  width: 84px; height: auto;
  float: left; margin: 0;
}

/********************/
/* desc */
.tsr-module-product .tsr-module-product-desc {
  padding-left: 105px;
}

/********************/
/* elements */
.tsr-module-product .tsr-module-product-colors  {
  margin-left: -5px;
}

}

/********************/
@media screen and (max-width: 320px) {

/********************/
/* icon */
.tsr-module-product .tsr-module-product-image {
  display: none;
}

/********************/
/* desc */
.tsr-module-product .tsr-module-product-desc {
  padding-left: 0;
}

}
