/******************************************/
/* PRODUCT PRESENT */
.tsr-section-product-present {
  padding: 40px 0;
}

/********************/
/* flows */
.tsr-section-product-present .tsr-section-flows     { position: relative; min-height: 480px; }
.tsr-section-product-present .tsr-section-flow-a-ct { position: static;   width:  70%; margin-left: 30%; margin-right:  0%; }
.tsr-section-product-present .tsr-section-flow-a-lt { position: absolute; width:  26%; left:  0; top: 0; text-align: center; }
.tsr-section-product-present .tsr-section-flow-b-ct { position: static;   width:  40%; margin-left: 30%; margin-right: 30%; }
.tsr-section-product-present .tsr-section-flow-b-lt { position: absolute; width:  26%; left:  0; top: 0; text-align: center; }
.tsr-section-product-present .tsr-section-flow-b-gt { position: absolute; width:  26%; right: 0; top: 0; }

/********************/
/* image */
.tsr-section-product-present .tsr-section-image {
  display: block;
  position: relative;
  width: 100%; height: auto;
  margin: 0 auto 20px;
  max-width: 360px;
  max-height: 450px;
}
.tsr-section-product-present .tsr-section-image img {
  width: 100%; height: auto;
}
.tsr-section-product-present .tsr-section-image-link {
  font-weight: bold;
}

/* tactical elements */
.tsr-section-product-present .tsr-section-image .tsr-tactical-flash {
  display: table;
  position: absolute;
  right: 0;
}
.tsr-section-product-present .tsr-section-image .tsr-tactical-flash.tsr-flash-usp-1 { top:  10px; z-index: 4; }
.tsr-section-product-present .tsr-section-image .tsr-tactical-flash.tsr-flash-usp-2 { top:  75px; z-index: 3; }
.tsr-section-product-present .tsr-section-image .tsr-tactical-flash.tsr-flash-usp-3 { top: 140px; z-index: 2; }
.tsr-section-product-present .tsr-section-image .tsr-tactical-flash.tsr-flash-usp-4 { top: 205px; z-index: 1; }

/********************/
/* tboxes */
.tsr-section-product-present .tsr-section-tboxes { border: 1px solid #dbdbdb; }
.tsr-section-product-present .tsr-section-tboxes .tsr-section-tbox { border-top: 1px solid #dbdbdb; }
.tsr-section-product-present .tsr-section-tboxes .tsr-section-tbox:first-child { border-top: 0 none; }
.tsr-section-product-present .tsr-section-tboxes                              .tsr-section-tbox-pad { border: 4px solid #ffffff; background: #ffffff; padding: 16px; }
.tsr-section-product-present .tsr-section-tboxes .tsr-section-tbox.is-choosen .tsr-section-tbox-pad { border: 4px solid #0083be; background: #f6f6f6; }

/********************/
/* bubble */
.tsr-section-bubble {
  text-align: left;
}

/********************/
@media screen and (max-width: 1020px) {

.tsr-section-product-present .tsr-section-flow-a-ct { position: static;   width:  70%; margin-left: 30%; margin-right: 0%; }
.tsr-section-product-present .tsr-section-flow-a-lt { position: absolute; width:  26%; left:  0%; top: 0%; text-align: center; }
.tsr-section-product-present .tsr-section-flow-b-ct { position: static;   width:  70%; margin-left: 30%; margin-right: 0%; }
.tsr-section-product-present .tsr-section-flow-b-lt { position: absolute; width:  26%; left:  0%; top: 0%; text-align: center; }
.tsr-section-product-present .tsr-section-flow-b-gt { position: static;   width: auto; right: 0%; top: 0%; }

/********************/
/* image */
.tsr-section-product-present .tsr-section-image {
  display: block;
  position: relative;
  width: 100%; height: auto;
  margin: 0 0 10px;
  max-width: 280px;
}

/* tactical elements */
.tsr-section-product-present .tsr-section-image .tsr-tactical-flash { display: none; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-product-present {
  margin-bottom: 1px;
  padding: 20px 15px;
}

/********************/
/* image */
.tsr-section-product-present .tsr-section-image-link { display: none; }

}


/********************/
@media screen and (max-width: 600px) {

.tsr-section-product-present .tsr-section-flow-a-ct { position: static;   width: auto; margin-left: 0%; margin-right: 0%; }
.tsr-section-product-present .tsr-section-flow-a-lt { position: static;   width: auto; left:  0%; top: 0%; text-align: left; }
.tsr-section-product-present .tsr-section-flow-b-ct { position: static;   width: auto; margin-left: 0%; margin-right: 0%; }
.tsr-section-product-present .tsr-section-flow-b-lt { position: static;   width: auto; left:  0%; top: 0%; text-align: left; }
.tsr-section-product-present .tsr-section-flow-b-gt { position: static;   width: auto; right: 0%; top: 0%; }


}
