/******************************************/
/* MODULE TABULAR B */
.tsr-module-tabular-b {
  border: 1px solid #dbdbdb;
  background: #f6f6f6;
  color: #333333;
}

/********************/
/* header & footer */
.tsr-module-tabular-b .tsr-module-tabular-header {
  display: block;
  background: #f6f6f6;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0; line-height: 0;
}
.tsr-module-tabular-b .tsr-module-tabular-footer {
  display: block;
  background: #ffffff;
  overflow: hidden;
}

/********************/
/* buttons */
.tsr-module-tabular-b .tsr-module-tabular-but {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  padding: 20px 15px;
  font-size: 15px; line-height: normal;
  text-align: center;
  text-decoration: none;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #642887;
  background: #f6f6f6;
}
.tsr-module-tabular-b .tsr-module-tabular-but:first-child {
  border-left: 9px none;
}
.no-touch .tsr-module-tabular-b .tsr-module-tabular-but:hover {
  background: #ffffff;
  text-decoration: none;
}
.tsr-module-tabular-b .tsr-module-tabular-but.is-selected {
  background: #ffffff;
  border-bottom-color: #ffffff;
}

.tsr-module-tabular-b.tsr-count-1 .tsr-module-tabular-but { width: 100.00000%; }
.tsr-module-tabular-b.tsr-count-2 .tsr-module-tabular-but { width:  50.00000%; }
.tsr-module-tabular-b.tsr-count-3 .tsr-module-tabular-but { width:  33.33333%; }
.tsr-module-tabular-b.tsr-count-4 .tsr-module-tabular-but { width:  25.00000%; }
.tsr-module-tabular-b.tsr-count-5 .tsr-module-tabular-but { width:  20.00000%; }
.tsr-module-tabular-b.tsr-count-6 .tsr-module-tabular-but { width:  16.66666%; }
.tsr-module-tabular-b.tsr-count-7 .tsr-module-tabular-but { width:  14.28571%; }
.tsr-module-tabular-b.tsr-count-8 .tsr-module-tabular-but { width:  12.50000%; }

/********************/
/* tabs */
.tsr-module-tabular-b .tsr-module-tabular-tab {
  display: none;
  font-size: 15px; line-height: normal;
}
.tsr-module-tabular-b .tsr-module-tabular-tab.is-expanded {
  display: block;
}

/********************/
/* pads */
.tsr-module-tabular-b .tsr-module-tabular-tab-pad {
  padding: 20px
}

/********************/
@media screen and (max-width: 800px) {

.tsr-module-tabular-b .tsr-module-tabular-header {
  border-bottom: 0 none;
  background: #ffffff;
}

.tsr-module-tabular-b .tsr-module-tabular-but {
  display: block;
  padding: 20px 60px 20px 15px;
  text-align: left;
  margin-top: -1px;
  margin-bottom: -1px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-left: 0 none;
}
.tsr-module-tabular-b .tsr-module-tabular-but.is-selected {
  border-bottom-color: #dbdbdb;
}
.tsr-module-tabular-b[class*='tsr-count-'] .tsr-module-tabular-but {
  width: auto;
}

.tsr-module-tabular-b .tsr-module-tabular-but:after {
  content: '\e669';
  display: block;
  position: absolute;
  right: 15px; top: 50%;
  width: 30px; height: 30px;
  margin-top: -15px;
  font-family: 'ts-icons-all';
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 30px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 60px;
  -ms-border-radius: 60px;
  border-radius: 60px;
  color: #ffffff;
  background: #642887
}
.tsr-module-tabular-b .tsr-module-tabular-but.is-selected:after {
  content: '\e66b';
}

/********************/
/* pads */
.tsr-module-tabular-b .tsr-module-tabular-tab-pad {
  padding: 15px
}

}
