/******************************************/
/* GENERIC */
.tsr-section-generic { /* no styles */ }
.tsr-section-generic .tsr-section-generic-pad,
.tsr-section-generic .tsr-section-generic-pad-h {
  padding-left:  0;
  padding-right: 0;
}
.tsr-section-generic .tsr-section-generic-pad,
.tsr-section-generic .tsr-section-generic-pad-v {
  padding-top:    40px;
  padding-bottom: 40px;
}
.tsr-section-generic .tsr-section-generic-grid-pad {
  padding: 20px 20px;
}

.tsr-section-generic .tsr-section-generic-fix { /* uses javascript */ }
.tsr-section-generic .tsr-section-generic-box { /* uses javascript */ }

.tsr-section-generic.tsr-section-generic-bd-top { border-top:    1px solid #dbdbdb; }
.tsr-section-generic.tsr-section-generic-bd-bot { border-bottom: 1px solid #dbdbdb; }

.tsr-section-generic.tsr-color-shade                                      { background: #f6f6f6; }
.tsr-section-generic.tsr-color-shade .tsr-section-generic-hoverable       { background: #f6f6f6; }
.tsr-section-generic.tsr-color-shade .tsr-section-generic-hoverable:hover { background: #ffffff; }
.tsr-section-generic.tsr-color-shade .tsr-btn-view-all                    { background: #f6f6f6; }
.tsr-section-generic.tsr-color-shade .tsr-btn-view-all:hover              { background: #ffffff; }

/********************/
@media screen and (max-width: 800px) {

.tsr-section-generic .tsr-section-generic-pad,
.tsr-section-generic .tsr-section-generic-pad-h {
  padding-left:  15px;
  padding-right: 15px;
}
.tsr-section-generic .tsr-section-generic-pad,
.tsr-section-generic .tsr-section-generic-pad-v {
  padding-top:    30px;
  padding-bottom: 30px;
}
.tsr-section-generic .tsr-section-generic-grid-pad {
  padding: 20px 15px;
}

}

/********************/
@media screen and (max-width: 480px) {

.tsr-section-generic .tsr-section-generic-pad,
.tsr-section-generic .tsr-section-generic-pad-v {
  padding-top:    20px;
  padding-bottom: 20px;
}

}
