/******************************************/
/* MODULE CONTACTUS */
.tsr-module-contactus {
  display: block;
  position: relative;
  padding: 35px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}
.tsr-module-contactus:hover,
.tsr-module-contactus:focus,
.tsr-module-contactus:active {
  color: #333333;
  background: #f6f6f6;
  cursor: pointer;
  text-decoration: none;
}

/********************/
/* under-line */
.tsr-module-contactus:after {
  content: '';
  display: none;
  overflow: hidden;
  left: 0; bottom: 0px;
  position: absolute;
  width: 100%; height: 4px;
  background: #642887;
}
.tsr-module-contactus:hover:after,
.tsr-module-contactus:focus:after,
.tsr-module-contactus:active:after {
  display: block;
}

/********************/
/* image */
.tsr-module-contactus .tsr-module-contactus-image {
  display: block;
  position: relative;
  margin: 0 auto 24px auto;
  width: 120px; height: 120px;
}
.tsr-module-contactus .tsr-module-contactus-image img {
  width: 100%; height: auto;
}

/********************/
/* desc */
.tsr-module-contactus .tsr-module-contactus-desc {
  display: block;
}

/********************/
/* elements */
.tsr-module-contactus .tsr-module-contactus-title {
  display: block;
  font-size: 22px;
  margin-bottom: 12px;
  color: #642887;
}
.tsr-module-contactus .tsr-module-contactus-intro {
  display: block;
}

/********************/
@media screen and (max-width: 800px) {

.tsr-module-contactus {
  padding: 20px 15px;
  text-align: left;
}

/********************/
/* image */
.tsr-module-contactus .tsr-module-contactus-image {
  width: 84px; height: auto;
  float: left; margin: 0;
}

/********************/
/* desc */
.tsr-module-contactus .tsr-module-contactus-desc {
  padding-left: 105px;
}

}

/********************/
@media screen and (max-width: 320px) {

/********************/
/* icon */
.tsr-module-contactus .tsr-module-contactus-image {
  display: none;
}

/********************/
/* desc */
.tsr-module-contactus .tsr-module-contactus-desc {
  padding-left: 0;
}

}
