/******************************************/
/* MODULE SERVICE */
.tsr-module-service {
  display: block;
  position: relative;
  padding: 35px 20px;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}
.tsr-module-service:hover,
.tsr-module-service:focus,
.tsr-module-service:active {
  color: #333333;
  background: #f6f6f6;
  cursor: pointer;
  text-decoration: none;
}

/********************/
/* under-line */
.tsr-module-service:after {
  content: '';
  display: none;
  overflow: hidden;
  left: 0; bottom: 0px;
  position: absolute;
  width: 100%; height: 4px;
  background: #642887;
}
.tsr-module-service:hover:after,
.tsr-module-service:focus:after,
.tsr-module-service:active:after {
  display: block;
}

/********************/
/* image */
.tsr-module-service .tsr-module-service-image {
  display: block;
  position: relative;
  margin: 0 auto 24px auto;
  width: 140px; height: 140px;
  max-width: 150px;
}
.tsr-module-service .tsr-module-service-image img {
  width: 100%; height: auto;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/********************/
/* desc */
.tsr-module-service .tsr-module-service-desc {
  display: block;
}

/********************/
/* elements */
.tsr-module-service .tsr-module-service-title {
  display: block;
  font-size: 22px;
  margin-bottom: 12px;
  color: #642887;
}
.tsr-module-service .tsr-module-service-intro {
  display: block;
}
.tsr-module-service .tsr-module-service-price {
  display: block;
  font-weight: bold;
  margin-top: 12px;
  color: #0083be;
}

/********************/
/* tactical elements */
.tsr-module-service .tsr-tactical-ribbon     { display: block; position: absolute; top:   -9px; left:  -9px; }
.tsr-module-service .tsr-tactical-ribbon-usp { display: block; position: absolute; bottom: 6px; right: -10px; }

/********************/
@media screen and (max-width: 1020px) {

.tsr-module-service {
  padding: 20px 15px;
  text-align: left;
}

/********************/
/* image */
.tsr-module-service .tsr-module-service-image {
  width: 84px; height: auto;
  float: left; margin: 0;
}

/********************/
/* desc */
.tsr-module-service .tsr-module-service-desc {
  padding-left: 105px;
}

/********************/
/* tactical elements */
.tsr-module-service .tsr-tactical-ribbon     { display: none; }
.tsr-module-service .tsr-tactical-ribbon-usp { display: none; }

}

/********************/
@media screen and (max-width: 320px) {

/********************/
/* icon */
.tsr-module-service .tsr-module-service-image {
  display: none;
}

/********************/
/* desc */
.tsr-module-service .tsr-module-service-desc {
  padding-left: 0;
}

}
