/******************************************/
/* FONTS */
@font-face {
  font-family: 'Arial Webfont';
  src: url('../../tsr-components/tsr-fonts/tsr-arial/tsr-arial.eot');
  src: url('../../tsr-components/tsr-fonts/tsr-arial/tsr-arial.eot?#iefix') format('embedded-opentype'),
       url('../../tsr-components/tsr-fonts/tsr-arial/tsr-arial.woff2') format('woff2'),
       url('../../tsr-components/tsr-fonts/tsr-arial/tsr-arial.woff') format('woff'),
       url('../../tsr-components/tsr-fonts/tsr-arial/tsr-arial.ttf') format('truetype'),
       url('../../tsr-components/tsr-fonts/tsr-arial/tsr-arial.svg#arial-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
