/******************************************/
/* SECTION HEADER */
.tsr-section-header {
  color: #ffffff;
  background: #4e256b;
  margin-bottom: -1px;
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
  max-width: 100%;
}

.tsr-section-header a,
.tsr-section-header a:hover {
  color: #ffffff;
}

.tsr-section-header a,
.tsr-section-header a:hover,
.tsr-section-header a:focus,
.tsr-section-header a:active {
  text-decoration: none;
}

.tsr-section-header ul,
.tsr-section-header li {
  list-style: none;
  margin: 0; padding: 0;
}
