/********************/
/* header global */
.tsr-section-header .tsr-header-global {
  background: #642887;
  position: relative;
}
body.tsr-body-b2b .tsr-section-header .tsr-header-global {
  background: #4e256b;
}


.tsr-section-header .tsr-header-global a,
.tsr-section-header .tsr-header-global a:hover {
  color: #ffffff;
}
.tsr-section-header .tsr-header-global a,
.tsr-section-header .tsr-header-global a:hover,
.tsr-section-header .tsr-header-global a:focus,
.tsr-section-header .tsr-header-global a:active {
  text-decoration: none;
}

/********************/
/* header global left */
.tsr-section-header .tsr-global-left {
  float: left;
}
.tsr-section-header .tsr-global-left ul {
  margin-left: -13px;
  font-size: 0; line-height: 0;
  text-align: left;
}
.tsr-section-header .tsr-global-left li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  line-height: 50px;
}
.tsr-section-header .tsr-global-left li a {
  display: block;
  padding: 0 13px;
  font-size: 13px;
  font-weight: bold;
}
.tsr-section-header .tsr-global-left li a:hover {
  text-decoration: underline;
}
.tsr-section-header .tsr-global-left li a.is-choosen,
.tsr-section-header .tsr-global-left li a.is-choosen:hover {
  background: #4e256b;
  text-decoration: none;
}
.tsr-body-b2b .tsr-section-header .tsr-global-left li a.is-choosen,
.tsr-body-b2b .tsr-section-header .tsr-global-left li a.is-choosen:hover {
  background: #642887;
  text-decoration: none;
}

/********************/
/* header global right */
.tsr-section-header .tsr-global-right {
  float: right;
}
.tsr-section-header .tsr-global-right ul {
  font-size: 0; line-height: 0;
  text-align: right;
}
.tsr-section-header .tsr-global-right li {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  line-height: 50px;
  text-align: left;
}
.tsr-section-header .tsr-global-right li > a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
}
/* div */
.tsr-section-header .tsr-global-right li.tsr-header-cell-div {
  overflow: hidden;
  width: 1px; height: 16px;
  background-color: #885ba3;
}
/* lang */
.tsr-section-header .tsr-global-right li.tsr-header-cell-lang a   { font-size: 0; line-height: 0; }
.tsr-section-header .tsr-global-right li.tsr-header-cell-lang img { height: 18px; }
/* login */
.tsr-section-header .tsr-global-right li.tsr-header-cell-login a {}
/* logout */
.tsr-section-header .tsr-global-right li.tsr-header-cell-logout a {
  position: relative;
  line-height: 22px;
  font-size: 13px;
  font-weight: bold;
}
.tsr-section-header .tsr-global-right li.tsr-header-cell-logout a:before {
  content: '\e65a';
  display: -moz-inline-stack;
  display: inline-block;
  margin-right: 4px;
  vertical-align: top;
  font-family: 'ts-icons-all';
  font-size: 22px;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
/* cart */
.tsr-section-header .tsr-global-right li.tsr-header-cell-cart a {
  position: relative;
  padding-left: 30px;
  line-height: 22px;
  font-size: 13px;
  font-weight: bold;
}
.tsr-section-header .tsr-global-right li.tsr-header-cell-cart a:before {
  content: '\e65f';
  display: block;
  left: 0; top: 50%;
  position: absolute;
  margin-top: -11px;
  font-family: 'ts-icons-all';
  font-size: 22px;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
.tsr-section-header .tsr-global-right li.tsr-header-cell-cart .tsr-tactical {
  display: block;
  position: absolute;
  top: -7px; left: 14px;
  text-align: center;
  font-style: normal;
  font-size: 10px;
  line-height: 15px;
  width: 15px; height: 15px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  background: #d70880;
}
/* link */
.tsr-section-header .tsr-global-right li.tsr-header-cell-link a {
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
}
.tsr-section-header .tsr-global-right li.tsr-header-cell-link a:hover {
  text-decoration: underline;
}

/********************/
/* floatmenu */

.tsr-section-header .tsr-floatmenu {
  z-index: 20;
  position: fixed;
  top: 150px; right: 8px;
}
.tsr-section-header .tsr-floatmenu ul {
  list-style: none;
  margin: 0; padding: 10px;
  background-color:  rgb(164,165,166);
  background-color: rgba(164,165,166, 0.75);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}
.tsr-section-header .tsr-floatmenu ul + ul { margin-top: 5px; }
.tsr-section-header .tsr-floatmenu .tsr-floatmenu-gray {
  background-color:  rgb(164,165,166);
  background-color: rgba(164,165,166,0.75);
}
.tsr-section-header .tsr-floatmenu .tsr-floatmenu-pink {
  background-color:  rgb(196,27,121);
  background-color: rgba(196,27,121,0.75);
}

.tsr-section-header .tsr-floatmenu li {
  margin: 0; padding: 0;
}
.tsr-section-header .tsr-floatmenu a {
  display: block;
  position: relative;
  width: 40px; height: 40px;
  padding: 0px;
}
.tsr-section-header .tsr-floatmenu img {
  width: 40px; height: 40px;
}
.tsr-section-header .tsr-floatmenu a span {
  display: block;
  position: absolute;
  right: 100%; top: 50%;
  width: auto; height: 36px;
  margin: -18px 18px 0 0; padding: 0 16px;
  line-height: 36px;
  visibility: hidden;
  opacity: 0.00; /* ie9+, fx2+, chrome4+, safari3.1+ opera9+ */
  transition: visibility 0.3s linear, opacity 0.3s linear; /* ie10+, fx16+, opera12.1+ */
  color: #ffffff;
  background-color:  rgb(164,165,166);
  background-color: rgba(164,165,166,0.75);
  white-space: nowrap;
  font-size: 13px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}
.tsr-section-header .tsr-floatmenu .tsr-floatmenu-gray a span {
  background-color:  rgb(164,165,166);
  background-color: rgba(164,165,166,0.75);
}
.tsr-section-header .tsr-floatmenu .tsr-floatmenu-pink a span {
  background-color:  rgb(196,27,121);
  background-color: rgba(196,27,121,0.75);
}


.tsr-section-header .tsr-floatmenu a:hover span {
  visibility: visible;
  opacity: 1.00; /* ie9+, fx2+, chrome4+, safari3.1+ opera9+ */
}
.tsr-section-header .tsr-floatmenu a span:after {
  content: '';
  overflow: hidden;
  position: absolute;
  left: 100%; top: 50%;
  height: 0; width: 0;
  pointer-events: none;
  border: solid transparent;
  border-color:      rgba(164,165,166,0);
  border-left-color:  rgb(164,165,166);
  border-left-color: rgba(164,165,166,0.75);
  border-width: 4px; margin-top: -4px;
}
.tsr-section-header .tsr-floatmenu .tsr-floatmenu-gray a span:after {
  border-color:      rgba(164,165,166,0);
  border-left-color:  rgb(164,165,166);
  border-left-color: rgba(164,165,166,0.75);
}
.tsr-section-header .tsr-floatmenu .tsr-floatmenu-pink a span:after {
  border-color:      rgba(196,27,121,0);
  border-left-color:  rgb(196,27,121);
  border-left-color: rgba(196,27,121,0.75);
}


/********************/
@media screen and (max-width: 1140px) {

.tsr-section-header .tsr-floatmenu {
  display: none;
}

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-header .tsr-global-left {
  display: none;
}

.tsr-section-header .tsr-global-right {
  float: none;
  padding: 0 5px;
}
.tsr-section-header .tsr-global-right li,
.tsr-section-header .tsr-global-right li:first-child {
  margin: 0 10px;
}
.tsr-section-header .tsr-global-right .tsr-header-cell-login { display: none; }
.tsr-section-header .tsr-global-right .tsr-header-cell-logout { display: none; }

}

