/********************/
/* header global */
.tsr-section-header .tsr-header-main {
  position: relative;
  color: #642887;
  background: #ffffff;
}
.tsr-section-header .tsr-header-main .tsr-container {
  position: relative;
}

.tsr-section-header .tsr-header-main a,
.tsr-section-header .tsr-header-main a:hover {
  color: #642887;
}
.tsr-section-header .tsr-header-main a,
.tsr-section-header .tsr-header-main a:hover,
.tsr-section-header .tsr-header-main a:focus,
.tsr-section-header .tsr-header-main a:active {
  text-decoration: none;
}

/********************/
/* header logo */
.tsr-section-header .tsr-header-logo {
  float: left;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-right: 10px;
}
.tsr-section-header .tsr-header-logo a {
  display: block;
}
.tsr-section-header .tsr-header-logo img {
  height: auto;
  max-width: 100%;
}

/********************/
/* header close button */
.tsr-section-header .tsr-btn-close {
  display: block;
  cursor: pointer;
  position: absolute;
  left: 0px; bottom: 0px;
  width: 100%; height: 40px;
  padding: 0; margin: 0;
  border-top: 1px solid #4e256b;
  text-align: center;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #642887;
}
.tsr-section-header .tsr-btn-close:hover {
  background: #4e256b;
  text-decoration: none;
}
.tsr-section-header .tsr-btn-close:after {
  content: '\e66b';
  font-family: 'ts-icons-all';
  font-size: 18px;
  line-height: 40px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-variant: normal;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ie8 .tsr-section-header .tsr-btn-close:after {
  display: none;
}

/********************/
/* header nav */
.tsr-section-header .tsr-header-nav {
  float: left;
  position: static;
}

/********************/
/* header nav level 1 */
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 {
  position: static;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul {
  font-size: 0; line-height: 0;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a {
  display: block;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  padding: 36px 20px 26px 21px;
  border-top: 2px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  letter-spacing: -1px;
  color: #642887;
}
@media screen and (max-width: 1420px) { .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a { font-size: 17px; letter-spacing: 0; padding-left: 15px; padding-right: 16px; } }
@media screen and (max-width: 1260px) { .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a { font-size: 16px; letter-spacing: 0; padding-left: 15px; padding-right: 16px; } }
@media screen and (max-width: 1140px) { .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a { font-size: 16px; letter-spacing: 0; padding-left: 10px; padding-right: 11px; } }
@media screen and (max-width: 1020px) { .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a { font-size: 15px; letter-spacing: 0; padding-left: 10px; padding-right: 11px; } }

.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-choosen {
  border-bottom-color: #642887;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected:hover {
  color: #ffffff;
  background: #642887;
  border-bottom-color: #642887;
}
.ie8 .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected,
.ie8 .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected:hover {
  color: #642887;
  background: #f6f6f6;
  border-bottom-color: #f6f6f6;
}
/* divider-line */
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a:after {
  content: '';
  font-size: 0;
  display: block;
  z-index: 1;
  left: 0; top: 50%;
  position: absolute;
  width: 1px; height: 28px;
  margin-top: -9px;
  background: #dbdbdb;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li:first-child > a:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected:after {
  display: none;
}
.ie8 .tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a:after {
  display: none;
}

/********************/
/* header nav level 2 */
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 {
  z-index: 0;
  overflow: hidden;
  visibility: hidden;
  left: 0; top: 100%;
  position: absolute;
  width: 0; height: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #642887;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02.is-expanded {
  z-index: 1;
  visibility: visible;
  left: -4%; top: 100%;
  width: 108%; height: auto;
  padding: 30px 4% 40px 4%;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > * { opacity: 0; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02.is-expanded > * { opacity: 1; transition: opacity 0.5s ease; }

/********************/
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul {
  font-size: 0; line-height: 0;
  margin-left: -4%;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  font-size: 15px; line-height: normal;
  vertical-align: top;
  width: 21.0%;
  margin-left: 4%;
  margin-bottom: 40px;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li.has-landing {
  float: left;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a {
  display: block;
  margin: -10px -10px 0 -10px; padding: 10px;
  font-size: 18px;
  color: #ffffff;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a:hover {
  color: #ffffff;
  background: #4e256b;
}
/* icon */
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing span:after {
  content: '\e668';
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 2px;
  width: 15px; height: 15px;
  font-family: 'ts-icons-all';
  font-size: 15px;
  font-weight: normal;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
/* landing */
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing { margin-bottom: 40px; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing:hover { background: none; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing:after { display: none; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing span  { display: block; }
/* ie8 */
.ie8 .tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a:after,
.ie8 .tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing span:after,
.ie8 .tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing:after { display: none; }

/********************/
/* header nav level 3 */
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul {}
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li {
  margin-top: 8px;
  font-size: 15px;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a:hover {
  text-decoration: underline;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.tsr-nav-etc {
  margin-top: 20px;
  padding-left: 10px;
  background-image: url('../../tsr-sections/tsr-header/tsr-nav-etc.png');
  background-repeat: no-repeat;
  background-position: left center;
}

/********************/
/* header nav landing */
.tsr-section-header .tsr-header-nav .tsr-landing { margin-top: 20px; min-height: 320px; }
.tsr-section-header .tsr-header-nav .tsr-landing-image { margin-bottom: 22px; }
.tsr-section-header .tsr-header-nav .tsr-landing-image img { max-width: 100%; }
.tsr-section-header .tsr-header-nav .tsr-landing-caption { margin-bottom: 22px; font-size: 22px; font-weight: normal; }
.tsr-section-header .tsr-header-nav .tsr-landing-description { font-size: 15px; font-weight: normal; }

/********************/
/* header nav close buttons */
.tsr-section-header .tsr-header-nav .tsr-btn-close { display: none; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 .tsr-btn-close { display: block; }

/********************/
/* header sidenav */
.tsr-section-header .tsr-header-sidenav {
  float: right;
  position: static;
}
.tsr-section-header .tsr-header-sidenav {
  position: static;
}
.tsr-section-header .tsr-header-sidenav ul {
  font-size: 0; line-height: 0;
  text-align: right;
}
.tsr-section-header .tsr-header-sidenav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
}
.tsr-section-header .tsr-header-sidenav a {
  display: block;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding: 36px 8px 26px 9px;
  border-top: 2px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  color: #642887;
}
.tsr-section-header .tsr-header-sidenav a:hover {
  border-bottom-color: #642887;
}
.tsr-section-header .tsr-header-sidenav a.is-selected,
.tsr-section-header .tsr-header-sidenav a.is-selected:hover {
  color: #ffffff;
  background: #642887;
  border-bottom-color: #642887;
}
.ie8 .tsr-section-header .tsr-header-sidenav a.is-selected,
.ie8 .tsr-section-header .tsr-header-sidenav a.is-selected:hover {
  color: #642887;
  background: #f6f6f6;
  border-bottom-color: #f6f6f6;
}

/* divider-line */
.tsr-section-header .tsr-header-sidenav a:after {
  content: '';
  font-size: 0;
  display: block;
  z-index: 1;
  left: 0; top: 50%;
  position: absolute;
  width: 1px; height: 28px;
  margin-top: -9px;
  background: #dbdbdb;
}
.tsr-section-header .tsr-header-sidenav :first-child > a:after,
.tsr-section-header .tsr-header-sidenav                a.is-selected:after {
  display: none;
}
.ie8 .tsr-section-header .tsr-header-sidenav a:after {
  display: none;
}
/* inner span */
.tsr-section-header .tsr-header-sidenav a span {
  padding-right: 8px;
}
/* icon */
.tsr-section-header .tsr-header-sidenav a:before {
  content: '\e02c';
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0 4px;
  vertical-align: top;
  font-family: 'ts-icons-all';
  font-size: 22px;
  font-weight: normal;
  font-variant: normal;
  line-height: 22px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-menu { display: none; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-menu a { }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-menu a:before { content: '\e639'; font-size: 38px; margin: 0 -8px; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-search { display: -moz-inline-stack; display: inline-block; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-search a {}
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-search a:before { content: '\e61f'; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-login { display: none; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-login a {}
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-login a:before { content: '\e65a'; font-size: 28px; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-logout { display: none; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-logout a {}
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-logout a:before { content: '\e65a'; font-size: 28px; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-apps { display: -moz-inline-stack; display: inline-block; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-apps a {}
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-apps a:before { content: '\e638'; }

/********************/
/* header expandable sub-containers */
.tsr-section-header .tsr-header-sub {
  z-index: 0;
  overflow: hidden;
  visibility: hidden;
  left: 0; top: 100%;
  position: absolute;
  width: 0; height: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #642887;
}
.tsr-section-header .tsr-header-sub.is-expanded {
  z-index: 1;
  visibility: visible;
  left: -4%; top: 100%;
  width: 108%; height: auto;
  padding: 30px 4% 70px 4%;
}
.tsr-section-header .tsr-header-sub > * {
  opacity: 0;
}
.tsr-section-header .tsr-header-sub.is-expanded > * {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tsr-section-header .tsr-header-sub .tsr-header-sub-form {}
.tsr-section-header .tsr-header-sub .tsr-header-sub-form-field  { margin-bottom: 10px; }
.tsr-section-header .tsr-header-sub .tsr-header-sub-form-submit { margin-top:    20px; }
.tsr-section-header .tsr-header-sub .tsr-header-sub-form-label  { margin-bottom:  4px; font-weight: bold; }
.tsr-section-header .tsr-header-sub a,
.tsr-section-header .tsr-header-sub a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* login */
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form { width: 400px; margin: 0 auto 30px; }
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='text'],
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='password'] {
  display: block; margin-bottom: 4px;
}
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='button'],
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='submit'] {
  display: block; width: 100%;
}
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-links { width: 400px; margin: 0 auto 4px; text-align: center; }
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-links a,
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-links a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-links span { padding: 0 10px; }

/* logout */
.tsr-section-header .tsr-header-sub-logout .tsr-header-sub-logout-buttons { width: 260px; margin: 0 auto; }

/* search */
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form { width: 700px; margin: 0 auto; }
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='text'] {
  display: block; float: left; width: 74%; margin-right: 2%;
}
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='button'],
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='submit'] {
  display: block; float: left; width: 24%;
}

/* apps */
.tsr-section-header .tsr-header-sub-apps .tsr-header-apps {}
.tsr-section-header .tsr-header-sub-apps .tsr-header-apps .tsr-grid > .tsr-col-00 { width: 23.00000%; }
@media screen and (max-width: 1140px) { .tsr-section-header .tsr-header-sub-apps .tsr-header-apps .tsr-grid > .tsr-col-00 { width: 31.33333%; } }
@media screen and (max-width: 960px)  { .tsr-section-header .tsr-header-sub-apps .tsr-header-apps .tsr-grid > .tsr-col-00 { width: 48.00000%; } }
@media screen and (max-width: 600px)  { .tsr-section-header .tsr-header-sub-apps .tsr-header-apps .tsr-grid > .tsr-col-00 { width: 98.00000%; } }
.tsr-section-header .tsr-header-sub-apps .tsr-header-app  { color: #ffffff; text-decoration: none; }
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-image {
  float: left;
  width: 84px; height: 84px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #c8c2ba;
}
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-image img { width: 100%; height: 100%; }
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-desc { margin-left: 100px; padding-top: 8px; }
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-name { margin-bottom: 6px; font-weight: bold; }
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-link { margin-top: 4px; font-size: 13px; }
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-link a,
.tsr-section-header .tsr-header-sub-apps .tsr-header-app-link a:hover { color: #ffffff; text-decoration: underline; }

/********************/
@media screen and (max-width: 1420px) {

/********************/
/* header sidenav */
.tsr-section-header .tsr-header-sidenav a span {
  display: none;
}

}


/********************/
@media screen and (max-width: 800px) {

/********************/
/* header logo */
.tsr-section-header .tsr-header-logo {
  margin-left: 15px;
}

/* header sub */
.tsr-section-header .tsr-header-sub,
.tsr-section-header .tsr-header-sub.is-expanded {
  clear: both;
  float: none;
  display: none;
  overflow: visible;
  visibility: visible;
  position: static;
  left: auto; top: auto;
  right: auto; bottom: auto;
  width: auto; height: auto;
  margin: 0; padding: 30px 15px 70px 15px;
  border: 0 none;
  list-style: none;
  font-size: 15px;
  line-height: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #642887;
}
.tsr-section-header .tsr-header-sub.is-expanded {
  display: block;
}

/* header nav */
.tsr-section-header .tsr-header-nav {
  clear: both;
  float: none;
  display: none;
  overflow: visible;
  visibility: visible;
  position: static;
  left: auto; top: auto;
  right: auto; bottom: auto;
  width: auto; height: auto;
  margin: 0; padding: 0;
  border: 0 none;
  list-style: none;
  font-size: 15px;
  line-height: normal;
  color: #ffffff;
  background: #642887;
}
.tsr-section-header .tsr-header-nav.is-expanded {
  display: block;
  padding-bottom: 40px;
}

.tsr-section-header .tsr-header-nav .tsr-nav-level-01,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01.is-expanded,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02.is-expanded,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03.is-expanded,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li.has-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li.has-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li.has-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-choosen,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-choosen,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-choosen,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-selected,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-selected {
  float: none;
  display: block;
  overflow: visible;
  visibility: visible;
  position: static;
  left: auto; top: auto;
  right: auto; bottom: auto;
  width: auto; height: auto;
  margin: 0; padding: 0;
  border: 0 none;
  list-style: none;
  font-size: 15px;
  font-weight: normal;
  line-height: normal;
}

.tsr-section-header .tsr-header-nav a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-choosen,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-choosen,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-choosen,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-selected,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-selected,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-landing:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-landing:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-selected:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-selected:hover {
  position: relative;
  padding: 10px 15px;
  border-bottom: 1px solid #371b4c;
  color: #ffffff;
  background-color: #642887;
}

.tsr-section-header .tsr-header-nav a:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li a:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li a:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li a:after,
.tsr-section-header .tsr-header-nav a span:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing span:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing span:after,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing span:after {
  display: none;
}

.tsr-section-header .tsr-header-nav a:before,
.tsr-section-header .tsr-header-nav [class*='tsr-nav-level-'] > ul > li a:before {
  content: '\e66b';
  display: block;
  font-family: 'ts-icons-all';
  font-size: 17px;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  position: absolute;
  color: white;
  line-height: 1;
  left: auto; bottom: auto;
  right: 10px; top: 50%;
  margin-top: -8px;
}
.tsr-section-header .tsr-header-nav                                               a:before { content: ''; }
.tsr-section-header .tsr-header-nav [class*='tsr-nav-level-'] > ul > li         > a:before { content: ''; }
.tsr-section-header .tsr-header-nav [class*='tsr-nav-level-'] > ul > li.has-sub > a:before { content: '\e669'; }
.tsr-section-header .tsr-header-nav [class*='tsr-nav-level-'] > ul > li.has-sub > a.is-selected:before { content: '\e66b'; }

/********************/
/* footer nav level 1 */
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected {
  color: #ffffff;
  background-color: #642887;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-landing:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-01 > ul > li > a.is-selected:hover {
  background: #73369e;
  text-decoration: none;
}

/********************/
/* footer nav level 2 */
.tsr-section-header .tsr-header-nav .tsr-nav-level-02             { display: none;  }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02.is-expanded { display: block; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-selected {
  color: #ffffff;
  background-color: #4e256b;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-landing:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 > ul > li > a.is-selected:hover {
  background-color: #73369e;
  text-decoration: none
}

/********************/
/* footer nav level 3 */
.tsr-section-header .tsr-header-nav .tsr-nav-level-03             { display: none;  }
.tsr-section-header .tsr-header-nav .tsr-nav-level-03.is-expanded { display: block; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-landing,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-selected {
  color: #ffffff;
  background-color: #431f5d;
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-landing:hover,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.is-selected:hover {
  background-color: #73369e;
  text-decoration: none
}
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.tsr-nav-etc,
.tsr-section-header .tsr-header-nav .tsr-nav-level-03 > ul > li > a.tsr-nav-etc:hover {
  margin-top: 0;
  padding-left: 25px;
  background-image: url('../../tsr-sections/tsr-header/tsr-nav-etc.png');
  background-repeat: no-repeat;
  background-position: 15px center;
}

/********************/
/* header nav landing */
.tsr-section-header .tsr-header-nav .tsr-landing { display: none; }

/********************/
/* header nav close buttons */
.tsr-section-header .tsr-header-nav .tsr-btn-close { display: block; border-top: 0; }
.tsr-section-header .tsr-header-nav .tsr-nav-level-02 .tsr-btn-close { display: none; }

/********************/
/* header sidenav */
.tsr-section-header .tsr-header-sidenav a {
  padding: 36px 12px 26px 13px;
}
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-menu   { display: -moz-inline-stack; display: inline-block; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-search { display: -moz-inline-stack; display: inline-block; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-login  { display: -moz-inline-stack; display: inline-block; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-logout { display: -moz-inline-stack; display: inline-block; }
.tsr-section-header .tsr-header-sidenav li.tsr-sidenav-apps   { display: -moz-inline-stack; display: inline-block; }

/********************/
/* header expandable sub-containers */
/* login */
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form  { width: 400px; margin: 0 auto 10px; margin-bottom: 20px; }
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-links { width: 400px; margin: 0 auto; }
/* search */
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form { width:  auto; margin: 0; }

}

/********************/
@media screen and (max-width: 600px) {

/********************/
/* header expandable sub-containers */
/* search */
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form { width: 400px; margin: 0 auto; }
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='text'],
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='button'],
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='submit'] {
  display: block; width: 100%; margin: 0; margin-bottom: 4px;
}

}

/********************/
@media screen and (max-width: 480px) {
/********************/
/* header logo */
.tsr-section-header .tsr-header-logo { float: none; text-align: left; margin-bottom: 10px; }
.tsr-section-header .tsr-header-logo a { display: inline; }

/********************/
/* header sidenav */
.tsr-section-header .tsr-header-sidenav a {
  padding: 22px 12px 12px 13px;
}

/********************/
/* header expandable sub-containers */
/* login */
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form  { width: 100%; margin: 0 auto 10px; }
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-links { width: 100%; margin: 0 auto; text-align: left; }
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='text'],
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='password'],
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='button'],
.tsr-section-header .tsr-header-sub-login .tsr-header-sub-form input[type='submit'] {
  display: block; width: 100%; margin: 0; margin-bottom: 4px;
}
/* search */
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form { width: auto; margin: 0 auto; }
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='text'],
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='button'],
.tsr-section-header .tsr-header-sub-search .tsr-header-sub-form input[type='submit'] {
  display: block; width: 100%; margin: 0; margin-bottom: 4px;
}

}
