/******************************************/
/* TYPOGRAPHY */
body {
  /* line-height = 1.25 (unitless for proper inheritance) */
  font: normal normal normal 15px/1.25 'Arial Webfont', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  /* background: url('../../tsr-temp/tsr-images/background-snow.png') repeat center center; */
  background-color: #fff;
  color: #333;
}

button,
input,
select,
textarea {
  font: normal normal normal 15px/normal 'Arial Webfont', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
}

::selection {
  color: #ffffff; background: #642887;
}
::-moz-selection {
  color: #ffffff; background: #642887;
}

h1.tsr-typo { font-size: 42px; line-height: 50px; font-weight: bold; letter-spacing: -1px; }
h2.tsr-typo { font-size: 36px; line-height: 42px; font-weight: bold; letter-spacing: -1px; }
h3.tsr-typo { font-size: 22px; line-height: 28px; font-weight: bold;   }
h4.tsr-typo { font-size: 22px; line-height: 28px; font-weight: normal; }
h5.tsr-typo { font-size: 20px; line-height: 25px; font-weight: normal; }
h6.tsr-typo { font-size: 18px; line-height: 22px; font-weight: normal; font-style: italic; }

h1.tsr-title { font-size: 42px; font-weight: bold; letter-spacing: -1px; }
h2.tsr-title { font-size: 36px; font-weight: bold; letter-spacing: -1px; }
h3.tsr-title { font-size: 26px; font-weight: bold;   }
h4.tsr-title { font-size: 22px; font-weight: normal; }
h5.tsr-title { font-size: 20px; font-weight: normal; }
h6.tsr-title { font-size: 18px; font-weight: normal; font-style: italic; }

/********************/
@media screen and (max-width: 800px) {

h1.tsr-title { font-size: 32px; font-weight: bold; letter-spacing: -1px; }
h2.tsr-title { font-size: 24px; font-weight: bold; letter-spacing: -1px; }
h3.tsr-title { font-size: 22px; font-weight: bold;   }
h4.tsr-title { font-size: 18px; font-weight: normal; }
h5.tsr-title { font-size: 15px; font-weight: normal; }
h6.tsr-title { font-size: 15px; font-weight: normal; font-style: italic; }

}
