/******************************************/
/* UBOARD INSTALMENT */

.tsr-installment-progwrapp {
  margin: 0 140px;
}

/********************/
/* installment-progblock */
.tsr-installment-progblock {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.tsr-installment-progblock .tsr-installment-progblock-lt,
.tsr-installment-progblock .tsr-installment-progblock-gt {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: bottom;
}
.tsr-installment-progblock .tsr-installment-progblock-gt {
  padding-left: 40px;
  text-align: right;
}

/********************/
/* installment-progress */
.tsr-installment-progress {
  padding-top: 10px;
  padding-bottom: 80px;
}

.tsr-installment-progress .tsr-installment-progbar {
  display: block;
  position: relative;
  width: auto; height: 41px;
  background: #e0e0e0;
}
.tsr-installment-progress .tsr-installment-progline {
  position: absolute;
  width: 0; height: 100%;
  left: 0; top: 0;
  background: #00b48c;
}
.tsr-installment-progress .tsr-installment-progptr {
  position: absolute;
  width: 0; height: 120px;
  right: 0; top: -5px;
  border-right: 1px dashed #808080;
}
.tsr-installment-progress .tsr-installment-progdesc-a {
  position: absolute;
  width: 120px; height: 130px;
  right: 10px; top: 55px;
  text-align: right;
  color: #333333;
}
.tsr-installment-progress .tsr-installment-progdesc-b {
  position: absolute;
  width: 120px; height: 130px;
  left: 10px; top: 55px;
  text-align: left;
  color: #c41b79;
}

/********************/
/* installment-progaltdesc */
.tsr-installment-progaltdesc {
  display: none;
}



/********************/
@media screen and (max-width: 960px) {

.tsr-installment-progwrapp { margin: 0; }
.tsr-installment-progress { padding-bottom: 10px; }
.tsr-installment-progress .tsr-installment-progptr { display: none; }
.tsr-installment-progaltdesc { display: block; }

}




/********************/
@media screen and (max-width: 600px) {

.tsr-installment-progblock,
.tsr-installment-progblock .tsr-installment-progblock-lt,
.tsr-installment-progblock .tsr-installment-progblock-gt {
  display: block;
  width: auto;
}
.tsr-installment-progblock .tsr-installment-progblock-gt {
  padding: 0;
  text-align: left;
}

}
