/******************************************/
/* UBOARD CLASSES */

/********************/
/* semitran */
.tsr-uboard-semitran {
  -moz-opacity: 0.5;
       opacity: 0.5;
}

/********************/
/* lr-switch */
.tsr-uboard-lr-switch {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.tsr-uboard-lr-switch-col-l,
.tsr-uboard-lr-switch-col-m,
.tsr-uboard-lr-switch-col-r {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
.tsr-uboard-lr-switch-col-l { padding-right: 5px; }
.tsr-uboard-lr-switch-col-m { padding-left:  5px; }
.tsr-uboard-lr-switch-col-r { width: 0; }
.tsr-uboard-lr-switch-txt { font-weight: bold; font-size: 13px; line-height: 1; }
