/******************************************/
/* UBOARD BALANCE */
.tsr-section-uboard-balance {
  padding: 40px 0;
}

.tsr-uboard-balance-main { float: left; padding-right: 300px; margin-right: -300px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.tsr-uboard-balance-side { float: right; width: 260px; }

/********************/
/* avatar */
.tsr-uboard-balance-main-avatar {
  float: left;
  overflow: hidden;
  position: relative;
  width: 80px; height: 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.tsr-uboard-balance-main-avatar .tsr-avatar-img {
  z-index: 1;
  display: block;
  position: relative;
  top: 0; left: 0;
  width: 100%; height: 100%;
}
.tsr-uboard-balance-main-avatar .tsr-avatar-layer {
  z-index: 2;
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 10px 0;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  background-color: rgb(100, 40, 135);
  background-color: rgba(100, 40, 135, 0.9);
  color: #ffffff;
  visibility: hidden;
  opacity: 0.00; /* ie9+, fx2+, chrome4+, safari3.1+ opera9+ */
  -moz-transition: all 0.3s linear;
  -webkit-box-sizing: all 0.3s linear;
  transition: all 0.3s ease; /* ie10+, fx16+, opera12.1+ */
}
.no-touch .tsr-uboard-balance-main-avatar:hover span.tsr-avatar-layer {
  visibility: visible;
  opacity: 1.00; /* ie9+, fx2+, chrome4+, safari3.1+ opera9+ */
}
.tsr-uboard-balance-main-avatar .tsr-avatar-link {
  z-index: 3;
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

/********************/
/* main */
.tsr-uboard-balance-main-account   { margin-left: 100px; }
.tsr-uboard-balance-main-title     { font-size: 42px; letter-spacing: -1px; line-height: normal; font-weight: bold; }
.tsr-uboard-balance-main-message   { font-size: 15px; color: #808080; }
.tsr-uboard-balance-main-error     { font-size: 22px; color: #fb0000; }
.tsr-uboard-balance-main-balance   { font-size: 22px; }
.tsr-uboard-balance-main-balance-a { display: -moz-inline-stack; display: inline-block; }
.tsr-uboard-balance-main-balance-b { display: -moz-inline-stack; display: inline-block; margin: 0 10px; }
.tsr-uboard-balance-main-gel       { vertical-align: baseline; height: 20px; }
.tsr-uboard-balance-main-ico       { vertical-align: super; font-size: 19px; color: #642887; margin-left: 6px; }
.tsr-uboard-balance-main-ico.tsr-color-red    { color: #fb0000; }
.tsr-uboard-balance-main-ico.tsr-color-yellow { color: #ffae00; }
.tsr-uboard-balance-main-ico.tsr-color-green  { color: #00b38c; }

/********************/
/* side */
.tsr-uboard-balance-side-promo { width: 260px; margin-left: auto; text-align: center; }
.tsr-uboard-balance-side-image { position: relative; height: 200px; position: relative; margin-bottom: 10px; }
.tsr-uboard-balance-side-image img { height: 200px; max-width: 260px; }
.tsr-uboard-balance-side-title { font-size: 18px; margin-bottom: 2px; }
.tsr-uboard-balance-side-check { font-weight: bold; }
.tsr-uboard-balance-side-layer {
  z-index: 10;
  display: none;
  font-size: 13px;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  padding: 20px 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.95);
}
.tsr-uboard-balance-side-layer * {
  vertical-align: middle;
}

/********************/
/* tactical elements */
.tsr-uboard-balance-side-promo .tsr-tactical-flash {
  display: table;
  position: absolute;
  right: 15%;
}
.tsr-uboard-balance-side-promo .tsr-tactical-flash.tsr-flash-usp-1 { top:  20px; z-index: 4; }
.tsr-uboard-balance-side-promo .tsr-tactical-flash.tsr-flash-usp-2 { top:  85px; z-index: 3; }
.tsr-uboard-balance-side-promo .tsr-tactical-flash.tsr-flash-usp-3 { top: 150px; z-index: 2; }


/********************/
@media screen and (max-width: 1260px) {

.tsr-uboard-balance-main-balance   { }
.tsr-uboard-balance-main-balance-a { display: block; }
.tsr-uboard-balance-main-balance-b { display: none; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-uboard-balance { padding: 20px 15px; }

.tsr-uboard-balance-main { float: none; width: auto; padding: 0; margin: 0; }
.tsr-uboard-balance-side { float: none; width: auto; margin-top: 40px; margin-bottom: 20px; }

.tsr-uboard-balance-side-promo { margin-left: auto; margin-right: auto; }

}

/********************/
@media screen and (max-width: 600px) {

.tsr-uboard-balance-main-avatar { width: 64px; height: 64px; }
.tsr-uboard-balance-main-avatar .tsr-avatar-img { display: block; position: relative; top: 0; left: 0; width: 100%; height: 100%; }
.tsr-uboard-balance-main-avatar .tsr-avatar-layer { padding: 15px 5px 0; }

.tsr-uboard-balance-main-account    { margin-left: 80px; }
.tsr-uboard-balance-main-title      { font-size: 32px; }
.tsr-uboard-balance-main-error      { font-size: 18px; color: #fb0000; }
.tsr-uboard-balance-main-balance    { font-size: 18px; }
.tsr-uboard-balance-main-gel        { vertical-align: baseline; height: 16px; }
.tsr-uboard-balance-main-ico        { font-size: 19px; }

}



/********************/
@media screen and (max-width: 480px) {

.tsr-uboard-balance-side { float: none; }


.tsr-uboard-balance-side-promo .tsr-tactical-flash { display: none; }

.tsr-uboard-balance-main-avatar    { display: none; }

.tsr-uboard-balance-main-account   { margin-left: 0; }
.tsr-uboard-balance-main-title     { }

.tsr-uboard-balance-main-error     { font-size: 15px; font-weight: bold; }
.tsr-uboard-balance-main-balance   { font-size: 15px; font-weight: bold; }
.tsr-uboard-balance-main-gel       { vertical-align: baseline; height: 13px; }
.tsr-uboard-balance-main-ico       { font-size: 19px; }

}
