/******************************************/
/* UBOARD AUTOREFILL */

/********************/
/* tsr-uboard-arfill */
.tsr-uboard-arfill {}
.tsr-uboard-arfill-main {
  margin-right: 360px;
  position: relative;
}
.tsr-uboard-arfill-side {
  float: right;
  width: 320px;
  position: relative;
}
@media screen and (max-width: 1020px) {
.tsr-uboard-arfill-main { float: none; margin-right: 0; }
.tsr-uboard-arfill-side { float: none; width: auto; margin-bottom: 40px; }
}

/********************/
/* tsr-uboard-arfill-fixator */
.tsr-uboard-arfill-fixator {
  position: relative;
}
.tsr-uboard-arfill-sticker {
  position: relative;
}
.tsr-uboard-arfill-sticker.tsr-fixed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: auto;
}

