/******************************************/
/* GENERIC */
.tsr-section-hronline {}

.tsr-section-hronline                             .tsr-hronline-pad,
.tsr-section-hronline .tsr-hronline-sticker-space .tsr-hronline-pad {
  padding-left:  0;
  padding-right: 0;
}
@media screen and (max-width: 800px) {
.tsr-section-hronline                             .tsr-hronline-pad,
.tsr-section-hronline .tsr-hronline-sticker-space .tsr-hronline-pad {
  padding-left:  15px;
  padding-right: 15px;
}
}

/********************/
.tsr-section-hronline .tsr-hronline-feat-grid {
  margin-left:  -2.08333333%;
  margin-right: -2.08333333%;
}
.tsr-section-hronline .tsr-hronline-feat-cell {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left:  2.0%;
  padding-right: 2.0%;
  margin-bottom: 40px;
  width: 33.33333333%;
}
@media screen and (max-width: 1260px) {
.tsr-section-hronline .tsr-hronline-feat-cell { width: 50%; }
}
@media screen and (max-width: 1020px) {
.tsr-section-hronline .tsr-hronline-feat-cell { width: 33.33333333%; }
}
@media screen and (max-width: 960px) {
.tsr-section-hronline .tsr-hronline-feat-cell { width: 50%; }
}
@media screen and (max-width: 600px) {
.tsr-section-hronline .tsr-hronline-feat-cell { width: 100%; }
}

/********************/
.tsr-section-hronline .tsr-hronline-space {
  position: relative;
}
.tsr-section-hronline .tsr-hronline-main {
  margin-right: 360px;
}
.tsr-section-hronline .tsr-hronline-side {
  width: 320px;
  position: absolute;
  top: 0; right: 0;
}
@media screen and (max-width: 1020px) {
.tsr-section-hronline .tsr-hronline-main { width: auto; margin-right: 0;  }
.tsr-section-hronline .tsr-hronline-side { width: auto; position: static; }
}

/********************/
.tsr-section-hronline .tsr-hronline-side-fixator {
  position: relative;
}
.tsr-section-hronline .tsr-hronline-side-sticker {
  position: relative;
}
.tsr-section-hronline .tsr-hronline-side-sticker.tsr-fixed {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: auto;
}

/********************/
.tsr-section-hronline .tsr-section-hronline-xbar {
  padding: 20px;
  border: 1px solid #dbdbdb;
  background-color: #f6f6f6;
  background-color: rgba(246,246,246,0.9);
  color: #333333;
}


