/******************************************/
/* COMMON */
html {
  overflow: auto;
  overflow-y: scroll; /* ie6+, fx1.5+, safari3+, chrome2+, opera9.5+ */
  width: 100%; height: 100%;
}

.ie8 body {
  min-width: 1024px;
}
