/******************************************/
/* SECTION SUPPORT LISTING  */
.tsr-section-support-listing {
  border-top: 1px solid #4e256b;
  border-bottom: 1px solid #4e256b;
  background: #642887;
}

/********************/
/* wrapper */
.tsr-section-support-listing .tsr-boxgrid-wrapper {
  position: relative;
}
.tsr-section-support-listing .tsr-boxgrid-wrapper:after,
.tsr-section-support-listing .tsr-boxgrid-wrapper:before {
  content: '';
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 1px; height: 100%;
  background: #642887;
}
.tsr-section-support-listing .tsr-boxgrid-wrapper:after  { left:  0; top: 0; }
.tsr-section-support-listing .tsr-boxgrid-wrapper:before { right: 0; bottom: 0; }
.ie8 .tsr-section-support-listing .tsr-boxgrid-wrapper:after  { display: none; }
.ie8 .tsr-section-support-listing .tsr-boxgrid-wrapper:before { display: none; }

/********************/
/* boxgrid */

.tsr-section-support-listing.tsr-count-1 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-section-support-listing.tsr-count-2 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-section-support-listing.tsr-count-3 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-section-support-listing .tsr-boxcol-inner {
  border: 1px solid #4e256b;
}

/********************/
@media screen and (max-width: 1020px) {

.tsr-section-support-listing.tsr-count-1 .tsr-boxcol-outer { width: 100%; }
.tsr-section-support-listing.tsr-count-2 .tsr-boxcol-outer { width:  50%; }
.tsr-section-support-listing.tsr-count-3 .tsr-boxcol-outer { width: 100%; }

}

/********************/
@media screen and (max-width: 600px) {

.tsr-section-support-listing.tsr-count-1 .tsr-boxcol-outer { width: 100%; }
.tsr-section-support-listing.tsr-count-2 .tsr-boxcol-outer { width:  50%; }
.tsr-section-support-listing.tsr-count-3 .tsr-boxcol-outer { width: 100%; }

}

/********************/
@media screen and (max-width: 480px) {

.tsr-section-support-listing.tsr-count-1 .tsr-boxcol-outer { width: 100%; }
.tsr-section-support-listing.tsr-count-2 .tsr-boxcol-outer { width: 100%; }
.tsr-section-support-listing.tsr-count-3 .tsr-boxcol-outer { width: 100%; }

}
