/******************************************/
/* SECTION CONTACTUS LISTING */
.tsr-section-contactus-listing {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.tsr-section-contactus-listing.tsr-color-shade                             { background: #f6f6f6; }
.tsr-section-contactus-listing.tsr-color-shade .tsr-module-contactus       { background: #f6f6f6; }
.tsr-section-contactus-listing.tsr-color-shade .tsr-module-contactus:hover { background: #ffffff; }

.tsr-section-contactus-listing.tsr-count-1 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-section-contactus-listing.tsr-count-2 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-section-contactus-listing.tsr-count-3 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-section-contactus-listing             .tsr-boxcol-outer { width:  25.00000%; }

/********************/
@media screen and (max-width: 1020px) {

.tsr-section-contactus-listing.tsr-count-1 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-section-contactus-listing.tsr-count-2 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-section-contactus-listing.tsr-count-3 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-section-contactus-listing             .tsr-boxcol-outer { width:  50.00000%; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-contactus-listing.tsr-count-1 .tsr-boxcol-outer { width: 100%; }
.tsr-section-contactus-listing.tsr-count-2 .tsr-boxcol-outer { width: 100%; }
.tsr-section-contactus-listing.tsr-count-3 .tsr-boxcol-outer { width: 100%; }
.tsr-section-contactus-listing             .tsr-boxcol-outer { width: 100%; }

}
