/******************************************/
/* DIVIDERS */
.tsr-section-divider {}

.tsr-section-divider h1 {
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
}

.tsr-section-divider h2 {
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
}

.tsr-section-divider,
.tsr-section-divider h1
.tsr-section-divider h2
.tsr-section-divider h3
.tsr-section-divider h4
.tsr-section-divider h5
.tsr-section-divider h6 {
  background: #transparent; color: #333333;
}
.tsr-section-divider.tsr-color-white,
.tsr-section-divider.tsr-color-white h1
.tsr-section-divider.tsr-color-white h2
.tsr-section-divider.tsr-color-white h3
.tsr-section-divider.tsr-color-white h4
.tsr-section-divider.tsr-color-white h5
.tsr-section-divider.tsr-color-white h6 {
  background: #ffffff; color: #333333;
}
.tsr-section-divider.tsr-color-shade,
.tsr-section-divider.tsr-color-shade h1
.tsr-section-divider.tsr-color-shade h2
.tsr-section-divider.tsr-color-shade h3
.tsr-section-divider.tsr-color-shade h4
.tsr-section-divider.tsr-color-shade h5
.tsr-section-divider.tsr-color-shade h6 {
  background: #f6f6f6; color: #333333;
}
.tsr-section-divider.tsr-color-purple,
.tsr-section-divider.tsr-color-purple h1
.tsr-section-divider.tsr-color-purple h2
.tsr-section-divider.tsr-color-purple h3
.tsr-section-divider.tsr-color-purple h4
.tsr-section-divider.tsr-color-purple h5
.tsr-section-divider.tsr-color-purple h6 {
  background: #4e256b; color: #ffffff;
}

.tsr-section-divider                   { padding: 20px 0; }
.tsr-section-divider.tsr-divider-empty { overflow: hidden; font-size: 0; }
.tsr-section-divider.tsr-divider-pixup { padding: 0; overflow: hidden; font-size: 0; margin-top: -1px; }
.tsr-section-divider.tsr-divider-space, .tsr-section-divider.tsr-divider-space-top { padding-top:    40px; }
.tsr-section-divider.tsr-divider-space, .tsr-section-divider.tsr-divider-space-bot { padding-bottom: 40px; }
.tsr-section-divider.tsr-divider-bd,    .tsr-section-divider.tsr-divider-bd-top    { border-top:     1px solid #dbdbdb; }
.tsr-section-divider.tsr-divider-bd,    .tsr-section-divider.tsr-divider-bd-bot    { border-bottom:  1px solid #dbdbdb; }

/********************/
@media screen and (max-width: 1020px) {

.tsr-section-divider                       { padding: 20px 0; }
.tsr-section-divider.tsr-divider-space-top { padding-top:    30px; }
.tsr-section-divider.tsr-divider-space-bot { padding-bottom: 30px; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-divider { padding: 20px 15px; }
.tsr-section-divider.tsr-divider-space, .tsr-section-divider.tsr-divider-space-top { padding-top:    30px; }
.tsr-section-divider.tsr-divider-space, .tsr-section-divider.tsr-divider-space-bot { padding-bottom: 30px; }

.tsr-section-divider h1 {
  font-size: 24px;
  font-weight: normal;
}

.tsr-section-divider h2 {
  font-size: 20px;
  font-weight: normal;
}

}

/********************/
@media screen and (max-width: 480px) {

.tsr-section-divider { padding: 20px 15px; }
.tsr-section-divider.tsr-divider-space, .tsr-section-divider.tsr-divider-space-top { padding-top:    20px; }
.tsr-section-divider.tsr-divider-space, .tsr-section-divider.tsr-divider-space-bot { padding-bottom: 20px; }

}
