/******************************************/
/* SECTION PRODUCT & SUPPORT LISTING */
.tsr-section-ps-listing {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.tsr-section-ps-listing.tsr-color-shade                           { background: #f6f6f6; }
.tsr-section-ps-listing.tsr-color-shade .tsr-module-product       { background: #f6f6f6; }
.tsr-section-ps-listing.tsr-color-shade .tsr-module-product:hover { background: #ffffff; }
.tsr-section-ps-listing.tsr-color-shade .tsr-module-service       { background: #f6f6f6; }
.tsr-section-ps-listing.tsr-color-shade .tsr-module-service:hover { background: #ffffff; }
.tsr-section-ps-listing.tsr-color-shade .tsr-btn-view-all         { background: #f6f6f6; }
.tsr-section-ps-listing.tsr-color-shade .tsr-btn-view-all:hover   { background: #ffffff; }

.tsr-section-ps-listing .tsr-btn-view-all {
  margin-bottom: -1px;
}

@media screen and (max-width: 1020px) {
.tsr-section-ps-listing .tsr-boxgrid .tsr-boxcol-outer  { width: 50%; }
}
@media screen and (max-width: 800px) {
.tsr-section-ps-listing .tsr-boxgrid .tsr-boxcol-outer  { width: 50%; }
}
@media screen and (max-width: 600px) {
.tsr-section-ps-listing .tsr-boxgrid .tsr-boxcol-outer  { width: 100%; }
}
