/******************************************/
/* COMMON */

/********************/
/* tsr-com-composite */

.composite {
  line-height: 0;
  white-space: nowrap;
}
.composite > * {
  line-height: normal;
  vertical-align: middle;
  display: -moz-inline-stack; /* fx2 */
  display: inline-block; /* fx3+, chrome4+, safari3+, opera9+, ie8+ */
}

/********************/
/* tsr-link-composite */

.tsr-link-composite,
.tsr-link-composite:hover {
  line-height: 0;
  text-decoration: none;
}
.tsr-link-composite > * {
  line-height: normal;
  vertical-align: middle;
}

/********************/
/* tsr-com-collapser */

.tsr-com-collapser-outer,
.tsr-com-collapser-inner {
  display: block;
}
.tsr-com-collapser-outer:before,
.tsr-com-collapser-outer:after,
.tsr-com-collapser-inner:before,
.tsr-com-collapser-inner:after {
  content: '';
  display: block;
  height: 0; width: auto;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  visibility: hidden; /* fx */
}
.tsr-com-collapser-outer:before,
.tsr-com-collapser-outer:after  { overflow: hidden; }
.tsr-com-collapser-inner:before { margin:  1000px 0 -1000px; }
.tsr-com-collapser-inner:after  { margin: -1000px 0  1000px; }

/********************/
/* tsr-hr */
.tsr-com-hr {
  font-size: 0;
  overflow: hidden;
  border: 0 none;
  width: auto; height: 1px;
  background-color: #dbdbdb;
}
.tsr-com-hr-01 { height: 1px; }
.tsr-com-hr-02 { height: 2px; }
.tsr-com-hr-03 { height: 3px; }
.tsr-com-hr-04 { height: 4px; }
.tsr-com-hr-05 { height: 5px; }

/********************/
/* tsr-com-linklist */
.tsr-com-linklist ul {
  list-style: none;
  margin: -2px -10px; padding: 0;
  line-height: 0;
}
.tsr-com-linklist li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0; padding: 2px 11px 2px 10px;
  line-height: normal;
}
.tsr-com-linklist li:last-child {
  padding-right: 10px;
}
/* divider-line */
.tsr-com-linklist li:after {
  content: '';
  display: block;
  z-index: 1;
  font-size: 0;
  right: 0px; top: 50%;
  position: absolute;
  width: 1px; height: 12px;
  margin-top: -6px;
  background: #dbdbdb;
}
.tsr-com-linklist li:last-child:after {
  display: none;
}
.ie8 .tsr-com-linklist li:after {
  display: none;
}
/* links */
.tsr-com-linklist a {
  color: #642887;
  text-decoration: none;
}
.tsr-com-linklist a.is-choosen {
  color: #333333;
}
.tsr-com-linklist a:hover,
.tsr-com-linklist a.is-choosen:hover {
  text-decoration: underline;
}

/********************/
/* tsr-com-alphalist */
.tsr-com-alphalist ul {
  list-style: none;
  margin: -2px -7px; padding: 0;
  line-height: 0;
}
.tsr-com-alphalist li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0; padding: 2px 5px;
  line-height: normal;
}
/* links */
.tsr-com-alphalist a,
.tsr-com-alphalist span {
  display: block;
  color: #333333;
  text-decoration: none;
  line-height: 1.4;
  padding: 2px;
  border-bottom: 0 none;
}
.tsr-com-alphalist a,
.tsr-com-alphalist a:hover {
  color: #642887;
  text-decoration: none;
}
.tsr-com-alphalist a.is-choosen,
.tsr-com-alphalist a.is-choosen:hover,
.tsr-com-alphalist span.is-choosen {
  color: #333333;
  padding-bottom: 0;
  border-bottom: 2px solid #333333;
}
.tsr-com-alphalist a.is-disabled,
.tsr-com-alphalist a.is-disabled:hover,
.tsr-com-alphalist span.is-disabled {
  color: #A0A0A0;
  padding-bottom: 2px;
  border-bottom: 0 none;
}

/********************/
/* tsr-com-lineblocks */
.tsr-com-lineblocks {
  list-style: none;
  margin: -5px -10px; padding: 0;
  line-height: 0;
}
.tsr-com-lineblocks .tsr-com-lineblock {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0; padding: 5px 10px;
  line-height: normal;
}

/********************/
/* tsr-com-switch */
.tsr-com-switch {
  cursor: pointer;
  position: relative;
  margin: 0; padding: 0;
  font-size: 0; line-height: 0;
  width: 50px; height: 24px;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.tsr-com-switch:after {
  content: '';
  display: block;
  position: absolute;
  left: -1px; right: auto;
  top: -1px; bottom: auto;
  width: 26px; height: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #a4a5a6;
}
.tsr-com-switch.is-choosen:after {
  content: '';
  display: block;
  position: absolute;
  left: auto; right: -1px;
  top: -1px; bottom: auto;
  width: 26px; height: 26px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  background-color: #00b48c;
}

/********************/
/* tsr-com-sup */
.tsr-com-sup {
  cursor: pointer;
  font-size: 75%;
  line-height: 0;
  vertical-align: super;
}

/********************/
/* tsr-link-tria */
.tsr-link-tria {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding-left: 11px;
  text-decoration: none;
  color: #642887;
  background: transparent none no-repeat scroll left center;
}
.tsr-link-tria:hover {
  text-decoration: none;
  color: #642887;
}
.tsr-link-tria.tsr-link-tria-left   { background-image: url("../../tsr-core/tsr-images/tsr-tria-link-left.png");   }
.tsr-link-tria.tsr-link-tria-right  { background-image: url("../../tsr-core/tsr-images/tsr-tria-link-right.png");  }
.tsr-link-tria.tsr-link-tria-top    { background-image: url("../../tsr-core/tsr-images/tsr-tria-link-top.png");    }
.tsr-link-tria.tsr-link-tria-bottom { background-image: url("../../tsr-core/tsr-images/tsr-tria-link-bottom.png"); }

/********************/
/* tsr-link-download */
.tsr-link-download {
  cursor: pointer;
  display: -moz-inline-stack; /* fx2 */
  display: inline-block; /* fx3+, chrome4+, safari3+, opera9+, ie8+ */
  font-size: 13px;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  background-color: #642887;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-link-download:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #73369e;
}

/********************/
/* tsr-com-starred */
.tsr-com-starred {
  position: relative;
}
.tsr-com-starred:after {
  content: '\e646';
  display: block;
  width: 10px; height: 10px;
  padding: 3px;
  position: absolute;
  top: -6px; right: -10px;
  font-size: 9px;
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  color: #ffffff;
  background-color: #c41b79;
}

/********************/
/* tsr-com-label-list */
.tsr-com-label-list > ul {
  list-style: none;
  margin: 0; padding: 0;
  border-left: 1px solid #dbdbdb;
}
.tsr-com-label-list > ul ul {
  margin: 0; padding: 0;
  list-style: disc outside;
  margin-left: 1.25em;
}
.tsr-com-label-list .tsr-com-label-list-title {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tsr-com-label-list > ul > li {
  position: relative;
  margin: 0; padding: 0;
  padding-left: 35px;
  margin-top: 40px;
}
.tsr-com-label-list > ul > li:first-child {
  padding-top: 0;
}
.tsr-com-label-list > ul > li:after {
  content: '\e60f';
  display: block;
  position: absolute;
  left: -6px; top: 6px;
  font-size: 28px;
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #c41b79;
}

/********************/
/* tsr-com-lockbox */
.tsr-com-lockbox {
  position: relative;
}
.tsr-com-lockbox .tsr-com-lockbox-layer {
  z-index: 10;
  display: none;
  left: 0; top: 0;
  position: absolute;
  width: 100%; height: 100%;
}
.tsr-com-lockbox.is-hidden .tsr-com-lockbox-layer {
  display: block;
}
.tsr-com-lockbox .tsr-com-lockbox-layer.tsr-semiwhite {
  background: #ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* ie8 */
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* ie8 */
  filter: alpha(opacity=80);/* ie5-ie7 */
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

/********************/
/* tsr-com-table-nulled */
table.tsr-com-table-nulled {
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
}
table.tsr-com-table-nulled > caption,
table.tsr-com-table-nulled > tbody > tr > th,
table.tsr-com-table-nulled > tbody > tr > td {
  vertical-align: top;
}

table.tsr-com-table-nulled.border-inner >   tbody > tr > th,
table.tsr-com-table-nulled.border-inner >   tbody > tr > td,
table.tsr-com-table-nulled.border-inner-h > tbody > tr > th,
table.tsr-com-table-nulled.border-inner-h > tbody > tr > td {
  border-top: 1px solid #dbdbdb;
}
table.tsr-com-table-nulled.border-inner >   tbody > tr:first-child > th,
table.tsr-com-table-nulled.border-inner >   tbody > tr:first-child > td,
table.tsr-com-table-nulled.border-inner-h > tbody > tr:first-child > th,
table.tsr-com-table-nulled.border-inner-h > tbody > tr:first-child > td {
  border-top: 0 none;
}
table.tsr-com-table-nulled.border-inner >   tbody > tr > th,
table.tsr-com-table-nulled.border-inner >   tbody > tr > td,
table.tsr-com-table-nulled.border-inner-v > tbody > tr > th,
table.tsr-com-table-nulled.border-inner-v > tbody > tr > td {
  border-left: 1px solid #dbdbdb;
}
table.tsr-com-table-nulled.border-inner >   tbody > tr:first-child > th,
table.tsr-com-table-nulled.border-inner >   tbody > tr:first-child > td,
table.tsr-com-table-nulled.border-inner-v > tbody > tr:first-child > th,
table.tsr-com-table-nulled.border-inner-v > tbody > tr:first-child > td {
  border-left: 0 none;
}
table.tsr-com-table-nulled.border-out > tbody > tr > th,
table.tsr-com-table-nulled.border-out > tbody > tr > td {
  border: 1px solid #dbdbdb;
}

/********************/
/* tsr-com-table-standard */
table.tsr-com-table-standard {
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
}
table.tsr-com-table-standard > caption,
table.tsr-com-table-standard > tbody > tr > th,
table.tsr-com-table-standard > tbody > tr > td {
  vertical-align: top;
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
}
table.tsr-com-table-standard > caption {
  text-align: left;
  font-weight: bold;
  background-color: #f6f6f6;
  border-bottom: 0 none;
}
table.tsr-com-table-standard > tbody > tr > th {
  text-align: left;
  font-weight: bold;
  background-color: #f6f6f6;
}
table.tsr-com-table-standard > tbody > tr > th.tsr-bg-blue {
  color: #ffffff;
  background-color: #0083be;
}

/********************/
/* tsr-com-table-featured */
.tsr-com-table-featured .tsr-com-table-featured-table {
  display: table;
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-com-table-featured .tsr-com-table-featured-caption {
  display: table-caption;
  border: 1px solid #dbdbdb;
  border-bottom: 0 none;
  background-color: #f6f6f6;
  padding: 10px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-com-table-featured .tsr-com-table-featured-row {
  display: table-row;
}
.tsr-com-table-featured .tsr-com-table-featured-col {
  display: table-cell;
  vertical-align: top;
  border: 1px solid #dbdbdb;
  padding: 10px 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-com-table-featured .tsr-com-table-featured-size-01 { width:100.00000%; }
.tsr-com-table-featured .tsr-com-table-featured-size-02 { width: 50.00000%; }
.tsr-com-table-featured .tsr-com-table-featured-size-03 { width: 33.33333%; }
.tsr-com-table-featured .tsr-com-table-featured-size-04 { width: 25.33333%; }
@media screen and (max-width: 800px) {
.tsr-com-table-featured .tsr-com-table-featured-table   { display: block; border: 0 none; }
.tsr-com-table-featured .tsr-com-table-featured-caption { display: block; border: 0 none; border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; }
.tsr-com-table-featured .tsr-com-table-featured-row     { display: block; border: 0 none; border-top: 0 none; padding: 10px 15px; }
.tsr-com-table-featured .tsr-com-table-featured-col     { display: block; border: 0 none; padding: 0; }
.tsr-com-table-featured .tsr-com-table-featured-size-01 { width: auto; }
.tsr-com-table-featured .tsr-com-table-featured-size-02 { width: auto; }
.tsr-com-table-featured .tsr-com-table-featured-size-03 { width: auto; }
.tsr-com-table-featured .tsr-com-table-featured-size-04 { width: auto; }
}

/********************/
/* tsr-com-table-pricelist */
table.tsr-com-table-pricelist {
  display: table;
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
}
table.tsr-com-table-pricelist caption,
table.tsr-com-table-pricelist th,
table.tsr-com-table-pricelist td {
  vertical-align: top;
  text-align: left;
  padding-top: 3px;
  padding-bottom: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
table.tsr-com-table-pricelist .tsr-out-pname { width: 240px; }
table.tsr-com-table-pricelist .tsr-inn-pname { min-width: 160px; }
table.tsr-com-table-pricelist .tsr-out-price { width: 180px; padding-left: 20px; }
table.tsr-com-table-pricelist .tsr-inn-price { min-width: 120px; }

/********************/
/* tsr-com-avatarlist */
.tsr-com-avatarlist {}
.tsr-com-avatarlist a {
  margin: 5px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 64px; height: 64px;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* ie8 */
  filter: alpha(opacity=50);/* ie5-ie7 */
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.tsr-com-avatarlist a.is-choosen {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* ie8 */
  filter: alpha(opacity=100);/* ie5-ie7 */
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}
.tsr-com-avatarlist a:after {
  content: '.'; /* ie8 */
  z-index: 1;
  display: none;
  position: absolute;
  left: 0; bottom: 0;
  width: 100%; height: 4px;
  background-color: #642887;
  font-size: 0;
}
.tsr-com-avatarlist a.is-choosen:after {
  content: '';
  display: block;
}
.tsr-com-avatarlist img {
  display: block;
  width: 100%; height: 100%;
}

/********************/
/* tsr-com-social-buttons */
.tsr-com-social-buttons {
  font-size: 0; line-height: 0; white-space: nowrap;
}
.tsr-com-social-buttons > a,
.tsr-com-social-buttons > span {
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 15px; line-height: normal; white-space: normal;
  vertical-align: middle;
  margin-right: 10px;
  color: #ffffff;
}
.tsr-com-social-buttons > a {
  height: 26px; width: 26px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #4e256b;
  text-align: center;
  margin-right: 6px;
}
.tsr-com-social-buttons > a:after {
  content: '\e02c';
  display: block;
  line-height: 26px;
  speak: none;
  font-size: 13px;
  font-weight: normal;
  font-variant: normal;
  font-family: 'ts-icons-all';
  text-transform: none;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tsr-com-social-buttons a.tsr-footer-icon-facebook { background: #3b5998; }
.tsr-com-social-buttons a.tsr-footer-icon-facebook:after { content: '\e002'; }
.tsr-com-social-buttons a.tsr-footer-icon-youtube { background: #e31b2c; }
.tsr-com-social-buttons a.tsr-footer-icon-youtube:after { content: '\e66c'; }
.tsr-com-social-buttons a.tsr-footer-icon-twitter { background: #2caae1; }
.tsr-com-social-buttons a.tsr-footer-icon-twitter:after { content: '\e001'; }
.tsr-com-social-buttons a.tsr-footer-icon-google { background: #e74b32; }
.tsr-com-social-buttons a.tsr-footer-icon-google:after { content: '\e66d'; }

/********************/
/* tsr-cbox-list */
.tsr-cbox-list {
  margin: -5px 0;
}
.tsr-cbox-list .tsr-cbox-item {
  vertical-align: top;
  display: -moz-inline-stack; /* fx2 */
  display: inline-block; /* fx3+, chrome4+, safari3+, opera9+, ie8+ */
  margin: 5px 0;
  margin-right: 40px;
}
@media screen and (max-width: 480px) {
.tsr-cbox-list .tsr-cbox-item { display: block; margin-right: 0; }
}

/********************/
/* tsr-phone-nums */
.tsr-phone-nums {
  font-size: 0;
  margin: -2px;
  overflow: hidden;
}
.tsr-phone-nums .tsr-phone-num {
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 22px;
  min-width: 42px;
  min-height: 42px;
  line-height: 40px;
  padding: 0 10px;
  margin: 2px;
  color: #333333;
  background: #ffffff;
  border: 1px solid #9d9d9d;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.tsr-phone-nums .tsr-phone-num.tsr-color-gray      { color: #333333; border: 1px solid #9d9d9d; }
.tsr-phone-nums .tsr-phone-num.tsr-color-blue      { color: #0083be; border: 1px solid #0083be; }
.tsr-phone-nums .tsr-phone-num.tsr-color-green     { color: #bed600; border: 1px solid #bed600; }
.tsr-phone-nums .tsr-phone-num.tsr-color-orange    { color: #ff6319; border: 1px solid #ff6319; }
.tsr-phone-nums .tsr-phone-num.tsr-color-pink      { color: #c41b79; border: 1px solid #c41b79; }
.tsr-phone-nums .tsr-phone-num.tsr-color-purple    { color: #642887; border: 1px solid #642887; }
.tsr-phone-nums .tsr-phone-num.tsr-color-turquoise { color: #00b48c; border: 1px solid #00b48c; }
.tsr-phone-nums .tsr-phone-num.tsr-color-yellow    { color: #f9dc00; border: 1px solid #f9dc00; }
.tsr-phone-nums .tsr-phone-num.tsr-phone-num-ok { min-width: 70px; }
.tsr-phone-nums .tsr-phone-num:first-child { margin-left: 0; }
@media screen and (max-width: 480px) {
.tsr-phone-nums { margin: -1px; }
.tsr-phone-nums .tsr-phone-num { min-width: 32px; min-height: 32px; margin: 1px; padding: 0 5px; line-height: 30px; font-size: 15px; }
.tsr-phone-nums .tsr-phone-num.tsr-phone-num-ok { min-width: 54px; }
}
@media screen and (max-width: 320px) {
.tsr-phone-nums .tsr-phone-num { min-width: 24px; min-height: 24px; margin: 1px; padding: 0 5px; line-height: 22px; font-size: 13px; }
.tsr-phone-nums .tsr-phone-num.tsr-phone-num-ok { min-width: 36px; }
}

/********************/
/* tsr-twocol */
.tsr-twocol { overflow: hidden; }
.tsr-twocol .tsr-twocol-grid {
  margin-left: -3%;
  margin-right: -3%;
}
.tsr-twocol .tsr-twocol-grid .tsr-twocol-cell {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  width: 44%;
  min-height: 1px;
  margin-left: 3%;
  margin-right: 3%;
}
@media screen and (max-width: 800px) {
.tsr-twocol .tsr-twocol-grid {
  margin-left: 0;
  margin-right: 0;
}
.tsr-twocol .tsr-twocol-grid .tsr-twocol-cell {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 1px;
  margin-left: 0;
  margin-right: 0;
}
}

/********************/
/* tsr-social-icons */
.tsr-social-icons {
  font-size: 0; line-height: 0;
}
.tsr-social-icons > a,
.tsr-social-icons > span {
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 15px; line-height: normal; white-space: normal;
  vertical-align: middle;
  margin-right: 10px;
  color: #ffffff;
}
.tsr-social-icons > a {
  height: 26px; width: 26px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #4e256b;
  text-align: center;
  margin-right: 6px;
}
.tsr-social-icons > a:hover,
.tsr-social-icons > a:active {
  text-decoration: none;
}
.tsr-social-icons > a:after {
  content: '\e02c';
  display: block;
  line-height: 26px;
  speak: none;
  font-size: 13px;
  font-weight: normal;
  font-variant: normal;
  font-family: 'ts-icons-all';
  text-transform: none;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tsr-social-icons a.tsr-footer-icon-facebook { background: #3b5998; }
.tsr-social-icons a.tsr-footer-icon-facebook:after { content: '\e002'; }
.tsr-social-icons a.tsr-footer-icon-youtube { background: #e31b2c; }
.tsr-social-icons a.tsr-footer-icon-youtube:after { content: '\e66c'; }
.tsr-social-icons a.tsr-footer-icon-twitter { background: #2caae1; }
.tsr-social-icons a.tsr-footer-icon-twitter:after { content: '\e001'; }
.tsr-social-icons a.tsr-footer-icon-google { background: #e74b32; }
.tsr-social-icons a.tsr-footer-icon-google:after { content: '\e66d'; }
.tsr-social-icons a.tsr-footer-icon-instagram { background: #2f689b; }
.tsr-social-icons a.tsr-footer-icon-instagram:after { content: '\e678'; }
.tsr-social-icons a.tsr-footer-icon-linkedin { background: #127bb7; }
.tsr-social-icons a.tsr-footer-icon-linkedin:after { content: '\e679'; }

/********************/
/* tsr-search-form */

.tsr-search-form {
  display: table;
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.tsr-search-form .tsr-search-form-a,
.tsr-search-form .tsr-search-form-b {
  display: table-cell;
  vertical-align: top;
  padding: 0;
}
.tsr-search-form .tsr-search-form-b {
  width: 0;
  padding-left: 10px;
}
@media screen and (max-width: 480px) {
.tsr-search-form { display: block; }
.tsr-search-form .tsr-search-form-a,
.tsr-search-form .tsr-search-form-b {
  display: block;
}
.tsr-search-form .tsr-search-form-b {
  width: auto;
  text-align: right;
  padding-top: 10px;
  padding-left: 0;
}


}



