/******************************************/
/* SECTION NEWS LISTING */
.tsr-section-news-listing {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.tsr-section-news-listing.tsr-color-shade                         { background: #f6f6f6; }
.tsr-section-news-listing.tsr-color-shade .tsr-module-news        { background: #f6f6f6; }
.tsr-section-news-listing.tsr-color-shade .tsr-module-news:hover  { background: #ffffff; }
.tsr-section-news-listing.tsr-color-shade .tsr-btn-view-all       { background: #f6f6f6; }
.tsr-section-news-listing.tsr-color-shade .tsr-btn-view-all:hover { background: #ffffff; }

.tsr-section-news-listing .tsr-btn-view-all {
  margin-bottom: -1px;
}

@media screen and (max-width: 1020px) {
.tsr-section-news-listing .tsr-boxgrid .tsr-boxcol-outer  { width: 50%; }
}
@media screen and (max-width: 800px) {
.tsr-section-news-listing .tsr-boxgrid .tsr-boxcol-outer  { width: 50%; }
}
@media screen and (max-width: 600px) {
.tsr-section-news-listing .tsr-boxgrid .tsr-boxcol-outer  { width: 100%; }
}
