/******************************************/
/* SECTION SLIDESHOW */
.tsr-section-slideshow {}

/********************/
/* slideshow */
.tsr-slideshow {
  position: relative;
}
.tsr-slideshow.tsr-loader {
  background: transparent url('../../tsr-sections/tsr-slideshow/tsr-slideshow-loader.gif') no-repeat center center;
}
.tsr-slideshow.tsr-loader .tsr-slideshow-nav,
.tsr-slideshow.tsr-loader .tsr-slideshow-stage {
  visibility: hidden;
}


/********************/
/* stage */
.tsr-slideshow .tsr-slideshow-stage {
  overflow: hidden;
  position: relative;
  width: 100%; height: 200px;
}

/********************/
/* slides */
.tsr-slideshow .tsr-slideshow-stage > ul {
  z-index: 0;
  list-style: none;
  position: relative;
  margin: 0; padding: 0;
  width: 100%; height: 100%;
}
.tsr-slideshow .tsr-slideshow-stage > ul > li {
  z-index: 0;
  overflow: hidden;
  left: 0; top: 0;
  position: absolute;
  width: 100%; height: 100%;
  background: transparent none no-repeat center center;
  background-size: cover;
}
.tsr-slideshow .tsr-slideshow-stage > ul > li:first-child {
  z-index: 1;
}

/********************/
/* stage inner */
.tsr-slideshow .tsr-slideshow-stage .tsr-whole-rel,
.tsr-slideshow .tsr-slideshow-stage .tsr-whole-abs {
  display: block;
  width: 100%; height: 100%;
}
.tsr-slideshow .tsr-slideshow-stage .tsr-whole-abs {
  left: 0; top: 0;
  position: absolute;
}

/********************/
/* control navigation */
.tsr-slideshow .tsr-slideshow-nav ul {
  list-style: none;
  margin: 0; padding: 25px 0;
  font-size: 0; line-height: 0;
  text-align: center;
}
.tsr-slideshow .tsr-slideshow-nav ul > li {
  cursor: pointer;
  overflow: hidden;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px; padding: 0;
  width: 12px; height: 12px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  background: #dbdbdb;
}
.tsr-slideshow .tsr-slideshow-nav ul > li:hover      { background: #858889; }
.tsr-slideshow .tsr-slideshow-nav ul > li.tsr-active { background: #642887; }

/********************/
/* direction navigation */
.tsr-slideshow .tsr-slideshow-prev,
.tsr-slideshow .tsr-slideshow-next {
  z-index: 10;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -55px;
  width: 110px; height: 110px;
  opacity: 0.00;
  -webkit-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.tsr-slideshow .tsr-slideshow-prev:after,
.tsr-slideshow .tsr-slideshow-next:after,
.tsr-slideshow .tsr-slideshow-prev:before,
.tsr-slideshow .tsr-slideshow-next:before {
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tsr-slideshow .tsr-slideshow-prev:after,
.tsr-slideshow .tsr-slideshow-next:after {
  content: '\e666';
  font-size: 110px;
  line-height: 110px;
  z-index: -1;
  left: 0; top: 0;
  position: absolute;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  color: #ffffff;
  opacity: 0.80;
}
.tsr-slideshow .tsr-slideshow-prev:before,
.tsr-slideshow .tsr-slideshow-next:before {
  content: '\e66a';
  font-size: 30px;
  line-height: 110px;
  display: -moz-inline-stack;
  display: inline-block;
  z-index: 20;
  position: relative;
  padding: 0 18px;
}
.tsr-slideshow .tsr-slideshow-prev:before { content: '\e66a'; }
.tsr-slideshow .tsr-slideshow-next:before { content: '\e668'; }

.tsr-slideshow .tsr-slideshow-prev { color: #642887; left:  -110px; text-align: right; }
.tsr-slideshow .tsr-slideshow-next { color: #642887; right: -110px; text-align:  left; }

.no-touch .tsr-slideshow:hover .tsr-slideshow-prev              { opacity: 1.00; left:  -55px; }
.no-touch .tsr-slideshow:hover .tsr-slideshow-next              { opacity: 1.00; right: -55px; }
.no-touch .tsr-slideshow       .tsr-slideshow-prev:hover        { opacity: 1.00; color: #ffffff; }
.no-touch .tsr-slideshow       .tsr-slideshow-next:hover        { opacity: 1.00; color: #ffffff; }
.no-touch .tsr-slideshow       .tsr-slideshow-prev:hover:after  { opacity: 1.00; color: #642887; }
.no-touch .tsr-slideshow       .tsr-slideshow-next:hover:after  { opacity: 1.00; color: #642887; }

.touch    .tsr-slideshow       .tsr-slideshow-prev              { opacity: 1.00; left:  -55px; }
.touch    .tsr-slideshow       .tsr-slideshow-next              { opacity: 1.00; right: -55px; }
.touch    .tsr-slideshow       .tsr-slideshow-prev:after        { opacity: 1.00; }
.touch    .tsr-slideshow       .tsr-slideshow-next:after        { opacity: 1.00; }
.touch    .tsr-slideshow       .tsr-slideshow-prev:active       { opacity: 1.00; color: #ffffff; }
.touch    .tsr-slideshow       .tsr-slideshow-next:active       { opacity: 1.00; color: #ffffff; }
.touch    .tsr-slideshow       .tsr-slideshow-prev:active:after { opacity: 1.00; color: #642887; }
.touch    .tsr-slideshow       .tsr-slideshow-next:active:after { opacity: 1.00; color: #642887; }

@media screen and (max-width: 800px) {

.tsr-slideshow .tsr-slideshow-prev,
.tsr-slideshow .tsr-slideshow-next {
  width: 80px; height: 80px;
  margin-top: -40px;
}
.tsr-slideshow .tsr-slideshow-prev:after,
.tsr-slideshow .tsr-slideshow-next:after {
  font-size: 80px; line-height: 80px;
}
.tsr-slideshow .tsr-slideshow-prev:before,
.tsr-slideshow .tsr-slideshow-next:before {
  font-size: 24px; line-height: 80px;
  padding: 0 12px;
}
          .tsr-slideshow       .tsr-slideshow-prev { left:  -40px; }
          .tsr-slideshow       .tsr-slideshow-next { right: -40px; }
.no-touch .tsr-slideshow:hover .tsr-slideshow-prev { left:  -40px; }
.no-touch .tsr-slideshow:hover .tsr-slideshow-next { right: -40px; }
.touch    .tsr-slideshow       .tsr-slideshow-prev { left:  -40px; }
.touch    .tsr-slideshow       .tsr-slideshow-next { right: -40px; }

}

/* IE 8 */
.ie8 .tsr-slideshow .tsr-slideshow-prev,
.ie8 .tsr-slideshow .tsr-slideshow-next {
  width: 80px; height: 80px;
  margin-top: -40px;
}
.ie8 .tsr-slideshow .tsr-slideshow-prev:after,
.ie8 .tsr-slideshow .tsr-slideshow-next:after {
  display: none;
}
.ie8 .tsr-slideshow .tsr-slideshow-prev:before,
.ie8 .tsr-slideshow .tsr-slideshow-next:before {
  font-size: 30px; line-height: 80px;
  padding: 0 12px;
}
.ie8 .tsr-slideshow:hover .tsr-slideshow-prev { left:  -30px; }
.ie8 .tsr-slideshow:hover .tsr-slideshow-next { right: -30px; }
.ie8 .tsr-slideshow       .tsr-slideshow-prev { background: #FFFFFF; }
.ie8 .tsr-slideshow       .tsr-slideshow-next { background: #FFFFFF; }
.ie8 .tsr-slideshow       .tsr-slideshow-prev:hover { background: #642887; color: #FFFFFF; }
.ie8 .tsr-slideshow       .tsr-slideshow-next:hover { background: #642887; color: #FFFFFF; }


/********************/
/* slideshow types */

/* 40x10 */
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-stage {
  width: 100%; height: 0;
  padding-bottom: 25.00000%;
}
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-stage > ul {
  position: absolute;
}
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-image {
  left: 50%; top: 0;
  position: absolute;
  width: 300%; height: 100%;
  margin-left: -150%;
  text-align: center;
}
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-image img {
  position: static;
  height: 100%;
}
@media screen and (min-width: 1920px) {
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-stage { padding-bottom: 480px; }
}
@media screen and (max-width: 800px) {
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-stage { padding-bottom: 200px; }
.tsr-slideshow.tsr-slideshow-40x10 .tsr-slideshow-image { width: 800px; margin-left: -400px; }
}

/* 30x10 */
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-stage {
  width: 100%; height: 0;
  padding-bottom: 33.33333%;
}
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-stage > ul {
  position: absolute;
}
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-image {
  left: 50%; top: 0;
  position: absolute;
  width: 300%; height: 100%;
  margin-left: -150%;
  text-align: center;
}
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-image img {
  position: static;
  height: 100%;
}
@media screen and (min-width: 1920px) {
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-stage { padding-bottom: 640px; }
}
@media screen and (max-width: 600px) {
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-stage { padding-bottom: 200px; }
.tsr-slideshow.tsr-slideshow-30x10 .tsr-slideshow-image { width: 600px; margin-left: -300px; }
}
