/********************/
/* footer global */

.tsr-section-footer .tsr-footer-global {
  padding: 40px 0px;
}
.tsr-section-footer .tsr-footer-copyright {
  float: right;
}
.tsr-section-footer .tsr-footer-social {
  float: left;
}

/********************/
/* footer button toTop */

.tsr-section-footer .tsr-btn-toTop {
  display: none;
  text-align: center;
  background: #431f5d;
  padding: 15px;
}
.tsr-section-footer .tsr-btn-toTop:before {
  content: '\e66b';
  display: block;
  speak: none;
  line-height: 1;
  font-family: 'ts-icons-all';
  font-size: 18px;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  margin-bottom: 4px;
  color: #ffffff;
}
.tsr-section-footer .tsr-btn-toTop:hover,
.tsr-section-footer .tsr-btn-toTop:active {
  background: #73369e;
  text-decoration: none;
}

/********************/
/* footer button beGeocell */
.tsr-btn-beGeocell {
  z-index: 21;
  display: block;
  position: fixed;
  bottom: 8px; right: 8px;
}
.tsr-btn-beGeocell img {
  width: 50px;
}

/********************/
@media screen and (max-width: 800px) {

/********************/
/* footer global  */
.tsr-section-footer .tsr-footer-global {
  padding: 10px 15px;
}
.tsr-section-footer .tsr-footer-copyright {
  float: none;
  padding: 10px 0;
}
.tsr-section-footer .tsr-footer-social {
  float: none;
  padding: 10px 0;
}
.tsr-section-footer .tsr-btn-toTop {
  display: block;
}

}
