/********************/
/* footer nav trigger */
.tsr-section-footer .tsr-footer-nav-trigger  {
  padding: 8px 0;
  cursor: pointer;
  font-size: 44px;
  line-height: 1;
  text-align: center;
  color: #ffffff;
  background-color: #431f5d;
  border-bottom: 1px solid #431f5d;
}
.tsr-section-footer .tsr-footer-nav-trigger:hover,
.tsr-section-footer .tsr-footer-nav-trigger:active {
  background: #73369e;
  text-decoration: none;
}

/********************/
/* footer nav */
.tsr-section-footer .tsr-footer-nav {
  background: #4e256b;
}

.tsr-section-footer .tsr-footer-nav ul,
.tsr-section-footer .tsr-footer-nav li {
  list-style: none;
  margin: 0; padding: 0;
}

/********************/
/* footer nav level 1 */
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 {
  padding-top: 20px;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul {
  margin-left: -4%;
  font-size: 0; line-height: 0;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  font-size: 15px; line-height: normal;
  width: 21.0%;
  margin-left: 4%;
  margin-bottom: 40px;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li > a {
  display: block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #371b4c;
  font-weight: bold;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li > a:hover {
  text-decoration: underline;
}

/********************/
/* footer nav level 2 */
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul {}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li {
  margin-top: 8px;
  font-size: 15px;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li > a {}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li > a:hover {
  text-decoration: underline;
}

/********************/
@media screen and (max-width: 800px) {

/* footer nav */
.tsr-section-footer .tsr-footer-nav {}

.tsr-section-footer .tsr-footer-nav ul,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul,
.tsr-section-footer .tsr-footer-nav li,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li {
  list-style: none;
  display: list-item;
  margin: 0; padding: 0;
  font-size: 15px;
  line-height: normal;
  width: auto; height: auto;
}

.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li {
  margin-top: -1px;
}

.tsr-section-footer .tsr-footer-nav a,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li a,
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li a {
  display: block;
  margin: 0; padding: 10px 15px;
  font-weight: normal;
  border-top: 1px solid #371b4c;
  border-bottom: 1px solid #371b4c;
}

.tsr-section-footer .tsr-footer-nav a:before,
.tsr-section-footer .tsr-footer-nav [class*='tsr-nav-level-'] > ul > li a:before {
  content: '\e66b';
  display: block;
  font-family: 'ts-icons-all';
  font-size: 17px;
  font-weight: normal;
  font-variant: normal;
  text-align: center;
  position: absolute;
  color: white;
  line-height: 1;
  left: auto; bottom: auto;
  right: 10px; top: 50%;
  margin-top: -8px;
}
.tsr-section-footer .tsr-footer-nav a:before { content: ''; }
.tsr-section-footer .tsr-footer-nav [class*='tsr-nav-level-'] > ul > li > a:before { content: ''; }
.tsr-section-footer .tsr-footer-nav [class*='tsr-nav-level-'] > ul > li.has-sub > a:before { content: '\e669'; }
.tsr-section-footer .tsr-footer-nav [class*='tsr-nav-level-'] > ul > li.has-sub.is-expanded > a:before { content: '\e66b'; }

/********************/
/* footer nav level 1 */
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 { padding: 0; }
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul {}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li {}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li > a {
  color: #ffffff;
  background: #642887;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-01 > ul > li > a:hover {
  background: #73369e;
  text-decoration: none;
}

/********************/
/* footer nav level 2 */
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 { display: none;  }
.tsr-section-footer .tsr-footer-nav li.is-expanded > .tsr-nav-level-02 { display: block; }
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul {}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li {}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li > a {
  color: #ffffff;
  background: #4e256b;
}
.tsr-section-footer .tsr-footer-nav .tsr-nav-level-02 > ul > li > a:hover {
  background: #73369e;
  text-decoration: none
}

}
