/******************************************/
/* SECTION FOOTER */
.tsr-section-footer {
  color: #ffffff;
  background: #4e256b;
  margin-top: -1px;
  border-top: 1px solid #4e256b;
}

.tsr-section-footer a {
  color: #ffffff;
  text-decoration: none;
}
.tsr-section-footer a:active,
.tsr-section-footer a:hover,
.tsr-section-footer a:focus {
  color: #ffffff;
  text-decoration: none;
}

.tsr-section-footer ul,
.tsr-section-footer li {
  list-style: none;
  margin: 0; padding: 0;
}
