@font-face {
  font-family: 'Icons';
  src: url('webicons.eot');
  src: url('webicons.eot?#iefix') format('embedded-opentype'),
       url('webicons.woff2') format('woff2'),
       url('webicons.woff') format('woff'),
       url('webicons.ttf') format('truetype'),
       url('webicons.svg#web_iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Usage <span data-icon="&#xF000;"></span> */
[data-icon] {
  display: -moz-inline-stack;
  display: inline-block;
  line-height: 1;
}
[data-icon]:before {
  content: attr(data-icon);
  vertical-align: top;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
