/******************************************/
/* MODULE METIPACKS */
.tsr-module-metipack,
.tsr-module-metipack-present {
  display: block;
  position: relative;
  font-size: 15px;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}
.tsr-module-metipack-present {
  padding: 30px 20px 30px;
  border: 1px solid #dbdbdb;
  max-width: 320px;
}
.tsr-module-metipack {
  cursor: pointer;
  text-decoration: none;
  padding: 30px 20px 70px;
}
.tsr-module-metipack:hover,
.tsr-module-metipack:focus,
.tsr-module-metipack:active,
.tsr-module-metipacks .tsr-boxcol-inner:hover .tsr-module-metipack {
  color: #ffffff;
  background: #0083be;
  text-decoration: none;
}
.tsr-module-metipack-normal {
  padding: 30px 20px 30px;
}

/********************/
/* image */
.tsr-module-metipack         .tsr-module-metipack-image,
.tsr-module-metipack-present .tsr-module-metipack-image {
  display: block;
  position: relative;
  margin-bottom: 10px;
  background: transparent none no-repeat left top;
}
.tsr-module-metipack:hover  .tsr-module-metipack-image,
.tsr-module-metipack:focus  .tsr-module-metipack-image,
.tsr-module-metipack:active .tsr-module-metipack-image,
.tsr-module-metipacks .tsr-boxcol-inner:hover .tsr-module-metipack .tsr-module-metipack-image {
  background-position: left bottom;
}
.tsr-module-metipack         .tsr-module-metipack-image-40,
.tsr-module-metipack-present .tsr-module-metipack-image-40 {
  height: 40px;
}

/********************/
/* desc-table */
.tsr-module-metipack         table.tsr-module-metipack-table,
.tsr-module-metipack-present table.tsr-module-metipack-table {
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-module-metipack         table.tsr-module-metipack-table td,
.tsr-module-metipack-present table.tsr-module-metipack-table td {
  min-width: 80px;
  vertical-align: top;
  padding: 2px 0;
}
.tsr-module-metipack         table.tsr-module-metipack-table td:first-child,
.tsr-module-metipack-present table.tsr-module-metipack-table td:first-child {
  padding-right: 40px;
  font-weight: bold;
  color: #0083be;
}
.tsr-module-metipack:hover  table.tsr-module-metipack-table td:first-child,
.tsr-module-metipack:focus  table.tsr-module-metipack-table td:first-child,
.tsr-module-metipack:active table.tsr-module-metipack-table td:first-child,
.tsr-module-metipacks .tsr-boxcol-inner:hover .tsr-module-metipack table.tsr-module-metipack-table td:first-child {
  color: #ffffff;
}

/********************/
/* tactical elements */
.tsr-module-metipack         .tsr-tactical-ribbon,
.tsr-module-metipack-present .tsr-tactical-ribbon {
  display: block;
  position: absolute;
  left: -10px; top: -10px;
}

/********************/
/* btn */
.tsr-module-metipacks .tsr-module-metipack-btn {
  position: absolute;
  left: 20px; bottom: 20px;
}

/********************/
/* grid */
.tsr-module-metipacks .tsr-boxgrid .tsr-boxcol-outer { width:  25.00000%; }


/********************/
@media screen and (max-width: 1260px) {

.tsr-module-metipacks .tsr-boxgrid .tsr-boxcol-outer { width:  50.00000%; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-module-metipack          { padding: 20px 20px 70px; }
.tsr-module-metipack-present  { padding: 20px 20px 20px; }

.tsr-module-metipack         .tsr-tactical-ribbon,
.tsr-module-metipack-present .tsr-tactical-ribbon {
  display: none;
}

}

/********************/
@media screen and (max-width: 600px) {

.tsr-module-metipacks .tsr-boxgrid .tsr-boxcol-outer { width: 100.00000%; }

}
