/******************************************/
/* FAQ */
.tsr-section-faq-listing {
  margin-bottom: 30px;
}

.tsr-module-faq {
  margin-bottom: 30px;
}

.tsr-module-faq .tsr-module-faq-question {
  z-index: 1;
  display: block;
  position: relative;
  font-size: 18px;
  text-align: left;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background: #0083be;
  text-decoration: none;
}
.tsr-module-faq .tsr-module-faq-question:hover {
  color: #ffffff;
  background: #0083be;
  text-decoration: none;
}
.tsr-module-faq .tsr-module-faq-question:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: -15px; left: 20px;
  width: 0px; height: 0px;
  border-top: 0 solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #0083be;
}

.tsr-module-faq .tsr-module-faq-answer.is-hidden {
  display: none;
}

.tsr-module-faq .tsr-module-faq-question .tsr-module-faq-pad {
  display: block;
  padding: 15px 20px;
}
.tsr-module-faq .tsr-module-faq-answer .tsr-module-faq-pad {
  display: block;
  padding: 30px 20px 0px;
}

/********************/

@media screen and (max-width: 800px) {

.tsr-section-faq-listing {
  padding: 0 15px;
}

}
