/******************************************/
/* CUSTOM BLOCKS */

/********************/
/* tsr-custom-preorder */
.tsr-custom-preorder {
  width: 100%;
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-custom-preorder .tsr-custom-preorder-lt,
.tsr-custom-preorder .tsr-custom-preorder-rt {
  display: table-cell;
  vertical-align: top;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.tsr-custom-preorder .tsr-custom-preorder-lt { width: 840px; padding-right: 80px; }
.tsr-custom-preorder .tsr-custom-preorder-rt { width: auto; }
@media screen and (max-width: 1280px) {
.tsr-custom-preorder .tsr-custom-preorder-lt { width: auto;  padding-right: 60px; }
.tsr-custom-preorder .tsr-custom-preorder-rt { width: 320px; }
}
@media screen and (max-width: 760px) {
.tsr-custom-preorder { display: block; width: auto; }
.tsr-custom-preorder .tsr-custom-preorder-lt { display: block; padding-right: 0; margin-bottom: 20px; }
.tsr-custom-preorder .tsr-custom-preorder-rt { display: block; width: auto; }
}
