/******************************************/
/* MODULE IPACKSTB */
.tsr-module-ipackstb {}

.tsr-module-ipackstb .tsr-module-ipackstb-desktop { display: block; }
.tsr-module-ipackstb .tsr-module-ipackstb-mobile  { display: none; }

.tsr-module-ipackstb .tsr-module-ipackstb-mobile .tsr-module-ipackstb-mobile-pad {
  padding: 20px;
  text-align: center;
}

/********************/
@media screen and (max-width: 959px) {

.tsr-module-ipackstb .tsr-module-ipackstb-desktop { display: none; }
.tsr-module-ipackstb .tsr-module-ipackstb-mobile  { display: block; }

}

/********************/
@media screen and (max-width: 1020px) {

.tsr-module-ipackstb .tsr-module-ipackstb-mobile .tsr-boxgrid .tsr-boxcol-outer { width:  25.00000%; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-module-ipackstb .tsr-module-ipackstb-mobile .tsr-boxgrid .tsr-boxcol-outer { width:  33.33333%; }

}

/********************/
@media screen and (max-width: 600px) {

.tsr-module-ipackstb .tsr-module-ipackstb-mobile .tsr-boxgrid .tsr-boxcol-outer { width:  50.00000%; }

}

/********************/
@media screen and (max-width: 480px) {

.tsr-module-ipackstb .tsr-module-ipackstb-mobile .tsr-boxgrid .tsr-boxcol-outer { width: 100.00000%; }

.tsr-module-ipackstb .tsr-module-ipackstb-mobile .tsr-module-ipackstb-mobile-pad {
  padding: 15px 10px;
}

}
