/******************************************/
/* SECTION HERO */
.tsr-section-hero {
  z-index: 0;
  clear: both;
  position: relative;
  border-top: 1px solid #dbdbdb;
}

/********************/
/* hero */
.tsr-hero {
  position: relative;
}
.tsr-hero .tsr-hero-nav,
.tsr-hero .tsr-hero-dirs,
.tsr-hero .tsr-hero-stage {
  visibility: hidden;
}
.tsr-hero.tsr-initialized .tsr-hero-nav,
.tsr-hero.tsr-initialized .tsr-hero-dirs,
.tsr-hero.tsr-initialized .tsr-hero-stage {
  visibility: visible;
}
.tsr-hero.tsr-loader {
  background: transparent url('../../tsr-sections/tsr-hero/tsr-hero-loader.gif') no-repeat center center;
}
.tsr-hero.tsr-loader .tsr-hero-nav,
.tsr-hero.tsr-loader .tsr-hero-dirs,
.tsr-hero.tsr-loader .tsr-hero-stage {
  visibility: hidden;
}


/********************/
/* stage */
.tsr-hero .tsr-hero-stage {
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 72px;
}

/********************/
/* slides */
.tsr-hero .tsr-hero-stage .tsr-slides {
  z-index: 0;
  list-style: none;
  position: relative;
  margin: 0; padding: 0;
  width: 100%; height: 480px;
  background: #f6f6f6;
}
.tsr-hero .tsr-hero-stage .tsr-slide {
  z-index: 0;
  left: 0; top: 0;
  overflow: hidden;
  position: absolute;
  width: 100%; height: 100%;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
  text-decoration: none;
}
.tsr-hero .tsr-hero-stage .tsr-slide:first-child {
  z-index: 1;
}

/********************/
/* control navigation */
.tsr-hero .tsr-hero-nav {
  margin-top: -72px;
}
.tsr-hero .tsr-hero-nav ul {
  list-style: none;
  margin: 0; padding: 25px 0;
  font-size: 0; line-height: 0;
  text-align: center;
}
.tsr-hero .tsr-hero-nav ul > li {
  cursor: pointer;
  overflow: hidden;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 5px; padding: 0;
  width: 12px; height: 12px;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  background: #dbdbdb;
}
.tsr-hero .tsr-hero-nav ul > li:hover      { background: #858889; }
.tsr-hero .tsr-hero-nav ul > li.tsr-active { background: #642887; }
body.tsr-body-b2b .tsr-hero .tsr-hero-nav ul > li.tsr-active { background: #4e256b; }


/********************/
/* direction navigation */
.tsr-hero .tsr-hero-dirs {
  z-index: 10;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  margin-top: 1000px;
}
.tsr-hero .tsr-hero-prev,
.tsr-hero .tsr-hero-next {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -1055px;
  width: 110px; height: 110px;
  opacity: 0.00;
  -webkit-border-radius: 200px;
     -moz-border-radius: 200px;
          border-radius: 200px;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
          transition: all .3s ease;
}
.tsr-hero .tsr-hero-prev:after,
.tsr-hero .tsr-hero-next:after,
.tsr-hero .tsr-hero-prev:before,
.tsr-hero .tsr-hero-next:before {
  font-family: 'ts-icons-all';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.tsr-hero .tsr-hero-prev:after,
.tsr-hero .tsr-hero-next:after {
  content: '\e666';
  font-size: 110px;
  line-height: 110px;
  z-index: -1;
  left: 0; top: 0;
  position: absolute;
  -webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
          transition: all .3s ease;
  color: #ffffff;
  opacity: 0.80;
}
.tsr-hero .tsr-hero-prev:before,
.tsr-hero .tsr-hero-next:before {
  content: '\e66a';
  font-size: 30px;
  line-height: 110px;
  display: -moz-inline-stack;
  display: inline-block;
  z-index: 20;
  position: relative;
  padding: 0 18px;
}
.tsr-hero .tsr-hero-prev:before { content: '\e66a'; }
.tsr-hero .tsr-hero-next:before { content: '\e668'; }

.tsr-hero .tsr-hero-prev { color: #642887; left:  -110px; text-align: right; } body.tsr-body-b2b .tsr-hero .tsr-hero-prev { color: #4e256b; }
.tsr-hero .tsr-hero-next { color: #642887; right: -110px; text-align:  left; } body.tsr-body-b2b .tsr-hero .tsr-hero-next { color: #4e256b; }

.no-touch .tsr-hero:hover .tsr-hero-prev              { opacity: 1.00; left:  -55px; }
.no-touch .tsr-hero:hover .tsr-hero-next              { opacity: 1.00; right: -55px; }
.no-touch .tsr-hero       .tsr-hero-prev:hover        { opacity: 1.00; color: #ffffff; }
.no-touch .tsr-hero       .tsr-hero-next:hover        { opacity: 1.00; color: #ffffff; }
.no-touch .tsr-hero       .tsr-hero-prev:hover:after  { opacity: 1.00; color: #642887; } .no-touch body.tsr-body-b2b .tsr-hero .tsr-hero-prev:hover:after { color: #4e256b; }
.no-touch .tsr-hero       .tsr-hero-next:hover:after  { opacity: 1.00; color: #642887; } .no-touch body.tsr-body-b2b .tsr-hero .tsr-hero-prev:hover:after { color: #4e256b; }

.touch    .tsr-hero       .tsr-hero-prev              { opacity: 1.00; left:  -55px; }
.touch    .tsr-hero       .tsr-hero-next              { opacity: 1.00; right: -55px; }
.touch    .tsr-hero       .tsr-hero-prev:after        { opacity: 1.00; }
.touch    .tsr-hero       .tsr-hero-next:after        { opacity: 1.00; }
.touch    .tsr-hero       .tsr-hero-prev:active       { opacity: 1.00; color: #ffffff; }
.touch    .tsr-hero       .tsr-hero-next:active       { opacity: 1.00; color: #ffffff; }
.touch    .tsr-hero       .tsr-hero-prev:active:after { opacity: 1.00; color: #642887; } .touch body.tsr-body-b2b .tsr-hero .tsr-hero-prev:hover:after { color: #4e256b; }
.touch    .tsr-hero       .tsr-hero-next:active:after { opacity: 1.00; color: #642887; } .touch body.tsr-body-b2b .tsr-hero .tsr-hero-next:hover:after { color: #4e256b; }

/********************/
/* slide elements */

.tsr-hero .tsr-hero-showical {
  left: 0; top: 0;
  position: absolute;
  width: 100%; height: 100%;
  background: transparent none no-repeat scroll center center;
  -webkit-background-size: auto 100%;
     -moz-background-size: auto 100%;
       -o-background-size: auto 100%;
          background-size: auto 100%;
}
.tsr-hero .tsr-hero-promocal {
  left: 0; top: 0;
  position: absolute;
  width: 100%; height: 100%;
}
.tsr-hero .tsr-hero-tactical {
  margin: 0 auto;
  position: relative;
  width: 940px; height: 100%;
}

.tsr-hero .tsr-hero-promocal .tsr-container {
  margin: 0 auto;
  position: relative;
  height: 100%;
}

.tsr-hero .tsr-hero-tactical .tsr-tactical-soarPanel {
  position: absolute;
  display: block;
}
.tsr-hero .tsr-hero-promocal .tsr-tactical-textPanel {
  display: block;
  z-index: 1;
  left: 0; bottom: 0;
  position: absolute;
  color: #642887;
  text-align: left;
  color: #ffffff;
  background: #642887;
  padding: 20px 40px 20px 0;
  -webkit-border-top-right-radius: 30px;
     -moz-border-top-right-radius: 30px;
          border-top-right-radius: 30px;
}
body.tsr-body-b2b .tsr-hero .tsr-hero-promocal .tsr-tactical-textPanel {
  background: #4e256b;
}
.tsr-hero .tsr-hero-promocal .tsr-tactical-textPanel:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  right: 100%; top: 0;
  width: 1000%; height: 100%;
  margin-right: -2px;
  background: inherit;
}
.tsr-hero .tsr-hero-promocal .tsr-header,
.tsr-hero .tsr-hero-tactical .tsr-header {
  display: block;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 32px;
}
.tsr-hero .tsr-hero-promocal .tsr-text,
.tsr-hero .tsr-hero-tactical .tsr-text {
  display: block;
  margin-top: 2px;
  font-size: 20px;
}

/********************/
@media screen and (max-width: 1020px) {

.tsr-hero .tsr-hero-stage .tsr-slides {
  height: 0;
  padding-top: 48%;
}

.tsr-hero .tsr-hero-tactical {
  display: none;
}
.tsr-hero .tsr-hero-promocal .tsr-tactical-textPanel {
  padding: 20px 30px 20px 0;
  -webkit-border-top-right-radius: 20px;
     -moz-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
}
.tsr-hero .tsr-hero-promocal .tsr-header,
.tsr-hero .tsr-hero-tactical .tsr-header {
  font-size: 24px;
}
.tsr-hero .tsr-hero-promocal .tsr-text,
.tsr-hero .tsr-hero-tactical .tsr-text {
  font-size: 16px;
}

}

/********************/
@media screen and (max-width: 800px) {

.tsr-hero .tsr-hero-stage .tsr-slides {
  z-index: 0;
  height: 160px;
  padding-top: 48%;
}

.tsr-hero .tsr-hero-showical {
  position: relative;
  height: 0;
  padding-top: 48%;
}
.tsr-hero .tsr-hero-promocal {
  position: relative;
  height: auto;
}
.tsr-hero .tsr-hero-tactical {
  display: none;
}
.tsr-hero .tsr-hero-promocal .tsr-tactical-textPanel {
  position: static;
  text-align: center;
  color: #642887;
  background: none;
  padding: 20px 15px;
  -webkit-border-top-right-radius: 0;
     -moz-border-top-right-radius: 0;
          border-top-right-radius: 0;
}
body.tsr-body-b2b .tsr-hero .tsr-hero-promocal .tsr-tactical-textPanel {
  background: none;
}
.tsr-hero .tsr-hero-promocal .tsr-header,
.tsr-hero .tsr-hero-tactical .tsr-header {
  font-size: 28px;
  font-weight: normal;
}
.tsr-hero .tsr-hero-promocal .tsr-text,
.tsr-hero .tsr-hero-tactical .tsr-text {
  font-size: 18px;
}

.tsr-hero .tsr-hero-dirs {
  height: 0;
  padding-top: 48%;
}
.tsr-hero .tsr-hero-prev,
.tsr-hero .tsr-hero-next {
  width: 80px; height: 80px;
  top: 50%;
  margin-top: -1040px;
}
.tsr-hero .tsr-hero-prev:after,
.tsr-hero .tsr-hero-next:after {
  font-size: 80px; line-height: 80px;
}
.tsr-hero .tsr-hero-prev:before,
.tsr-hero .tsr-hero-next:before {
  font-size: 24px; line-height: 80px;
  padding: 0 12px;
}
          .tsr-hero       .tsr-hero-prev { left:  -40px; }
          .tsr-hero       .tsr-hero-next { right: -40px; }
.no-touch .tsr-hero:hover .tsr-hero-prev { left:  -40px; }
.no-touch .tsr-hero:hover .tsr-hero-next { right: -40px; }
.touch    .tsr-hero       .tsr-hero-prev { left:  -40px; }
.touch    .tsr-hero       .tsr-hero-next { right: -40px; }

}

@media screen and (max-width: 640px) {
.tsr-hero .tsr-hero-stage .tsr-slides {
  height: 160px;
  padding-top: 62.5%;
}

.tsr-hero .tsr-hero-showical {
  padding-top: 62.5%;
}

.tsr-hero .tsr-hero-dirs {
  padding-top: 62.5%;
}
}

/* IE 8 */
.ie8 .tsr-hero .tsr-hero-prev,
.ie8 .tsr-hero .tsr-hero-next {
  width: 80px; height: 80px;
  margin-top: -40px;
}
.ie8 .tsr-hero .tsr-hero-prev:after,
.ie8 .tsr-hero .tsr-hero-next:after {
  display: none;
}
.ie8 .tsr-hero .tsr-hero-prev:before,
.ie8 .tsr-hero .tsr-hero-next:before {
  font-size: 30px; line-height: 80px;
  padding: 0 12px;
}
.ie8 .tsr-hero:hover .tsr-hero-prev { left:  -30px; }
.ie8 .tsr-hero:hover .tsr-hero-next { right: -30px; }
.ie8 .tsr-hero       .tsr-hero-prev { background: #FFFFFF; }
.ie8 .tsr-hero       .tsr-hero-next { background: #FFFFFF; }
.ie8 .tsr-hero       .tsr-hero-prev:hover { background: #642887; color: #FFFFFF; }
.ie8 .tsr-hero       .tsr-hero-next:hover { background: #642887; color: #FFFFFF; }
.ie8 body.tsr-body-b2b .tsr-hero .tsr-hero-prev { background: #4e256b; }
.ie8 body.tsr-body-b2b .tsr-hero .tsr-hero-next { background: #4e256b; }

