/******************************************/
/* SECTION MAGAZINE LISTING */
.tsr-section-magazine-listing .tsr-grid {
  font-size: 0;
}
.tsr-section-magazine-listing .tsr-grid [class*='tsr-col-'] {
  float: none;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

/********************/
@media screen and (max-width: 1020px) {
.tsr-section-magazine-listing { padding: 0 15px; }
}
