/******************************************/
/* CART */

.tsr-section-cart {}

/********************/
/* tsr-shopcart */
.tsr-section-cart .tsr-shopcart {
  border-bottom: 3px solid #622785;
}
.tsr-section-cart .tsr-shopcart-table {
  width: 100%;
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row { display: table-row; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row             .tsr-shopcart-col { display: table-cell; vertical-align: top; padding: 30px 0; border-top: 1px solid #dbdbdb; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row:first-child .tsr-shopcart-col { border-top: 0 none; }

.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-xprod { width:  auto; padding-right: 20px; text-align:   left; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-quant { width:  80px; padding-left:  20px; text-align:  right; white-space: nowrap; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-xicon { width:  20px; padding-left:  20px; text-align: center; white-space: nowrap; line-height: 41px; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-price { width:   1px; padding-left:  20px; text-align:  right; white-space: nowrap; line-height: 41px; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-clear { display: none; }

.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-quant-ex { width: 1px; padding-left: 20px; text-align:  right; white-space: nowrap; line-height: 1.6; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-price-ex { width: 1px; padding-left: 40px; text-align:  right; white-space: nowrap; line-height: 1.6; }

/********************/
/* tsr-shopcart elements */
.tsr-section-cart .tsr-shopcart-image { float: left; width: 84px; }
.tsr-section-cart .tsr-shopcart-image a { display: block; text-decoration: none; color: #333333; }
.tsr-section-cart .tsr-shopcart-image a:hover { text-decoration: none; color: #333333; }
.tsr-section-cart .tsr-shopcart-image img { width: 100%; }
.tsr-section-cart .tsr-shopcart-outstock .tsr-shopcart-image {
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)'; /* ie8 */
  filter: alpha(opacity=50); /* ie5-ie7 */
  -moz-opacity: 0.5; /* fx1+ */
  opacity: 0.5; /* fx2+, chrome4+, safari3.1+, opera10.1+, ie9+ */
}

.tsr-section-cart .tsr-shopcart-desc { padding-left: 105px; }

.tsr-section-cart .tsr-shopcart-title { font-size: 22px; }
.tsr-section-cart .tsr-shopcart-title a { display: block; text-decoration: none; color: #333333; }
.tsr-section-cart .tsr-shopcart-title a:hover { text-decoration: none; color: #333333; }
.tsr-section-cart .tsr-shopcart-color {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: baseline;
  overflow: hidden;
  margin: 0 5px; padding: 0;
  width: 15px; height: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}

.tsr-section-cart .tsr-shopcart-grand { font-size: 24px; font-weight: bold; color: #0083be; }
.tsr-section-cart .tsr-shopcart-remove { margin-top: 12px; }
.tsr-section-cart .tsr-shopcart-infoicon { font-size: 18px; color: #feae00; vertical-align: middle; text-decoration: none; }
.tsr-section-cart .tsr-shopcart-infoicon:hover { color: #feae00; text-decoration: none; }
.tsr-section-cart .tsr-shopcart-infoprice { font-weight: bold; color: #0083be; }


.tsr-section-cart .tsr-shopcart-sideres {
  float: right;
  min-width: 40%;
  padding-bottom: 30px;
  border-bottom: 1px solid #dbdbdb;
}


/********************/

@media screen and (max-width: 800px) {

.tsr-section-cart {
  padding: 0 15px;
}

/********************/
/* tsr-shopcart */
.tsr-section-cart .tsr-shopcart-table {
  width: auto;
  display: block;
}
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row { display: block; padding: 30px 0; border-top: 1px solid #dbdbdb; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row:first-child { border-top: 0 none; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row             .tsr-shopcart-col { display: block; vertical-align: top; padding: 0; border-top: 0 none; }

.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-xprod { width:  auto; padding-right: 0px; padding-bottom: 20px; text-align:   left; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-quant { float: left;  width: 80px; padding: 0px 20px 0px 0px; text-align: left; white-space: nowrap; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-xicon { float: right; width: 20px; padding: 0px  0px 0px 0px; text-align: left; white-space: nowrap; line-height: 41px; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-price { float: left;  width: auto; padding: 0px 20px 0px 0px; text-align: left; white-space: nowrap; line-height: 41px; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-clear {
  clear: both;
  float: none;
  height: 0; width: 0;
  margin: 0; padding: 0;
  font: 0/0; /* opera */
  overflow: hidden;
  visibility: hidden; /* fx */
  line-height: 0;
}

.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-quant-ex { float: left; width: auto; padding: 0px 20px 0px 0px; text-align: left; white-space: nowrap; line-height: normal; }
.tsr-section-cart .tsr-shopcart-table .tsr-shopcart-row .tsr-shopcart-col-price-ex { float: left; width: auto; padding: 0px 20px 0px 0px; text-align: left; white-space: nowrap; line-height: normal; }

}



/********************/

@media screen and (max-width: 480px) {

/********************/
/* tsr-shopcart elements */
.tsr-section-cart .tsr-shopcart-image { float: none; width: 140px; margin-bottom: 20px; }
.tsr-section-cart .tsr-shopcart-desc { padding-left: 0px; }
.tsr-section-cart .tsr-shopcart-title { font-size: 18px; }
.tsr-section-cart .tsr-shopcart-color { width: 11px; height: 11px; }
.tsr-section-cart .tsr-shopcart-grand { font-size: 20px; }

}

