/******************************************/
/* MODULE IPACKSDC */
.tsr-module-ipacksdc {}

.tsr-module-ipacksdc .tsr-module-ipacksdc-item {
  display: block;
  position: relative;
  padding: 15px;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}

.tsr-module-ipacksdc-xinfo { display: none; margin-top: 10px; }

.tsr-module-ipacksdc .tsr-boxcol-outer            .tsr-module-ipacksdc-item                  { color: #333333; background-color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item                  { color: #ffffff; background-color: #c41b79; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item a                { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-text      { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-link      { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-gray      { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-primary   { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-shade     { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-blue      { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-green     { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-orange    { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-pink      { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-purple    { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-turquoise { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-yellow    { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-lgray     { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-dgray     { color: #ffffff; }
.tsr-module-ipacksdc .tsr-boxcol-outer.is-choosen .tsr-module-ipacksdc-item .cs-cl-red       { color: #ffffff; }

.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  12.50000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  16.66666%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  25.00000%; }

/********************/
@media screen and (max-width: 1420px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  16.66666%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  25.00000%; }
}
/********************/
@media screen and (max-width: 1260px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  25.00000%; }
}
/********************/
@media screen and (max-width: 1140px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  25.00000%; }
}
/********************/
@media screen and (max-width: 1020px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  25.00000%; }
}
/********************/
@media screen and (max-width: 960px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  50.00000%; }
}
/********************/
@media screen and (max-width: 800px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width:  50.00000%; }
}
/********************/
@media screen and (max-width: 600px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer { width: 100.00000%; }
}

/********************/
@media screen and (max-width: 800px) {
.tsr-module-ipacksdc-08 .tsr-boxcol-outer            { display: none;  }
.tsr-module-ipacksdc-08 .tsr-boxcol-outer.is-choosen { display: block; }
.tsr-module-ipacksdc-08 .tsr-module-ipacksdc-xinfo   { display: block; }
}
/********************/
@media screen and (max-width: 600px) {
.tsr-module-ipacksdc-06 .tsr-boxcol-outer            { display: none;  }
.tsr-module-ipacksdc-06 .tsr-boxcol-outer.is-choosen { display: block; }
.tsr-module-ipacksdc-06 .tsr-module-ipacksdc-xinfo   { display: block; }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer            { display: none;  }
.tsr-module-ipacksdc-04 .tsr-boxcol-outer.is-choosen { display: block; }
.tsr-module-ipacksdc-04 .tsr-module-ipacksdc-xinfo   { display: block; }
}



