/******************************************/
/* DROPLIST */
.tsr-module-droplist {
  margin-bottom: -20px;
}
.tsr-module-droplist .tsr-module-droplist-item {
  margin-bottom: 20px;
}
.tsr-module-droplist .tsr-module-droplist-header {
  display: block;
  cursor: pointer;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding: 12px 34px 12px 16px;
  -webkit-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  background: #0083be;
  text-decoration: none;
}
.tsr-module-droplist .tsr-module-droplist-header:hover {
  color: #ffffff;
  background: #0083be;
  text-decoration: none;
}
.tsr-module-droplist .tsr-module-droplist-header:before {
  content: '\e669';
  display: block;
  position: absolute;
  width: 12px; height: 12px;
  top: 18px; right: 16px;
  font-family: 'ts-icons-all';
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tsr-module-droplist .tsr-module-droplist-header.is-choosen:before {
  content: '\e66b';
}
.tsr-module-droplist .tsr-module-droplist-footer.is-hidden {
  display: none;
}
.tsr-module-droplist .tsr-module-droplist-footer .tsr-module-droplist-pad {
  display: block;
  padding: 16px;
}
