/******************************************/
/* MODULE IPACKSBX */
.tsr-module-ipacksbx {}

.tsr-module-ipacksbx .tsr-module-ipacksbx-item {
  display: block;
  position: relative;
  padding: 20px 20px 70px;
  font-size: 15px;
  text-align: left;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  background: #ffffff;
}
.tsr-module-ipacksbx .tsr-module-ipacksbx-item-normal {
  cursor: pointer;
  text-decoration: none;
  padding: 20px 20px;
}

/* hover */

.tsr-module-ipacksbx .tsr-module-ipacksbx-item:hover,
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:focus,
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:active,
.tsr-module-ipacksbx .tsr-boxcol-inner:hover .tsr-module-ipacksbx-item {
  color: #ffffff;
  background: #0083be;
  text-decoration: none;
}
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:hover [class*='tsr-cl-'],
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:focus [class*='tsr-cl-'],
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:active [class*='tsr-cl-'],
.tsr-module-ipacksbx .tsr-boxcol-inner:hover .tsr-module-ipacksbx-item [class*='tsr-cl-'] {
  color: #ffffff;
}

/* elements */

.tsr-module-ipacksbx .tsr-module-ipacksbx-item .tsr-module-ipacksbx-title {
  color: #0083be;
}
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:hover  .tsr-module-ipacksbx-title,
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:focus  .tsr-module-ipacksbx-title,
.tsr-module-ipacksbx .tsr-module-ipacksbx-item:active .tsr-module-ipacksbx-title,
.tsr-module-ipacksbx .tsr-boxcol-inner:hover .tsr-module-ipacksbx-item .tsr-module-ipacksbx-title {
  color: #ffffff;
}

.tsr-module-ipacksbx .tsr-module-ipacksbx-btn {
  position: absolute;
  left: 20px; bottom: 20px;
}

.tsr-module-ipacksbx table.tsr-module-ipacksbx-table {
  caption-side: top;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-module-ipacksbx table.tsr-module-ipacksbx-table td {
  vertical-align: top;
  padding: 2px 0;
}
.tsr-module-ipacksbx table.tsr-module-ipacksbx-table td:first-child {
  padding-right: 40px;
  font-weight: bold;
}

/* grid */

.tsr-module-ipacksbx .tsr-boxgrid-06 .tsr-boxcol-outer { width:  16.66666%; }
.tsr-module-ipacksbx .tsr-boxgrid-04 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-03 .tsr-boxcol-outer { width:  33.33333%; }

/********************/
@media screen and (max-width: 1260px) {
.tsr-module-ipacksbx .tsr-boxgrid-06 .tsr-boxcol-outer { width:  25.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-04 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-module-ipacksbx .tsr-boxgrid-03 .tsr-boxcol-outer { width:  33.33333%; }
}
/********************/
@media screen and (max-width: 800px) {
.tsr-module-ipacksbx .tsr-boxgrid-06 .tsr-boxcol-outer { width:  33.33333%; }
.tsr-module-ipacksbx .tsr-boxgrid-04 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-03 .tsr-boxcol-outer { width:  50.00000%; }
}
/********************/
@media screen and (max-width: 600px) {
.tsr-module-ipacksbx .tsr-boxgrid-06 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-04 .tsr-boxcol-outer { width:  50.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-03 .tsr-boxcol-outer { width:  50.00000%; }
}
/********************/
@media screen and (max-width: 480px) {
.tsr-module-ipacksbx .tsr-boxgrid-06 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-04 .tsr-boxcol-outer { width: 100.00000%; }
.tsr-module-ipacksbx .tsr-boxgrid-03 .tsr-boxcol-outer { width: 100.00000%; }
}
/********************/
@media screen and (max-width: 480px) {

.tsr-module-ipacksbx .tsr-module-ipacksbx-pad {
  padding: 15px 10px;
}

}





