/******************************************/
/* GOOGLE MAPS */
.tsr-section-gmap {
  height: 600px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.tsr-section-gmap-offices {
  height: 600px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

/********************/
/* infowindow */
.tsr-gmap-infowindow {
  max-width: 280px;
}


/********************/

@media screen and (max-width: 800px) {

.tsr-section-gmap { height: 400px; }
.tsr-section-gmap-offices { height: 400px; }

}

/********************/

@media screen and (max-width: 480px) {

.tsr-section-gmap { height: 300px; }
.tsr-section-gmap-offices { height: 300px; }

}
