/******************************************/
/* CUSTOM FORMS */
/******************************************/

/******************************************/
/* custom labels */
/******************************************/

label.cc-label-cbox > input {
  vertical-align: top;
}
label.cc-label-cbox > span {
  font-weight: bold;
  line-height: 20px;
  vertical-align: top;
}
label.cc-label-cbox > span.cs-tx-normal {
  font-weight: normal;
}

/******************************************/
/* custom labels */
/******************************************/

label.cc-label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  cursor: default;
}
label.cc-label.cc-no-margin {
  margin-bottom: 0;
}

/******************************************/
/* errorbox */
/******************************************/

.tsr-forms .cc-errorbox {
  display: block;
  position: relative;
  font-size: 13px;
  line-height: 17px;
  padding: 12px 10px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #da552a;
  text-align: center;
}
.tsr-forms .cc-errorbox:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%; bottom: 100%;
  margin-left: -3px;
  width: 0; height: 0;
  border-style: solid;
  border-width: 0 3px 3px 3px;
  border-color: transparent transparent #da562a transparent;
  
}

/******************************************/
/* tsr text control */
/******************************************/
.tsr-forms input[type='text'],
.tsr-forms input[type='password'] {
  display: block;
  font-size: 15px;
  line-height: 21px;
  padding: 9px;
  width: 100%; height: 41px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
.tsr-forms input[type='text']:-webkit-autofill,
.tsr-forms input[type='password']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.tsr-forms input[type='text']:focus,
.tsr-forms input[type='text'].focus,
.tsr-forms input[type='text']:active,
.tsr-forms input[type='password']:focus,
.tsr-forms input[type='password'].focus,
.tsr-forms input[type='password']:active {
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #642887;
}
.tsr-forms input[type='text'][disabled],
.tsr-forms input[type='password'][disabled] {
  color: #bbbbbb;
  background-color: #eeeeee;
}
.tsr-forms input[type='text'][disabled]:focus,
.tsr-forms input[type='text'][disabled]:active,
.tsr-forms input[type='password'][disabled]:focus,
.tsr-forms input[type='password'][disabled]:active {
  border: 1px solid #dbdbdb;
}

.tsr-forms .invalid input[type='text'],
.tsr-forms .invalid input[type='password'] {
  color: #000000;
  background-color: #ffece3;
  border: 1px solid #da552a;
}
.tsr-forms .invalid input[type='text']:focus,
.tsr-forms .invalid input[type='text']:active,
.tsr-forms .invalid input[type='password']:focus,
.tsr-forms .invalid input[type='password']:active {
  border: 1px solid #642887;
}
.tsr-forms .invalid input[type='text']:-webkit-autofill,
.tsr-forms .invalid input[type='password']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffece3 inset
}

/******************************************/
/* tsr textarea */
/******************************************/
.tsr-forms textarea {
  display: block;
  font-size: 15px;
  line-height: 21px;
  padding: 9px;
  width: 100%; min-height: 41px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
.tsr-forms textarea:focus,
.tsr-forms textarea.focus,
.tsr-forms textarea:active {
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #642887;
}
.tsr-forms textarea[disabled] {
  color: #bbbbbb;
  background-color: #eeeeee;
}
.tsr-forms textarea[disabled]:focus,
.tsr-forms textarea[disabled]:active {
  border: 1px solid #dbdbdb
}

.tsr-forms .invalid textarea {
  color: #000000;
  background-color: #ffece3;
  border: 1px solid #da552a;
}
.tsr-forms .invalid textarea:focus,
.tsr-forms .invalid textarea:active {
  border: 1px solid #642887;
}

/******************************************/
/* text control */
/******************************************/
span.cc-text {
  width: auto; height: auto;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

span.cc-text input[type='text'],
span.cc-text input[type='password'] {
  display: block;
  font-size: 15px;
  line-height: 21px;
  padding: 9px;
  width: 100%; height: 41px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
span.cc-text input[type='text']:-webkit-autofill,
span.cc-text input[type='password']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
span.cc-text input[type='text']:focus,
span.cc-text input[type='text'].focus,
span.cc-text input[type='text']:active,
span.cc-text input[type='password']:focus,
span.cc-text input[type='password'].focus,
span.cc-text input[type='password']:active {
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #642887;
}
span.cc-text input[type='text'][disabled],
span.cc-text input[type='password'][disabled] {
  color: #bbbbbb;
  background-color: #eeeeee;
}
span.cc-text input[type='text'][disabled]:focus,
span.cc-text input[type='text'][disabled]:active,
span.cc-text input[type='password'][disabled]:focus,
span.cc-text input[type='password'][disabled]:active {
  border: 1px solid #dbdbdb;
}

.invalid span.cc-text input[type='text'],
.invalid span.cc-text input[type='password'] {
  color: #000000;
  background-color: #ffece3;
  border: 1px solid #da552a;
}
.invalid span.cc-text input[type='text']:focus,
.invalid span.cc-text input[type='text']:active,
.invalid span.cc-text input[type='password']:focus,
.invalid span.cc-text input[type='password']:active {
  border: 1px solid #642887;
}
.invalid span.cc-text input[type='text']:-webkit-autofill,
.invalid span.cc-text input[type='password']:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffece3 inset
}

/******************************************/
/* textarea control */
/******************************************/
span.cc-text textarea {
  display: block;
  font-size: 15px;
  line-height: 21px;
  padding: 9px;
  width: 100%; min-height: 41px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}
span.cc-text textarea:focus,
span.cc-text textarea.focus,
span.cc-text textarea:active {
  outline: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #642887;
}
span.cc-text textarea[disabled] {
  color: #bbbbbb;
  background-color: #eeeeee;
}
span.cc-text textarea[disabled]:focus,
span.cc-text textarea[disabled]:active {
  border: 1px solid #dbdbdb
}

.invalid span.cc-text textarea {
  color: #000000;
  background-color: #ffece3;
  border: 1px solid #da552a;
}
.invalid span.cc-text textarea:focus,
.invalid span.cc-text textarea:active {
  border: 1px solid #642887;
}

/******************************************/
/* select control */
/******************************************/
span.cc-select {
  width: 100%; height: auto;
  display: -moz-inline-stack;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; /* used by script */
  vertical-align: top;
  text-align: left;
}
span.cc-select-selected {
  z-index: 10;
}

span.cc-select span {
  display: block;
}

span.cc-select .cc-states {
  display: block;
  top: 0; left: 0;
  position: absolute;
  width: 100%; height: 100%;
}

span.cc-select .cc-selector {
  display: block;
}

span.cc-select .cc-optionor {
  display: none;
}

span.cc-select .cc-options {
  overflow: auto;
  max-height: 200px;
}
span.cc-select .cc-options .cc-option {
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  *white-space: normal; /* ie6, ie7 */
  margin: 0; padding: 0;
}

/* state overrides */
span.cc-select .cc-state-selected,
span.cc-select .cc-state-selected-hover,
span.cc-select .cc-state-selected-focused,
span.cc-select .cc-state-selected-focused-hover {
  z-index: 30;
}
span.cc-select .cc-state-selected .cc-optionor,
span.cc-select .cc-state-selected-hover .cc-optionor,
span.cc-select .cc-state-selected-focused .cc-optionor,
span.cc-select .cc-state-selected-focused-hover .cc-optionor {
  z-index: 10;
  display: block;
}

/* control element */
span.cc-select a {
  outline: none;
  display: block;
  cursor: default;
  white-space: nowrap;
}
span.cc-select a,
span.cc-select a:link,
span.cc-select a:hover,
span.cc-select a:active,
span.cc-select a:visited {
  text-decoration: none;
}
span.cc-select a span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

/* customization */
span.cc-select {
  width: 100%; height: 41px;
}

span.cc-select .cc-holder {
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #888888;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
}

span.cc-select .cc-optionor {
  top: -1px;
  border-top: 1px solid #dbdbdb;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

span.cc-select a {
  color: #888888;
  font-size: 15px;
  line-height: 21px;
  width: auto; height: 21px;
  line-height: 21px;
  padding: 9px; /* control pad */
  padding-right: 29px; /* control right pad */
  background: transparent url('../../tsr-components/tsr-forms/jquery.custom-select.png') no-repeat right 9px;
}
span.cc-select a,
span.cc-select a:link,
span.cc-select a:hover,
span.cc-select a:active,
span.cc-select a:visited {
  color: #888888;
}
span.cc-select a span {
  width: auto; height: 21px; /* ie */
}

/* optionor layer */
span.cc-select .cc-options {
  max-height: 199px;
  -webkit-border-bottom-left-radius: 3px;
  -ms-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
span.cc-select .cc-options .cc-option {
  cursor: pointer;
  color: #888888;
  font-size: 15px;
  line-height: 21px;
  padding: 9px;
  border-bottom: 1px solid #dbdbdb;
}
span.cc-select .cc-options .cc-option-last {
  padding-bottom: 10px;
  border-bottom: 0 none;
}

span.cc-select .cc-options .cc-option-selected {
  color: #888888;
  background-color: #f8f8f8;
}
span.cc-select .cc-options .cc-option-hover {
  color: #FFFFFF;
  background-color: #642887;
}

/* states */
span.cc-select .cc-state-disabled .cc-holder,
span.cc-select .cc-state-disabled-hover .cc-holder,
span.cc-select .cc-state-disabled-focused .cc-holder,
span.cc-select .cc-state-disabled-focused-hover .cc-holder,
span.cc-select .cc-state-disabled-selected-focused .cc-holder,
span.cc-select .cc-state-disabled-selected-focused-hover .cc-holder {
  background-color: #eeeeee;
}

span.cc-select .cc-state-selected a,
span.cc-select .cc-state-selected-hover a,
span.cc-select .cc-state-selected-focused a,
span.cc-select .cc-state-selected-focused-hover a,
span.cc-select .cc-state-disabled-selected a,
span.cc-select .cc-state-disabled-selected-hover a,
span.cc-select .cc-state-disabled-selected-focused a,
span.cc-select .cc-state-disabled-selected-focused-hover a {
  background-position: right -92px;
}

span.cc-select .cc-state-focused a,
span.cc-select .cc-state-focused-hover a,
span.cc-select .cc-state-selected a,
span.cc-select .cc-state-selected-hover a,
span.cc-select .cc-state-selected-focused a,
span.cc-select .cc-state-selected-focused-hover a,
span.cc-select .cc-state-disabled-focused a,
span.cc-select .cc-state-disabled-focused-hover a,
span.cc-select .cc-state-disabled-selected-focused a,
span.cc-select .cc-state-disabled-selected-focused-hover a {
  color: #000000;
}

.invalid span.cc-select .cc-holder {
  color: #333333;
  background-color: #ffece3;
  border: 1px solid #da552a;
}
.invalid span.cc-select a {
  color: #000000;
}
.invalid span.cc-select a,
.invalid span.cc-select a:link,
.invalid span.cc-select a:hover,
.invalid span.cc-select a:active,
.invalid span.cc-select a:visited {
  color: #000000;
}
.invalid span.cc-select .cc-optionor {
  border-top: 1px solid #da552a;
  background-color: #ffffff;
}

/******************************************/
/* radio control */
/******************************************/
span.cc-radio {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 0;
}
span.cc-radio span {
  display: block;
  overflow: hidden;
}
span.cc-radio .cc-states {
  display: block;
}

/* control element */
span.cc-radio a {
  outline: none;
  display: block;
  cursor: default;
  overflow: hidden;
}
span.cc-radio a,
span.cc-radio a:link,
span.cc-radio a:hover,
span.cc-radio a:active,
span.cc-radio a:visited {
  text-decoration: none;
}

/* customization */
span.cc-radio,
span.cc-radio a {
  width: 20px; height: 20px;
}

/* states */
span.cc-radio .cc-states {
  background: transparent url('../../tsr-components/tsr-forms/jquery.custom-radio.png') no-repeat center center;
}
span.cc-radio .cc-state                          { background-position:   0px   0px; }
span.cc-radio .cc-state-hover                    { background-position:   0px   0px; }
span.cc-radio .cc-state-focused                  { background-position:   0px -20px; }
span.cc-radio .cc-state-focused-hover            { background-position:   0px -20px; }
span.cc-radio .cc-state-disabled                 { background-position:   0px -40px; }
span.cc-radio .cc-state-disabled-focused         { background-position:   0px -60px; }

span.cc-radio .cc-state-checked                  { background-position: -20px   0px; }
span.cc-radio .cc-state-checked-hover            { background-position: -20px   0px; }
span.cc-radio .cc-state-checked-focused          { background-position: -20px -20px; }
span.cc-radio .cc-state-checked-focused-hover    { background-position: -20px -20px; }
span.cc-radio .cc-state-checked-disabled         { background-position: -20px -40px; }
span.cc-radio .cc-state-checked-disabled-focused { background-position: -20px -60px; }

.invalid span.cc-radio .cc-state                          { background-position:   0px  -80px; }
.invalid span.cc-radio .cc-state-hover                    { background-position:   0px  -80px; }
.invalid span.cc-radio .cc-state-focused                  { background-position:   0px -100px; }
.invalid span.cc-radio .cc-state-focused-hover            { background-position:   0px -100px; }
.invalid span.cc-radio .cc-state-disabled                 { background-position:   0px -120px; }
.invalid span.cc-radio .cc-state-disabled-focused         { background-position:   0px -120px; }

.invalid span.cc-radio .cc-state-checked                  { background-position: -20px  -80px; }
.invalid span.cc-radio .cc-state-checked-hover            { background-position: -20px  -80px; }
.invalid span.cc-radio .cc-state-checked-focused          { background-position: -20px -100px; }
.invalid span.cc-radio .cc-state-checked-focused-hover    { background-position: -20px -100px; }
.invalid span.cc-radio .cc-state-checked-disabled         { background-position: -20px -120px; }
.invalid span.cc-radio .cc-state-checked-disabled-focused { background-position: -20px -120px; }

/******************************************/
/* checkbox control */
/******************************************/
span.cc-checkbox {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  font-size: 0;
}
span.cc-checkbox span {
  display: block;
  overflow: hidden;
}
span.cc-checkbox .cc-states {
  display: block;
}

/* control element */
span.cc-checkbox a {
  outline: none;
  display: block;
  cursor: default;
  overflow: hidden;
}
span.cc-checkbox a,
span.cc-checkbox a:link,
span.cc-checkbox a:hover,
span.cc-checkbox a:active,
span.cc-checkbox a:visited {
  text-decoration: none;
}

/* customization */
span.cc-checkbox,
span.cc-checkbox a {
  width: 20px; height: 20px;
}

/* states */
span.cc-checkbox .cc-states {
  background: transparent url('../../tsr-components/tsr-forms/jquery.custom-checkbox.png') no-repeat center center;
}
span.cc-checkbox .cc-state                          { background-position:   0px   0px; }
span.cc-checkbox .cc-state-hover                    { background-position:   0px   0px; }
span.cc-checkbox .cc-state-focused                  { background-position:   0px -20px; }
span.cc-checkbox .cc-state-focused-hover            { background-position:   0px -20px; }
span.cc-checkbox .cc-state-disabled                 { background-position:   0px -40px; }
span.cc-checkbox .cc-state-disabled-focused         { background-position:   0px -60px; }

span.cc-checkbox .cc-state-checked                  { background-position: -20px   0px; }
span.cc-checkbox .cc-state-checked-hover            { background-position: -20px   0px; }
span.cc-checkbox .cc-state-checked-focused          { background-position: -20px -20px; }
span.cc-checkbox .cc-state-checked-focused-hover    { background-position: -20px -20px; }
span.cc-checkbox .cc-state-checked-disabled         { background-position: -20px -40px; }
span.cc-checkbox .cc-state-checked-disabled-focused { background-position: -20px -60px; }

.invalid span.cc-checkbox .cc-state                          { background-position:   0px  -80px; }
.invalid span.cc-checkbox .cc-state-hover                    { background-position:   0px  -80px; }
.invalid span.cc-checkbox .cc-state-focused                  { background-position:   0px -100px; }
.invalid span.cc-checkbox .cc-state-focused-hover            { background-position:   0px -100px; }
.invalid span.cc-checkbox .cc-state-disabled                 { background-position:   0px -120px; }
.invalid span.cc-checkbox .cc-state-disabled-focused         { background-position:   0px -120px; }

.invalid span.cc-checkbox .cc-state-checked                  { background-position: -20px  -80px; }
.invalid span.cc-checkbox .cc-state-checked-hover            { background-position: -20px  -80px; }
.invalid span.cc-checkbox .cc-state-checked-focused          { background-position: -20px -100px; }
.invalid span.cc-checkbox .cc-state-checked-focused-hover    { background-position: -20px -100px; }
.invalid span.cc-checkbox .cc-state-checked-disabled         { background-position: -20px -120px; }
.invalid span.cc-checkbox .cc-state-checked-disabled-focused { background-position: -20px -120px; }

/******************************************/
/* INPUT PLACEHOLDERS */

              textarea:-webkit-input-placeholder,
    input[type='text']:-webkit-input-placeholder,
  input[type='search']:-webkit-input-placeholder,
input[type='password']:-webkit-input-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea:-moz-placeholder,
    input[type='text']:-moz-placeholder,
  input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea::-moz-placeholder,
    input[type='text']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea:-ms-input-placeholder,
    input[type='text']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea::placeholder,
    input[type='text']::placeholder,
  input[type='search']::placeholder,
input[type='password']::placeholder {
  color: #a0a0a0; opacity: 1;
}
              textarea.placeholder,
    input[type='text'].placeholder,
  input[type='search'].placeholder,
input[type='password'].placeholder {
  color: #a0a0a0;
}
