/******************************************/
/* CUSTOM LAYOUT */
.tsr-section-custom-layout {
  padding: 40px 0;
  background: transparent none no-repeat center top;
}
.tsr-section-custom-layout .tsr-com-custom-layout-logo {
  margin-bottom: 100px;
}

.tsr-section-custom-layout.tsr-scl-subscribe { min-height: 600px; background-image: url('../../tsr-sections/tsr-custom-layout/tsr-subscribe.png'); }
.tsr-section-custom-layout.tsr-scl-subscribe .tsr-scl-subscribe-content { margin-right: 50%; }

/********************/

@media screen and (max-width: 1020px) {

.tsr-section-custom-layout {
  padding-left: 15px;
  padding-right: 15px;
}
.tsr-section-custom-layout .tsr-com-custom-layout-logo {
  margin-bottom: 20px;
}

.tsr-section-custom-layout.tsr-scl-subscribe { min-height: none; background-image: none; }
.tsr-section-custom-layout.tsr-scl-subscribe .tsr-scl-subscribe-content { margin-right: 0; }

}
