/******************************************/
/* TEMPLATE */

.tsr-section-template {}

/********************/
@media only screen and (max-width: 1900px) {
}

/********************/
@media only screen and (max-width: 1420px) {
}

/********************/
@media only screen and (max-width: 1260px) {
}

/********************/
@media only screen and (max-width: 1140px) {
}

/********************/
@media only screen and (max-width: 1020px) {
}

/********************/
@media only screen and (max-width: 800px) {
}

/********************/
@media only screen and (max-width: 600px) {
}

/********************/
@media only screen and (max-width: 480px) {
}
