/******************************************/
/* SECTION BREADCRUMBS */
.tsr-section-breadcrumbs {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background: #f6f6f6;
}

/********************/
.tsr-section-breadcrumbs ul {
  font-size: 0; line-height: 0;
  margin: 0; padding: 15px 0;
}
.tsr-section-breadcrumbs li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0; padding: 0;
}
.tsr-section-breadcrumbs li:last-child,
.tsr-section-breadcrumbs li.last-child {
  padding-right: 0;
}
/* arrow */
.tsr-section-breadcrumbs li:after {
  font-size: 0; line-height: 0;
  content: url('../../tsr-sections/tsr-breadcrumbs/arrow.png');
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  width: 12px; height: 12px;
  padding: 6px;
}
.tsr-section-breadcrumbs li.last-child:after { display: none; }
.tsr-section-breadcrumbs li:last-child:after { display: none; }

.tsr-section-breadcrumbs a {
  font-size: 13px;
  line-height: 22px;
  color: #642887;
  text-decoration: none;
}
.no-touch .tsr-section-breadcrumbs a:hover,
.no-touch .tsr-section-breadcrumbs a:focus,
.no-touch .tsr-section-breadcrumbs a:active {
  color: #642887;
  text-decoration: underline;
}
.tsr-section-breadcrumbs li.last-child a,
.tsr-section-breadcrumbs li.last-child a.hover {
  color: #666666;
}
.tsr-section-breadcrumbs li:last-child a,
.tsr-section-breadcrumbs li:last-child a:hover {
  color: #666666;
}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-breadcrumbs ul {
  padding-left: 15px;
  padding-right: 15px;
}

}
