.notification_wp{
    float: left;
    width: 100%;
    height: 40px;
    background-color: #FF6319;

}
.notification_wp .not_content{
    color: #FFF;
    font-size: 16px;
    line-height: 42px;
}
.notification_wp .close{
    float: right;
    width: 16px;
    height: 16px;
    margin-top: 13px;
    background-image: url("../tsr-images/cross_icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.notification_wp .close:hover{
    opacity: 0.6;
}
.notification_wp .timer{
    float: left;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    margin-top: 13px;
    background-image: url("../tsr-images/clock_icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.notification_wp a:link{
    color: #FFF;
}
.notification_wp a:visited{
    color: #FFF;
}
.notification_wp a:active{
    color: #FFF;
}
.notification_wp a:focus{
    color: #FFF;
}
