 #table table, #plane_table table {
        width:100% !important;
        border-collapse: collapse;
        caption-side: top;
        border-spacing: 0;
      }
      #table tr:first-child td:first-child{
        /*display: table-caption;
        border: 1px solid #dbdbdb;
        border-bottom: 0 none;
        background-color: #f6f6f6;
        padding: 10px 15px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;*/
        font-size: 18px;
        border-right: 0;
      }
      #table tr:first-child td:last-child{
        border-left: 0;
       }

      #table tr td:first-child{
        width:33.3333% !important;
        font-style: normal;
        font-weight: bold;
      }
      #table tr td,  #plane_table table tr td {

            vertical-align: top;
          border: 1px solid #dbdbdb;
          padding: 10px 15px;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
