.tsr-com-social-buttons > a,.tsr-com-social-buttons > span,.tsr-section-footer .tsr-footer-social > a,.tsr-section-footer .tsr-footer-social > span {
display:inline-block;
font-size:15px;
line-height:normal;
white-space:normal;
vertical-align:middle;
margin-right:10px;
color:#fff;
}

.tsr-com-social-buttons > a,.tsr-section-footer .tsr-footer-social > a {
height:26px;
width:26px;
-webkit-border-radius:4px;
-ms-border-radius:4px;
border-radius:4px;
background:#4e256b;
text-align:center;
margin-right:6px;
}

.tsr-com-social-buttons > a:after,.tsr-section-footer .tsr-footer-social > a:after {
content:'\e02c';
display:block;
line-height:26px;
speak:none;
font-size:13px;
font-weight:400;
font-variant:normal;
font-family:ts-icons-all;
text-transform:none;
text-align:center;
color:#fff;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}

.tsr-com-social-buttons a.tsr-footer-icon-facebook,.tsr-footer-social a.tsr-footer-icon-facebook {
background:#3b5998;
}

.tsr-com-social-buttons a.tsr-footer-icon-youtube,.tsr-section-footer .tsr-footer-social a.tsr-footer-icon-youtube {
background:#e31b2c;
}

.tsr-com-social-buttons a.tsr-footer-icon-twitter,.tsr-section-footer .tsr-footer-social a.tsr-footer-icon-twitter {
background:#2caae1;
}

.tsr-com-social-buttons a.tsr-footer-icon-google,.tsr-section-footer .tsr-footer-social a.tsr-footer-icon-google {
background:#e74b32;
}