/******************************************/
/* MODULE SDROP */
.tsr-module-sdrop {}

/********************/
/* sdrop elements */
.tsr-module-sdrop .tsr-module-sdrop-btn {}
.tsr-module-sdrop .tsr-module-sdrop-cnt { display: none; }

/********************/
/* sdrop styles */
.tsr-module-sdrop.tsr-style-01 .tsr-module-sdrop-btn,
.tsr-module-sdrop.tsr-style-01 .tsr-module-sdrop-btn:hover {
  cursor: pointer;
  text-decoration: none;
  -webkit-touch-callout: none; /* webkit */
  -webkit-user-select: none; /* chrome6+, safari3.1+, opera15+ */
  -moz-user-select: none; /* fx2+ */
  -ms-user-select: none; /* ie10+ */
  user-select: none; /* no-support */
}
.tsr-module-sdrop.tsr-style-01 .tsr-module-sdrop-btn:after {
  content: '\e676';
  font-family: 'ts-icons-all';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  margin: 0 4px;
}
.tsr-module-sdrop.tsr-style-01 .tsr-module-sdrop-btn.is-selected:after {
  content: '\e674';
}
