/******************************************/
/* MODULE SHOPSTEPS */

/********************/
/* tsr-shopsteps */
.tsr-shopsteps { overflow: hidden; width: 100%; }
.tsr-shopsteps .tsr-shopsteps-mobile { display: none; }
.tsr-shopsteps .tsr-shopsteps-desktop { display: block; margin-right: -10px; }
.tsr-shopsteps .tsr-shopsteps-steps {
  width: 100%;
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-shopsteps .tsr-shopsteps-step {
  display: table-cell;
  width: 25%; padding-right: 10px;
  vertical-align: bottom;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.tsr-shopsteps .tsr-shopsteps-steps-02 .tsr-shopsteps-step { width: 50.000000%; }
.tsr-shopsteps .tsr-shopsteps-steps-03 .tsr-shopsteps-step { width: 33.333333%; }
.tsr-shopsteps .tsr-shopsteps-steps-04 .tsr-shopsteps-step { width: 25.000000%; }
.tsr-shopsteps .tsr-shopsteps-steps-05 .tsr-shopsteps-step { width: 20.000000%; }
.tsr-shopsteps .tsr-shopsteps-steps-06 .tsr-shopsteps-step { width: 16.666666%; }
.tsr-shopsteps .tsr-shopsteps-text {
  font-size: 13px;
  font-weight: bold;
  padding: 0px 6px 6px;
  color: #909090;
}
.tsr-shopsteps .tsr-shopsteps-line {
  position: relative;
  width: auto; height: 26px;
  background-color: #dbdbdb;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
      -ms-border-radius: 4px;
          border-radius: 4px;
}
.tsr-shopsteps .tsr-shopsteps-line:after {
  content: '';
  display: none;
  z-index: 1;
  position: absolute;
  right: -26px; top: 0;
  width: 100%; height: 26px;
  background: transparent url('../../tsr-components/tsr-shopsteps/tsr-steps.png') no-repeat right center;
}
.tsr-shopsteps .tsr-shopsteps-step.tsr-passed .tsr-shopsteps-text { }
.tsr-shopsteps .tsr-shopsteps-step.tsr-passed .tsr-shopsteps-line { background-color: #00b48c; }
.tsr-shopsteps .tsr-shopsteps-step.tsr-active .tsr-shopsteps-text { color: #333333; }
.tsr-shopsteps .tsr-shopsteps-step.tsr-active .tsr-shopsteps-line { background-color: #00b48c; }
.tsr-shopsteps .tsr-shopsteps-step.tsr-active .tsr-shopsteps-line:after { display: block; }
.tsr-shopsteps .tsr-shopsteps-step:last-child.tsr-active .tsr-shopsteps-line:after { display: none; }
@media screen and (max-width: 1020px) {
.tsr-shopsteps .tsr-shopsteps-mobile { display: block; }
.tsr-shopsteps .tsr-shopsteps-desktop { display: none; }
}
