/******************************************/
/* COMPONENT LIGHTBOX */


/********************/
/* layout a */
.tsr-lightbox-layout-a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 80px;
}

/* cols a */
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-a {
  display: table;
  border 0 none;
  border-spacing: 0
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-a .tsr-lightbox-layout-a-col {
  display: table-cell;
  width: 260px;
  padding: 10px 20px;
  border-left: 1px solid #dbdbdb;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-a .tsr-lightbox-layout-a-col:first-child {
  border-left: 0 none;
}

/* cols b */
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-b {
  display: table;
  border 0 none;
  border-spacing: 0
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-b .tsr-lightbox-layout-a-col {
  display: table-cell;
  width: 260px;
  padding: 10px 20px;
  border-left: 1px solid #dbdbdb;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-b .tsr-lightbox-layout-a-col:first-child {
  border-left: 0 none;
}

.tsr-lightbox-layout-a .tsr-lightbox-layout-a-form-pad {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-field {
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-button {
  min-width: 200px;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-field-combo {
  width: 100%;
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-field-combo .tsr-lightbox-layout-a-field-a,
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-field-combo .tsr-lightbox-layout-a-field-b {
  display: table-cell;
  vertical-align: middle;
}
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-field-combo .tsr-lightbox-layout-a-field-a { width: 200px; padding-left: 30px; }
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-field-combo .tsr-lightbox-layout-a-field-b { width:  30px; text-align: right; }




/********************/
@media screen and (max-width: 940px) {

.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-b { display: block; width: auto; }
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-b .tsr-lightbox-layout-a-col {
  display: block;
  width: auto;
  padding: 20px 0;
  border-left: 0 none;
}

}



/********************/
@media screen and (max-width: 800px) {

.tsr-lightbox-layout-a {
  padding: 40px 40px;
}

}



/********************/
@media screen and (max-width: 600px) {

.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-a { display: block; width: auto; }
.tsr-lightbox-layout-a .tsr-lightbox-layout-a-cols-a .tsr-lightbox-layout-a-col {
  display: block;
  width: auto;
  padding: 20px 0;
  border-left: 0 none;
}

}



/********************/
@media screen and (max-width: 480px) {

.tsr-lightbox-layout-a {
  padding: 40px 15px;
}

}


