/******************************************/
/* POPUP STICKER */

.tsr-section-popup-sticker {
  height: 0;
}
.tsr-section-popup-sticker .tsr-popup-sticker-element {
  z-index: 200;
  position: fixed;
  visibility: hidden; opacity: 0.0;
  -webkit-transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease, transform 0.5s ease;
     -moz-transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease, transform 0.5s ease;
          transition: visibility 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease, transform 0.5s ease;
}
.tsr-section-popup-sticker .tsr-popup-sticker-element,
.tsr-section-popup-sticker .tsr-popup-sticker-element[data-sticker-pos='bot'] {
  top: auto; right: 0; bottom: 0; left: 0;
  -webkit-transform: translate(0%, 100%);
     -moz-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
}
.tsr-section-popup-sticker .tsr-popup-sticker-element,
.tsr-section-popup-sticker .tsr-popup-sticker-element[data-sticker-pos='top'] {
  top: 0; right: 0; bottom: auto; left: 0;
  -webkit-transform: translate(0%, -100%);
     -moz-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
}
.tsr-section-popup-sticker .tsr-popup-sticker-element[data-sticker-visible] {
  visibility: visible; opacity: 1.0;
  -webkit-transform: translate(0%, 0%);
     -moz-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}


/********************/
.tsr-section-popup-sticker .tsr-popup-sticker-close {
  position: absolute;
  top: 20px; right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: #642887;
}

/********************/
.tsr-section-popup-sticker .tsr-popup-sticker-theme-a {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #333333;
  background-color: #f6f6f6;
}
@media screen and (max-width: 800px) {
.tsr-section-popup-sticker .tsr-popup-sticker-theme-a {
  padding-left:  15px;
  padding-right: 15px;
}
}



