/******************************************/
/* UBOARD SERVICES */
.tsr-uboard-services {}

/********************/
/* service */
.tsr-uboard-service             { margin-top: 20px; position: relative; }
.tsr-uboard-service:first-child { margin-top:  0px; }

/********************/
/* modal */
.tsr-uboard-service .tsr-uboard-service-modal {
  z-index: 10;
  display: none;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
}
.tsr-uboard-service.is-hidden .tsr-uboard-service-modal {
  display: block;
  background: #ffffff;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* ie8 */
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* ie8 */
  filter: alpha(opacity=80);/* ie5-ie7 */
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.tsr-uboard-service.is-loading .tsr-uboard-service-modal {
  display: block;
  background: #ffffff url('../../tsr-sections/tsr-uboard/tsr-uboard-loader.gif') no-repeat center center;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* ie8 */
  filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; /* ie8 */
  filter: alpha(opacity=80);/* ie5-ie7 */
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

/********************/
/* service head */
.tsr-uboard-service-head {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.tsr-uboard-service-head-col-01 {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.tsr-uboard-service-head-col-02 {
  display: table-cell;
  width: 1px;
  padding: 0;
  padding-left: 20px;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}

/********************/
/* service body */
.tsr-uboard-service-body {
  display: none;
}
.tsr-uboard-service-body-pad {
  padding: 20px 0 20px;
}
.tsr-uboard-service-body-close {
  margin-top: 20px;
}

/********************/
/* service collapse */
.tsr-uboard-service-collapse {
  cursor: pointer;
  background: transparent url('../../tsr-core/tsr-images/tsr-tria-link-top.png') no-repeat left center;
  padding-left: 11px;
  font-size: 13px;
  font-weight: bold;
  color: #642887;
}


/********************/
/* service link */
.tsr-uboard-service-link {
  display: block;
  cursor: pointer;
  color: #333333;
}
.tsr-uboard-service-link:hover {
  text-decoration: none;
}

.tsr-uboard-service-image     { float: left; width: 40px; height: 40px; }
.tsr-uboard-service-image img { width: 40px; height: 40px; }
.tsr-uboard-service-desc      { margin-left: 50px; }
.tsr-uboard-service-title     { font-size: 18px; color: #642887; font-weight: bold; }
.tsr-uboard-service-title-add { color: #333333; font-weight: normal; }
.tsr-uboard-service-intro     { font-size: 13px; }
.tsr-uboard-service-price     { font-size: 13px; line-height: 26px; }
.tsr-uboard-service-stats     { font-size: 13px; line-height: 26px; font-weight: bold; }

/********************/
@media screen and (max-width: 800px) {


}

/********************/
@media screen and (max-width: 600px) {

.tsr-uboard-service             { margin-top: 40px; }
.tsr-uboard-service:first-child { margin-top:  0px; }

.tsr-uboard-service-head {
  display: block;
  width: auto;
}
.tsr-uboard-service-head-col-01 {
  display: block;
  width: auto;
}
.tsr-uboard-service-head-col-02 {
  display: block;
  width: auto;
  padding: 0;
  margin-top: 10px;
  text-align: left;
}

}
