/******************************************/
/* UBOARD MYPRODS */
.tsr-section-uboard-myprods {
  padding: 40px 0;
}

/********************/
/* myprods */
.tsr-uboard-myprods {
  margin-top: -10px;
}
.tsr-uboard-myprods .tsr-col-00 { width: 23.00000%; }

/********************/
/* myprod head */
.tsr-uboard-myprods .tsr-uboard-myprod {
  margin-top: 20px;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-head {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 20px;
  color: #ffffff;
  background: #0083be;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-head:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%; left: 50%;
  border: solid transparent;
  height: 0; width: 0;
  pointer-events: none;
  border-color: rgba(0, 131, 190, 0);
  border-top-color: #0083be;
  border-width: 5px;
  margin-left: -5px;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-body {
  padding-top: 20px;
}

/********************/
/* myprod serv */
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv {
  margin-bottom: 20px;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv-desc {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv-name {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: bottom;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv-info {
  display: table-cell;
  padding: 0;
  padding-left: 10px;
  text-align: right;
  vertical-align: bottom;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv-ttip {
  display: none;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv-pbar {
  display: block;
  margin-top: 4px;
  overflow: hidden;
  position: relative;
  width: auto; height: 4px;
  background: #e0e0e0;
}
.tsr-uboard-myprods .tsr-uboard-myprod .tsr-uboard-myprod-serv-pbar i {
  display: block;
  overflow: hidden;
  left: 0; top: 0;
  position: absolute;
  width: 0; height: 100%;
  background: #00b38c;
}


/********************/
@media screen and (max-width: 1260px) {

.tsr-uboard-myprods .tsr-col-00 { width: 48.00000%; }

}

/********************/
@media screen and (max-width: 800px) {

.tsr-section-uboard-myprods {
  padding: 20px 15px;
}

.tsr-uboard-myprods .tsr-col-00 { width: 98.00000%; }

}
