/******************************************/
/* UBOARD DASHBOARD */
.tsr-section-uboard-dashboard {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  background: #f6f6f6;
  padding: 20px 0;
}

.tsr-dashboard-grid .tsr-spacetop     { margin-top: 2%; }
.tsr-dashboard-grid .tsr-spacetop-dbl { margin-top: 4%; }

/********************/
/* wrap */
.tsr-dashboard-block-wrap {
  background-color: #ffffff;
}
.tsr-dashboard-block-wrap-head {
  padding: 20px;
  border-bottom: 1px solid #dbdbdb;
}
.tsr-dashboard-block-wrap-body {
  padding: 20px;
}
.tsr-dashboard-block-wrap-head-tb {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.tsr-dashboard-block-wrap-head-tb-lt {
  display: table-cell;
  padding: 0;
  text-align: left;
  vertical-align: middle;
}
.tsr-dashboard-block-wrap-head-tb-gt {
  display: table-cell;
  padding: 0;
  padding-left: 20px;
  text-align: right;
  vertical-align: middle;
}

/********************/
/* proinfo */
.tsr-dashboard-proinfo-tb {
  display: table;
  border: 0 none;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.tsr-dashboard-proinfo-tb-lt {
  display: table-cell;
  width: 100%;
  padding: 0;
  text-align: left;
  vertical-align: top;
}
.tsr-dashboard-proinfo-tb-gt {
  display: table-cell;
  width: 0.1%;
  padding: 0;
  padding-left: 10px;
  text-align: right;
  vertical-align: top;
}
.tsr-dashboard-proinfo-tb .tsr-dashboard-proinfo-pbar {
  display: block;
  overflow: hidden;
  position: relative;
  width: auto; height: 41px;
  background: #e0e0e0;
}
.tsr-dashboard-proinfo-tb .tsr-dashboard-proinfo-pbar i {
  display: block;
  overflow: hidden;
  left: 0; top: 0;
  position: absolute;
  width: 0; height: 100%;
  background: #c41b79;
}

/********************/
/* banner */
.tsr-dashboard-promo {
  display: block;
  height: 180px;
  background: transparent none no-repeat center center;
}


/********************/
/* instl */
.tsr-dashboard-instl {
  position: relative;
  text-align: center;
}
.tsr-dashboard-instl .tsr-dashboard-instl-date {
  font-size: 40px;
}
.tsr-dashboard-instl .tsr-dashboard-instl-hr {
  font-size: 0;
  overflow: hidden;
  border: 0 none;
  width: 50%; height: 1px;
  margin: 15px auto;
  background-color: #dbdbdb;
}





/********************/
@media screen and (max-width: 800px) {

.tsr-section-uboard-dashboard {
  padding: 0 15px 30px;
  background: #ffffff;
}

.tsr-dashboard-grid .tsr-spacetop     { margin-top: 30px; }
.tsr-dashboard-grid .tsr-spacetop-dbl { margin-top: 30px; }

.tsr-dashboard-grid                   { margin-left: 0%; margin-right: 0%; }
.tsr-dashboard-grid.tsr-grid-separate { margin-left: 0%; margin-right: 0%; }
.tsr-dashboard-grid.tsr-grid-collapse { margin-left: 0%; margin-right: 0%; }
.tsr-dashboard-grid                   [class*='tsr-col-'] { width:  100.0%; margin-left: 0%; margin-right: 0%; }
.tsr-dashboard-grid.tsr-grid-separate [class*='tsr-col-'] { width:  100.0%; margin-left: 0%; margin-right: 0%; }
.tsr-dashboard-grid.tsr-grid-collapse [class*='tsr-col-'] { width:  100.0%; margin-left: 0%; margin-right: 0%; }

.tsr-dashboard-block-wrap-head,
.tsr-dashboard-block-wrap-body {
  padding: 15px 0;
}

.tsr-dashboard-block-wrap-head-tb {
  display: block;
  width: auto;
}
.tsr-dashboard-block-wrap-head-tb-lt {
  display: block;
  text-align: left;
  vertical-align: baseline;
}
.tsr-dashboard-block-wrap-head-tb-gt {
  padding: 0;
  padding-top: 10px;
  display: block;
  text-align: left;
  vertical-align: baseline;
}

.tsr-dashboard-instl .tsr-dashboard-instl-date {
  font-size: 26px;
}

}
