/******************************************/
/* COMPONENT COLOR SELECT */

/********************/
/* colors */
.tsr-color-select ul {
  display: block;
  list-style: none;
  margin: 0; padding: 0;
  font-size: 0; line-height: 0;
}
.tsr-color-select ul > li {
  cursor: pointer;
  list-style-type: none;
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  margin: 5px; padding: 0;
  width: 15px; height: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.tsr-color-select ul > li:after {
  content: '';
  cursor: pointer;
  display: block;
  visibility: hidden;
  z-index: -1;
  position: absolute;
  left: -6px; top: -6px;
  width: 25px; height: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  border: 1px solid #dbdbdb;
}
.tsr-color-select ul > li.is-choosen:after {
  visibility: visible;
}
