/******************************************/
/* MODULE DATACALC */
.tsr-module-dtcalc {}
.tsr-module-dtcalc-grid {
  margin-left:  -2%;
  margin-right: -2%;
}
.tsr-module-dtcalc-cell {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  width: 100%; min-height: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  width: 50.00000000%;
  padding-left:  1.92307692%;
  padding-right: 1.92307692%;
  padding-top:    15px;
  padding-bottom: 15px;
}

.tsr-module-dtcalc .tsr-module-dtcalc-ln-a { margin-bottom: 4px; }
.tsr-module-dtcalc .tsr-module-dtcalc-ln-b { margin-bottom: 8px; }
.tsr-module-dtcalc .tsr-module-dtcalc-ln-c { margin-bottom: 0px; }

.tsr-module-dtcalc .tsr-module-dtcalc-name { line-height: 0; float: left; margin-bottom: 4px; }
.tsr-module-dtcalc .tsr-module-dtcalc-icon { line-height: 0;      vertical-align: middle; font-size:  0px; margin-right: 8px; color: #642887; }
.tsr-module-dtcalc .tsr-module-dtcalc-icon:before { font-size: 30px; vertical-align: middle; display: -moz-inline-stack; display: inline-block; }
.tsr-module-dtcalc .tsr-module-dtcalc-text { line-height: 30px; vertical-align: middle; font-size: 20px; }
.tsr-module-dtcalc .tsr-module-dtcalc-xval { line-height: 30px; float: right; margin-left: 20px; margin-bottom: 4px; }
.tsr-module-dtcalc .tsr-module-dtcalc-xmin { float: left;  font-size: 15px; }
.tsr-module-dtcalc .tsr-module-dtcalc-xmax { float: right; font-size: 15px; }



/********************/
@media screen and (max-width: 1260px) {
.tsr-module-dtcalc .tsr-module-dtcalc-text { line-height: 20px; vertical-align: middle; font-size: 15px; font-weight: bold; }
.tsr-module-dtcalc .tsr-module-dtcalc-xval { line-height: 20px; float: right;  }
}
@media screen and (max-width: 1020px) {
.tsr-module-dtcalc-grid { border-top: 1px solid #dbdbdb; }
.tsr-module-dtcalc-cell { width: 100.00000000%; border-bottom: 1px solid #dbdbdb; }

}

